force-app/main/default/flows/AcceptCases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_new_case_collection</name>
        <label>Add to new case collection</label>
        <locationX>280</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>socvAcceptedCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Accept_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner</name>
        <label>Assign Owner</label>
        <locationX>80</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>sovCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vUId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_new_case_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Owner_User</name>
        <label>Case Owner User?</label>
        <locationX>79</locationX>
        <locationY>337</locationY>
        <defaultConnector>
            <targetReference>Assign_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovCase.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accept_Cases</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_Flow</name>
        <label>Run Flow?</label>
        <locationX>424</locationX>
        <locationY>109</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bypassFlow</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accept_Cases</targetReference>
            </connector>
            <label>Run</label>
        </rules>
    </decisions>
    <formulas>
        <name>bypassFlow</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Bypass_Automation_Settings__c.Bypass_Flows__c}</expression>
    </formulas>
    <interviewLabel>AcceptCases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AcceptCases</label>
    <loops>
        <name>Accept_Cases</name>
        <label>Accept Cases</label>
        <locationX>191</locationX>
        <locationY>253</locationY>
        <assignNextValueToReference>sovCase</assignNextValueToReference>
        <collectionReference>socvCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Case_Owner_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>fuCases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>fuCases</name>
        <label>fuCases</label>
        <locationX>491</locationX>
        <locationY>265</locationY>
        <inputReference>socvAcceptedCases</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Run_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>socvAcceptedCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>socvCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sovCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vUId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
