force-app/main/default/flows/Auto_select_GST_Based_On_Metadata_When_CN_DN_Is_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_GST_Rate</name>
        <label>Assign GST Rate</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>GSTRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST_Rate.GST__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GST_Rate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_GST_Rate</name>
        <label>Assign GST Rate</label>
        <locationX>402</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>GSTRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GST_Rate.GST__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GST_Rate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Mark_Not_Within_Date_Range</name>
        <label>Mark Not Within Date Range</label>
        <locationX>1498</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>NotWithinPreviousDateRange</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_GST_Rate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_GST_Rate</name>
        <label>Assign GST Rate</label>
        <locationX>970</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>GSTRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_GST_Rate.GST__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_GST_Rate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_GST_Rate</name>
        <label>Assign GST Rate</label>
        <locationX>1234</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>GSTRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_GST_Rate.GST__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_GST_Rate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Date_of_Sales_Invoice</name>
        <label>Get Date of Sales Invoice</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>DateofSalesInvoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Invoice__r.Sales_Invoice_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_GST_Rate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Date_of_Voided_Payment_Receipt</name>
        <label>Get Date of Voided Payment Receipt</label>
        <locationX>882</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>DateofVoidedPaymentReceipt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Voided_Payment_Receipt__r.Receipt_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_GST_Rate1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_Not_Within_Date_Range</name>
        <label>Mark Not Within Date Range</label>
        <locationX>666</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>NotWithinPreviousDateRange</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GST_Rate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Is_End_Date_Null</name>
        <label>Is End Date Null?</label>
        <locationX>1168</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Is_Within_Date_Range</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_GST_Rate.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NotWithinPreviousDateRange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_GST_Rate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Is_Within_Date_Range</name>
        <label>Is Within Date Range?</label>
        <locationX>1366</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Mark_Not_Within_Date_Range</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_GST_Rate.Star_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateofVoidedPaymentReceipt</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_GST_Rate.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateofVoidedPaymentReceipt</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_GST_Rate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_End_Date_Null</name>
        <label>Is End Date Null?</label>
        <locationX>336</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Is_Within_Date_Range</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GST_Rate.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NotWithinPreviousDateRange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_GST_Rate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_GST_Applicable</name>
        <label>Is GST Applicable?</label>
        <locationX>1023</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GST_Applicable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Invoice_Populated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Within_Date_Range</name>
        <label>Is Within Date Range?</label>
        <locationX>534</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Mark_Not_Within_Date_Range</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GST_Rate.Star_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateofSalesInvoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GST_Rate.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateofSalesInvoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_GST_Rate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Invoice_Populated</name>
        <label>Sales Invoice Populated?</label>
        <locationX>553</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Voided_Payment_Receipt_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Invoice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Date_of_Sales_Invoice</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Voided_Payment_Receipt_Populated</name>
        <label>Voided Payment Receipt Populated?</label>
        <locationX>1056</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Voided_Payment_Receipt__r.Receipt_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Date_of_Voided_Payment_Receipt</targetReference>
            </connector>
            <label>Yess</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Auto-select GST % Based On Metadata When CN/DN Is Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto-select GST % Based On Metadata When CN/DN Is Created</label>
    <loops>
        <name>Copy_1_of_GST_Rate</name>
        <label>GST Rate</label>
        <locationX>882</locationX>
        <locationY>935</locationY>
        <collectionReference>Get_GST_Rate1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Is_End_Date_Null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_GST_by_Voided_Payment_Receipt_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>GST_Rate</name>
        <label>GST Rate</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_GST_Rate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_End_Date_Null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_GST_by_Sales_Invoice_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_GST_Rate</name>
        <label>Get GST Rate</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GST_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Star_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>DateofSalesInvoice</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GST_Rate__mdt</object>
        <sortField>Star_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GST_Rate1</name>
        <label>Get GST Rate</label>
        <locationX>882</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_GST_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Star_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>DateofVoidedPaymentReceipt</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GST_Rate__mdt</object>
        <sortField>Star_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_GST_by_Sales_Invoice_Date</name>
        <label>Update GST by Sales Invoice Date</label>
        <locationX>50</locationX>
        <locationY>1583</locationY>
        <inputAssignments>
            <field>GST__c</field>
            <value>
                <elementReference>GSTRate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GST_by_Voided_Payment_Receipt_Date</name>
        <label>Update GST by Voided Payment Receipt Date</label>
        <locationX>882</locationX>
        <locationY>1703</locationY>
        <inputAssignments>
            <field>GST__c</field>
            <value>
                <elementReference>GSTRate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>897</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_GST_Applicable</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>Sales_Invoice__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Voided_Payment_Receipt__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Credit_Note__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DateofSalesInvoice</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Sales_Invoice__r.Sales_Invoice_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>DateofVoidedPaymentReceipt</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GSTRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NotWithinPreviousDateRange</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
