force-app/main/default/flows/Auto_Populate_Warehouse_Parking_Lot_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Parking_Lot_No_Less_Than_Or_Equals_9</name>
        <label>Parking Lot No Less Than Or Equals 9 ?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Update_Warehouse_Parking_Lot_Name_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckLength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Warehouse_Parking_Lot_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CheckLength</name>
        <dataType>Number</dataType>
        <expression>LEN(TEXT({!$Record.Parking_Lot_No__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>WarehouseParkingLotName</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Warehouse__c}) + &apos;-&apos; +TEXT({!$Record.Warehouse_Section__c} ) + &apos;-&apos; + &apos;00&apos; +TEXT({!$Record.Parking_Lot_No__c})</expression>
    </formulas>
    <formulas>
        <name>WarehouseParkingLotName1</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Warehouse__c}) + &apos;-&apos; +TEXT({!$Record.Warehouse_Section__c} ) + &apos;-&apos; + &apos;0&apos; +TEXT({!$Record.Parking_Lot_No__c})</expression>
    </formulas>
    <interviewLabel>Auto Populate Warehouse Parking Lot Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Populate Warehouse Parking Lot Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Warehouse_Parking_Lot_Name</name>
        <label>Update Warehouse Parking Lot Name</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>WarehouseParkingLotName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Warehouse_Parking_Lot_Name_1</name>
        <label>Update Warehouse Parking Lot Name 1</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>WarehouseParkingLotName1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Parking_Lot_No_Less_Than_Or_Equals_9</targetReference>
        </connector>
        <object>Warehouse_Parking_Lot__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
