force-app/main/default/flows/Breakdown_and_RSA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Accident</name>
        <label>Assign Accident</label>
        <locationX>57</locationX>
        <locationY>537</locationY>
        <assignmentItems>
            <assignToReference>vProblem</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Accident;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Battery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Battery</name>
        <label>Assign Battery</label>
        <locationX>254</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>vProblem</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Battery;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Electrical</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Electrical</name>
        <label>Assign Electrical</label>
        <locationX>403</locationX>
        <locationY>529</locationY>
        <assignmentItems>
            <assignToReference>vProblem</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Electrical;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Tyre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error</name>
        <label>Assign Error</label>
        <locationX>411</locationX>
        <locationY>163</locationY>
        <assignmentItems>
            <assignToReference>vErrText1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Select either/both Technician Service, Tow Service</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_1</name>
        <label>Assign Error 1</label>
        <locationX>682</locationX>
        <locationY>261</locationY>
        <assignmentItems>
            <assignToReference>vErrText1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Input the required information for Technician Service</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_2</name>
        <label>Assign Error 2</label>
        <locationX>861</locationX>
        <locationY>207</locationY>
        <assignmentItems>
            <assignToReference>vErrText1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Input the required information for Tow Service</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Others</name>
        <label>Assign Others</label>
        <locationX>817</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>vProblem</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Others;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Summary_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tyre</name>
        <label>Assign Tyre</label>
        <locationX>629</locationX>
        <locationY>537</locationY>
        <assignmentItems>
            <assignToReference>vProblem</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Tyre;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Others</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>vAccident</name>
        <choiceText>Accident</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accident</stringValue>
        </value>
    </choices>
    <choices>
        <name>vBattery</name>
        <choiceText>Battery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Battery</stringValue>
        </value>
    </choices>
    <choices>
        <name>vElectrical</name>
        <choiceText>Electrical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electrical</stringValue>
        </value>
    </choices>
    <choices>
        <name>vOthers</name>
        <choiceText>Others</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Others</stringValue>
        </value>
    </choices>
    <choices>
        <name>vTyre</name>
        <choiceText>Tyre</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tyre</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_both_are_not_selected</name>
        <label>Check both are not selected</label>
        <locationX>401</locationX>
        <locationY>46</locationY>
        <defaultConnector>
            <targetReference>Is_Tech_Service_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Tech_and_Tow_Service_not_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Technician_Service</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tow_Service</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error</targetReference>
            </connector>
            <label>Check for Tech and Tow Service not selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Accident</name>
        <label>Check for Accident</label>
        <locationX>47</locationX>
        <locationY>339</locationY>
        <defaultConnector>
            <targetReference>Check_for_Battery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Accident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Problem_s</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Accident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Accident</targetReference>
            </connector>
            <label>Is Accident</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Battery</name>
        <label>Check for Battery</label>
        <locationX>245</locationX>
        <locationY>369</locationY>
        <defaultConnector>
            <targetReference>Check_for_Electrical</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Battery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Problem_s</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Battery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Battery</targetReference>
            </connector>
            <label>Is Battery</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Electrical</name>
        <label>Check for Electrical</label>
        <locationX>393</locationX>
        <locationY>363</locationY>
        <defaultConnector>
            <targetReference>Check_for_Tyre</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Electrical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Problem_s</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Electrical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Electrical</targetReference>
            </connector>
            <label>Is Electrical</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Others</name>
        <label>Check for Others</label>
        <locationX>807</locationX>
        <locationY>345</locationY>
        <defaultConnector>
            <targetReference>Summary_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Others</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Problem_s</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Others</targetReference>
            </connector>
            <label>Is Others</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Tyre</name>
        <label>Check for Tyre</label>
        <locationX>616</locationX>
        <locationY>355</locationY>
        <defaultConnector>
            <targetReference>Check_for_Others</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Tyre</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Problem_s</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tyre</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tyre</targetReference>
            </connector>
            <label>Is Tyre</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Tech_Service_Selected</name>
        <label>Is Tech Service Selected</label>
        <locationX>689</locationX>
        <locationY>61</locationY>
        <defaultConnector>
            <targetReference>Is_Tow_Service_Checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Tech_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Technician_Service</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vTechServRemLen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_1</targetReference>
            </connector>
            <label>Is Tech Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Tow_Service_Checked</name>
        <label>Is Tow Service Checked</label>
        <locationX>888</locationX>
        <locationY>65</locationY>
        <defaultConnector>
            <targetReference>Check_for_Accident</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tow_Service_Checked_and_Other_Fields_Inputted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tow_Service</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vTowServRemLen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_2</targetReference>
            </connector>
            <label>Is Tow Service Checked and Other Fields Inputted</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>vCarParkType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Carpark_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vTechDutyTeam</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Duty_Team__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vTechName</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Name__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vTowLoca</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tow_Location__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vTowServDutyTeam</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tow_Service_Duty_Team__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vTowTruck</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tow_Truck__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vWheelDrive</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Wheel_Drive__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>vTechServRemLen</name>
        <dataType>Number</dataType>
        <expression>LEN({!Techinician_Remarks})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>vTowServRemLen</name>
        <dataType>Number</dataType>
        <expression>LEN({!Remarks_for_Tow_Service})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Breakdown and RSA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Breakdown and RSA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Case_Record</name>
        <label>Create a Case Record</label>
        <locationX>1031</locationX>
        <locationY>85</locationY>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>vRegRec.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carpark_Type__c</field>
            <value>
                <elementReference>vCarParkType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vContRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>Owner_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duty_Team__c</field>
            <value>
                <elementReference>vTechDutyTeam</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Franchise__c</field>
            <value>
                <elementReference>vFranchiseSel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Contact_Name__c</field>
            <value>
                <elementReference>Key_Contact_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Contact_Number__c</field>
            <value>
                <elementReference>vKeyContactPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Location_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Vehicle__c</field>
            <value>
                <elementReference>vRegRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Problem_Remarks__c</field>
            <value>
                <elementReference>Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Problem__c</field>
            <value>
                <elementReference>vProblem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Taxi_Voucher__c</field>
            <value>
                <elementReference>Taxi_Voucher</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technician_Activation_Date_Time__c</field>
            <value>
                <elementReference>Technician_Activation_Date_and_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technician_Name__c</field>
            <value>
                <elementReference>Technician_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technician_Service_Remarks__c</field>
            <value>
                <elementReference>Techinician_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technician_Service__c</field>
            <value>
                <elementReference>Technician_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tow_Location__c</field>
            <value>
                <elementReference>vTowLoca</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tow_Service_Activation_Date_Time__c</field>
            <value>
                <elementReference>Tow_Service_Activation_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tow_Service_Duty_Team__c</field>
            <value>
                <elementReference>vTowServDutyTeam</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tow_Service_Technician__c</field>
            <value>
                <elementReference>Tow_Service_Operator_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tow_Service__c</field>
            <value>
                <elementReference>Tow_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tow_Servicing_Remarks__c</field>
            <value>
                <elementReference>Remarks_for_Tow_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tow_Truck__c</field>
            <value>
                <elementReference>vTowTruck</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wheel_Drive__c</field>
            <value>
                <elementReference>vWheelDrive</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>Breakdown_and_Roadside_Assistance_Entry</name>
        <label>Breakdown and Roadside Assistance - Entry</label>
        <locationX>154</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_both_are_not_selected</targetReference>
        </connector>
        <fields>
            <name>Text1</name>
            <fieldText>{!vText1}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Registration_No</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vRegRec.Registration_Number__c</elementReference>
            </defaultValue>
            <fieldText>Registration No.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Franchise</name>
            <extensionName>c:HorizontalRadioButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>vFranchiseOptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>vFranchiseOptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioGroupLabel</name>
                <value>
                    <stringValue>Franchise</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vFranchiseSel</assignToReference>
                <name>selectedVal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>blankline1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text2</name>
            <fieldText>{!vText2}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Owner_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vContRec.Name_with_Salutation__c</elementReference>
            </defaultValue>
            <fieldText>Owner Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Owner_Contact</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vContRec.MobilePhone</elementReference>
            </defaultValue>
            <fieldText>Owner Contact</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Key_Contact_Name</name>
            <dataType>String</dataType>
            <fieldText>Key Contact Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>KeyContactPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Key Contact Phone</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vKeyContactPhone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Text3</name>
            <fieldText>SOURCE OF PROBLEM</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Problem_s</name>
            <choiceReferences>vAccident</choiceReferences>
            <choiceReferences>vBattery</choiceReferences>
            <choiceReferences>vElectrical</choiceReferences>
            <choiceReferences>vTyre</choiceReferences>
            <choiceReferences>vOthers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Problem (s)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Remarks</name>
            <fieldText>Remarks</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Car_Park_Type</name>
            <choiceReferences>vCarParkType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Car Park Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LocationPostalCode</name>
            <extensionName>c:GetPostalAddr</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vLocation</assignToReference>
                <name>selectedAddr</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Text4</name>
            <fieldText>{!vTechServText}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Technician_Service</name>
            <dataType>Boolean</dataType>
            <fieldText>Technician Service</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Duty_Team</name>
            <choiceReferences>vTechDutyTeam</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Duty Team</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Technician_Name</name>
            <dataType>String</dataType>
            <fieldText>Technician Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Technician_Activation_Date_and_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Technician Activation Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Techinician_Remarks</name>
            <fieldText>Remarks for Technician</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TowServiceText</name>
            <fieldText>{!vTowServiceText}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tow_Service</name>
            <dataType>Boolean</dataType>
            <fieldText>Tow Service</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Taxi_Voucher</name>
            <dataType>Boolean</dataType>
            <fieldText>Taxi Voucher</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tow_Service_Duty_Team</name>
            <choiceReferences>vTowServDutyTeam</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tow Service Duty Team</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tow_Service_Operator_Name</name>
            <dataType>String</dataType>
            <fieldText>Tow Service - Operator Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tow_Service_Activation_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Tow Service Activation Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tow_Location</name>
            <choiceReferences>vTowLoca</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tow Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Wheel_Drive</name>
            <choiceReferences>vWheelDrive</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Wheel Drive</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tow_Truck</name>
            <choiceReferences>vTowTruck</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tow Truck</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Remarks_for_Tow_Service</name>
            <fieldText>Remarks for Tow Service</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>153</locationX>
        <locationY>227</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Breakdown_and_Roadside_Assistance_Entry</targetReference>
        </connector>
        <fields>
            <name>vErrMsg</name>
            <fieldText>{!vErrText1}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary_Screen</name>
        <label>Summary Screen</label>
        <locationX>1031</locationX>
        <locationY>279</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_a_Case_Record</targetReference>
        </connector>
        <fields>
            <name>Location_Address</name>
            <defaultValue>
                <stringValue>{!vLocation}</stringValue>
            </defaultValue>
            <fieldText>Location/Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Breakdown_and_Roadside_Assistance_Entry</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>vErrMsg1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!vErrText1}</text>
    </textTemplates>
    <textTemplates>
        <name>vTechServText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;Font color=&quot;blue&quot;&gt; TECHNICIAN SERVICE &lt;/font&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>vText1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;font color=&quot;blue&quot;&gt; VEHICLE INFORMATION &lt;/font&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>vText2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;font color=&quot;blue&quot;&gt; CUSTOMER INFORMATION &lt;/font&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>vTowServiceText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;Font color=&quot;blue&quot;&gt; TOW SERVICE &lt;/font&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCaseRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vContId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vContRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>vErrText1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Input the required information for Technician Service</stringValue>
        </value>
    </variables>
    <variables>
        <name>vFranchiseOptions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>MB,MIT,KIA,CIT,Maxus,BYD,DS</stringValue>
        </value>
    </variables>
    <variables>
        <name>vFranchiseSel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vKeyContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vProblem</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProblems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Accident,Battery,Electrical,Tyre,Others</stringValue>
        </value>
    </variables>
    <variables>
        <name>vProblemSel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRecType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRegRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Registered_Vehicle__c</objectType>
    </variables>
</Flow>
