force-app/main/default/flows/Change_Request_Particulars_and_Vehicle_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Count</name>
        <label>Add Count Q1</label>
        <locationX>1055</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>vCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Answer_for_Q2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Count_Q2</name>
        <label>Add Count Q2</label>
        <locationX>1351</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>vCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Q3_Answer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Count_Q3</name>
        <label>Add Count Q3</label>
        <locationX>1532</locationX>
        <locationY>659</locationY>
        <assignmentItems>
            <assignToReference>vCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Q4_Answer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Count_Q4</name>
        <label>Add Count Q4</label>
        <locationX>1715</locationX>
        <locationY>1059</locationY>
        <assignmentItems>
            <assignToReference>vCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Q5_Answer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Count_Q5</name>
        <label>Add Count Q5</label>
        <locationX>1099</locationX>
        <locationY>941</locationY>
        <assignmentItems>
            <assignToReference>vCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Q6_Answer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Count_Q6</name>
        <label>Add Count Q6</label>
        <locationX>746</locationX>
        <locationY>893</locationY>
        <assignmentItems>
            <assignToReference>vCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Fail_or_Pass</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ContId</name>
        <label>Assign ContId</label>
        <locationX>749</locationX>
        <locationY>43</locationY>
        <assignmentItems>
            <assignToReference>vContId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vContRec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Customer_Authentication_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vehicle_and_Contact_Id</name>
        <label>Assign Vehicle and Contact Id</label>
        <locationX>286</locationX>
        <locationY>585</locationY>
        <assignmentItems>
            <assignToReference>vContId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vContRec.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRegVeh</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vRegVehRec.Registration_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_of_Vehicle_Registration_Number</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>vChgParti</name>
        <choiceText>Change of Particulars</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change of Particulars</stringValue>
        </value>
    </choices>
    <choices>
        <name>vChgVehi</name>
        <choiceText>Change of Vehicle Registration Number</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change of Vehicle Registration Number</stringValue>
        </value>
    </choices>
    <constants>
        <name>vQ1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1) What is your DOB? </stringValue>
        </value>
    </constants>
    <constants>
        <name>vQ2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>2) What is your Mobile Number?</stringValue>
        </value>
    </constants>
    <constants>
        <name>vQ3</name>
        <dataType>String</dataType>
        <value>
            <stringValue>3) What is your Email Address?</stringValue>
        </value>
    </constants>
    <constants>
        <name>vQ4</name>
        <dataType>String</dataType>
        <value>
            <stringValue>4) What is your Postal Code?</stringValue>
        </value>
    </constants>
    <constants>
        <name>vQ5</name>
        <dataType>String</dataType>
        <value>
            <stringValue>5) What  is your car brand?</stringValue>
        </value>
    </constants>
    <constants>
        <name>vQ6</name>
        <dataType>String</dataType>
        <value>
            <stringValue>6) When did you last service your car? (under vehicle info)</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Fail_or_Pass</name>
        <label>Check Fail or Pass</label>
        <locationX>638</locationX>
        <locationY>1057</locationY>
        <defaultConnector>
            <targetReference>Customer_Authentication_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Count_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_of_Particulars</targetReference>
            </connector>
            <label>Check Count &gt;= 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_Answer_for_Q1</name>
        <label>Count Answer for Q1</label>
        <locationX>1052</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>Count_Answer_for_Q2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_Q1_Ans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQ1Ans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Correct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Count</targetReference>
            </connector>
            <label>For Q1 Ans</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_Answer_for_Q2</name>
        <label>Count Answer for Q2</label>
        <locationX>1365</locationX>
        <locationY>285</locationY>
        <defaultConnector>
            <targetReference>Count_Q3_Answer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_Q2_Ans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQ2Ans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Correct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Count_Q2</targetReference>
            </connector>
            <label>For Q2 Ans</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_Q3_Answer</name>
        <label>Count Q3 Answer</label>
        <locationX>1705</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Count_Q4_Answer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_Q3_Ans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQ3Ans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Correct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Count_Q3</targetReference>
            </connector>
            <label>For Q3 Ans</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_Q4_Answer</name>
        <label>Count Q4 Answer</label>
        <locationX>1761</locationX>
        <locationY>809</locationY>
        <defaultConnector>
            <targetReference>Count_Q5_Answer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_Q4_Ans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQ4Ans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Correct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Count_Q4</targetReference>
            </connector>
            <label>For Q4 Ans</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_Q5_Answer</name>
        <label>Count Q5 Answer</label>
        <locationX>1087</locationX>
        <locationY>713</locationY>
        <defaultConnector>
            <targetReference>Count_Q6_Answer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_Q5_Ans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQ5Ans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Correct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Count_Q5</targetReference>
            </connector>
            <label>For Q5 Ans</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_Q6_Answer</name>
        <label>Count Q6 Answer</label>
        <locationX>739</locationX>
        <locationY>727</locationY>
        <defaultConnector>
            <targetReference>Check_Fail_or_Pass</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_Q6_Ans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQ6Answ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Correct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Count_Q6</targetReference>
            </connector>
            <label>For Q6 Ans</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Selection</name>
        <label>Verify Selection</label>
        <locationX>341</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Get_Vehicle_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Change_Particulars</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change of Particulars</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Details</targetReference>
            </connector>
            <label>Is Change Particulars</label>
        </rules>
    </decisions>
    <interviewLabel>Change Request - Particulars and Vehicle Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Request - Particulars and Vehicle Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Case_Record</name>
        <label>Create a Case Record</label>
        <locationX>811</locationX>
        <locationY>1170</locationY>
        <inputAssignments>
            <field>CAQ1Ans__c</field>
            <value>
                <elementReference>vQ1Ans</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ2Ans__c</field>
            <value>
                <elementReference>vQ2Ans</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ3Ans__c</field>
            <value>
                <elementReference>vQ3Ans</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ4Ans__c</field>
            <value>
                <elementReference>vQ4Ans</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ5Ans__c</field>
            <value>
                <elementReference>vQ5Ans</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ6Ans__c</field>
            <value>
                <elementReference>vQ6Answ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Car_Registration_Number__c</field>
            <value>
                <elementReference>vRegVeh</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Category__c</field>
            <value>
                <elementReference>Select</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vContId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending for Documents</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Case_Record_Change_of_Car_Plate_Number</name>
        <label>Create a Case Record - Change of Car Plate Number</label>
        <locationX>125</locationX>
        <locationY>1143</locationY>
        <inputAssignments>
            <field>Car_Registration_Number__c</field>
            <value>
                <elementReference>vRegVeh</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Category__c</field>
            <value>
                <elementReference>Select</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vContId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending for Documents</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Case_Record_for_Change_of_Particulars</name>
        <label>Create a Case Record for Change of Particulars</label>
        <locationX>1235</locationX>
        <locationY>1245</locationY>
        <inputAssignments>
            <field>CAQ1Ans__c</field>
            <value>
                <elementReference>vQ1Ans</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ2Ans__c</field>
            <value>
                <elementReference>vQ2Ans</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ3Ans__c</field>
            <value>
                <elementReference>vQ3Ans</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ4Ans__c</field>
            <value>
                <elementReference>vQ4Ans</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ5Ans__c</field>
            <value>
                <elementReference>vQ5Ans</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ6Ans__c</field>
            <value>
                <elementReference>vQ6Answ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Category__c</field>
            <value>
                <elementReference>Select</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vContId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Details</name>
        <label>Get Contact Details</label>
        <locationX>575</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ContId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>vContRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Name_with_Salutation__c</queriedFields>
        <queriedFields>Address_Line_1__c</queriedFields>
        <queriedFields>Address_Line_2__c</queriedFields>
        <queriedFields>Address_Line_3__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_details_of_that_vehicle</name>
        <label>Get Contact details of that vehicle</label>
        <locationX>519</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Vehicle_and_Contact_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRegVehRec.Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>vContRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Name_with_Salutation__c</queriedFields>
        <queriedFields>Address_Line_1__c</queriedFields>
        <queriedFields>Address_Line_2__c</queriedFields>
        <queriedFields>Address_Line_3__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle_Details</name>
        <label>Get Vehicle Details</label>
        <locationX>274</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_details_of_that_vehicle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Registered_Vehicle__c</object>
        <outputReference>vRegVehRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Details</name>
        <label>Update Contact Details</label>
        <locationX>1233</locationX>
        <locationY>1059</locationY>
        <connector>
            <targetReference>Create_a_Case_Record_for_Change_of_Particulars</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Address_Line_1__c</field>
            <value>
                <elementReference>Address_Line_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_2__c</field>
            <value>
                <elementReference>Address_Line_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_3__c</field>
            <value>
                <elementReference>Address_Line_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>vContRec.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>vContRec.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Change_of_Particulars</name>
        <label>Change of Particulars</label>
        <locationX>1046</locationX>
        <locationY>1059</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Contact_Details</targetReference>
        </connector>
        <fields>
            <name>vEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>vContRec.Email</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vContRec.Email</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>vPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>vContRec.MobilePhone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile Phone</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vContRec.MobilePhone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Address_Line_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vContRec.Address_Line_1__c</elementReference>
            </defaultValue>
            <fieldText>Address Line 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vContRec.Address_Line_2__c</elementReference>
            </defaultValue>
            <fieldText>Address Line 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vContRec.Address_Line_3__c</elementReference>
            </defaultValue>
            <fieldText>Address Line 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Change_of_Vehicle_Registration_Number</name>
        <label>Change of  Vehicle Registration Number</label>
        <locationX>125</locationX>
        <locationY>871</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_a_Case_Record_Change_of_Car_Plate_Number</targetReference>
        </connector>
        <fields>
            <name>New_Registered_Vehicle_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vRegVeh</elementReference>
            </defaultValue>
            <fieldText>New Registered Vehicle Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Change_Request_Selection</name>
        <label>Change Request - Selection</label>
        <locationX>199</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Verify_Selection</targetReference>
        </connector>
        <fields>
            <name>Select</name>
            <choiceReferences>vChgParti</choiceReferences>
            <choiceReferences>vChgVehi</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Authentication_Questions</name>
        <label>Customer Authentication Questions</label>
        <locationX>897</locationX>
        <locationY>75</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Count_Answer_for_Q1</targetReference>
        </connector>
        <fields>
            <name>Question1</name>
            <fieldText>&lt;b&gt;{!vQ1}&lt;b/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1Ans</name>
            <extensionName>c:HorizontalRadioButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>vOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>vOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioGroupLabel</name>
                <value>
                    <stringValue>Q1 Answer</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vQ1Ans</assignToReference>
                <name>selectedVal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Line1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2</name>
            <fieldText>&lt;b&gt;{!vQ2}&lt;b/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2Ans</name>
            <extensionName>c:HorizontalRadioButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>vOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>vOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioGroupLabel</name>
                <value>
                    <stringValue>Q2 Answer</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vQ2Ans</assignToReference>
                <name>selectedVal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Line2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3</name>
            <fieldText>&lt;b&gt;{!vQ3}&lt;b/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3Ans</name>
            <extensionName>c:HorizontalRadioButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>vOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>vOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioGroupLabel</name>
                <value>
                    <stringValue>Q3 Answer</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vQ3Ans</assignToReference>
                <name>selectedVal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Line3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q4</name>
            <fieldText>&lt;b&gt;{!vQ4}&lt;b/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q4Ans</name>
            <extensionName>c:HorizontalRadioButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>vOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>vOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioGroupLabel</name>
                <value>
                    <stringValue>Q4 Answer</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vQ4Ans</assignToReference>
                <name>selectedVal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Line4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q5</name>
            <fieldText>&lt;b&gt;{!vQ5}&lt;b/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q5Ans</name>
            <extensionName>c:HorizontalRadioButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>vOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>vOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioGroupLabel</name>
                <value>
                    <stringValue>Q5 Answer</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vQ5Ans</assignToReference>
                <name>selectedVal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Line5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question6</name>
            <fieldText>&lt;b&gt;{!vQ6}&lt;b/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q6Ans</name>
            <extensionName>c:HorizontalRadioButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>vOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>vOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioGroupLabel</name>
                <value>
                    <stringValue>Q6 Answer</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vQ6Answ</assignToReference>
                <name>selectedVal</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Authentication_Status</name>
        <label>Customer Authentication Status</label>
        <locationX>639</locationX>
        <locationY>1221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_a_Case_Record</targetReference>
        </connector>
        <fields>
            <name>ErrMsg</name>
            <fieldText>{!vErrMsg}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Change_Request_Selection</startElementReference>
    <status>Obsolete</status>
    <textTemplates>
        <name>vBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dear {!vContRec.Name_with_Salutation__c},

We refer to your email dated &lt;Email Date&gt;. 

With regards to the change of particulars request, we have updated the necessary and it will take 1 working day for our system to reflect the changes.

If you did not authorise this change, please contact Customer Assistance at 64719111.

Thank you.</text>
    </textTemplates>
    <textTemplates>
        <name>vBody1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dear {!vContRec.Name_with_Salutation__c},

We refer to your email dated &lt;Email Date&gt;. 

With regards to the change of vehicle registration number request, we have updated the necessary and it will take 1 working day for our system to reflect the changes.

If you did not authorise this change, please contact Customer Assistance at 64719111.

Thank you.</text>
    </textTemplates>
    <textTemplates>
        <name>vErrMsg</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;font face=&quot;verdana&quot; color=&quot;red&quot;&gt;Customer Authentication is Failed! Send Email to Customer with form attachment. &lt;/font&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>vErrMsg1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;font face=&quot;verdana&quot; color=&quot;red&quot;&gt;Vehicle Should be selected first for this option. Please select Vehicle.&lt;/font&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>vSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Reply to change of particulars request (update completed)</text>
    </textTemplates>
    <textTemplates>
        <name>vSubject1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Reply to change of vehicle registration number request (update completed)</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vContId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vContRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>vCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Correct, Wrong</stringValue>
        </value>
    </variables>
    <variables>
        <name>vQ1Ans</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vQ2Ans</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vQ3Ans</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vQ4Ans</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vQ5Ans</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vQ6Answ</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vQ7Ans</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRegVeh</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRegVehRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Registered_Vehicle__c</objectType>
    </variables>
</Flow>
