force-app/main/default/flows/Compliment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>vP1</name>
        <choiceText>P1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P1</stringValue>
        </value>
    </choices>
    <choices>
        <name>vP2</name>
        <choiceText>P2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P2</stringValue>
        </value>
    </choices>
    <choices>
        <name>vP3</name>
        <choiceText>P3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P3</stringValue>
        </value>
    </choices>
    <choices>
        <name>vP4</name>
        <choiceText>P4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P4</stringValue>
        </value>
    </choices>
    <description>To enter Compliment cases</description>
    <dynamicChoiceSets>
        <name>vBranch</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Centre__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vBrandList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Brand__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vCaseOrigin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vCasePCCVList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PC_CV__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vCaseReasonList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vPCCV</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PC_CV__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vServiceCentre</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Centre__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Compliment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compliment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Case_Record</name>
        <label>Create a Case Record</label>
        <locationX>377</locationX>
        <locationY>100</locationY>
        <assignRecordIdToReference>vCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Compliment_Upload_Documents</targetReference>
        </connector>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>vRegVehRec.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand__c</field>
            <value>
                <elementReference>vBrandList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compliment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vContId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Franchise__c</field>
            <value>
                <elementReference>vRegVehRec.Franchise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>vCaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_CV__c</field>
            <value>
                <elementReference>vCasePCCVList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrincipalCaseCompliment__c</field>
            <value>
                <elementReference>Principal_Case_for_Compliment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>vCaseReasonList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Vehicle__c</field>
            <value>
                <elementReference>vRegVehRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Person_Advisor_Email__c</field>
            <value>
                <elementReference>Sales_Person_Sales_Advisor_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Centre__c</field>
            <value>
                <elementReference>vBranch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>Compliment_Upload_Documents</name>
        <label>Compliment - Upload Documents</label>
        <locationX>537</locationX>
        <locationY>100</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UploadDocuments</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Documents</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>vCaseId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <elementReference>FileFormatOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ContentDocumentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FileFormatOutput</assignToReference>
                <name>accept</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContentDocumentId</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vCaseId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FileUploadLabel</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Compliments</name>
        <label>Compliments</label>
        <locationX>209</locationX>
        <locationY>100</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_a_Case_Record</targetReference>
        </connector>
        <fields>
            <name>Case_Reason_for_Compliment</name>
            <choiceReferences>vCaseReasonList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Reason for Compliment</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Principal_Case_for_Compliment</name>
            <dataType>Boolean</dataType>
            <fieldText>Principal Case for Compliment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>line3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Brand</name>
            <choiceReferences>vBrandList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Brand</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Sales_Person_Sales_Advisor_Email</name>
            <dataType>String</dataType>
            <fieldText>Sales Person / Sales Advisor Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 7, 7); font-size: 18px;&quot;&gt;Enter a valid Email Address&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Sales_Person_Sales_Advisor_Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Branch</name>
            <choiceReferences>vBranch</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Center / Branch</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PC_CV</name>
            <choiceReferences>vCasePCCVList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PC / CV</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Origin</name>
            <choiceReferences>vCaseOrigin</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Priority</name>
            <choiceReferences>vP1</choiceReferences>
            <choiceReferences>vP2</choiceReferences>
            <choiceReferences>vP3</choiceReferences>
            <choiceReferences>vP4</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>vP3</defaultSelectedChoiceReference>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>43</locationX>
        <locationY>100</locationY>
        <connector>
            <targetReference>Compliments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>vErrMsgText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;FONT color=&quot;red&quot;&gt; {!ErrMsg1} &lt;/FONT&gt;</text>
    </textTemplates>
    <variables>
        <name>ContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrMsg1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue> Compliment does not require followup.</stringValue>
        </value>
    </variables>
    <variables>
        <name>FileFormatOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>.pdf, .jpg, .png</stringValue>
        </value>
    </variables>
    <variables>
        <name>FileUploadLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Upload Documents</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vApprName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Service_Cloud_Case_Approval_Process</stringValue>
        </value>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCaseReasonCompli</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCaseRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vContId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOriginList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOriginSel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vPCCVList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Passenger, Commercial</stringValue>
        </value>
    </variables>
    <variables>
        <name>vPCCVSel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRegVehRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Registered_Vehicle__c</objectType>
    </variables>
    <variables>
        <name>vUploadDocStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>YesNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Yes, No</stringValue>
        </value>
    </variables>
    <variables>
        <name>YesNoSelVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
