force-app/main/default/flows/Create_New_Case_when_Case_is_Closed_and_received_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Auto_reply_for_New_Case_Created_from_Old_Case_Closed</name>
        <label>Send Auto reply for New Case Created from Old Case Closed</label>
        <locationX>908</locationX>
        <locationY>225</locationY>
        <actionName>Case.Send_Autoresponse_for_New_Case_created_from_Closed_Case</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vNewCaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Contact_ID</name>
        <label>Check Contact ID</label>
        <locationX>537</locationX>
        <locationY>378</locationY>
        <defaultConnector>
            <targetReference>Create_a_Case_without_contact_id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Id_has_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOldCaseRec.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Case</targetReference>
            </connector>
            <label>Contact Id has value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_Flow</name>
        <label>Run Flow?</label>
        <locationX>475</locationX>
        <locationY>82</locationY>
        <defaultConnectorLabel>Bypass</defaultConnectorLabel>
        <rules>
            <name>Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bypassFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_default_Record_Type_Id</targetReference>
            </connector>
            <label>Run</label>
        </rules>
    </decisions>
    <formulas>
        <name>bypassFlow</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Bypass_Automation_Settings__c.Bypass_Flows__c}</expression>
    </formulas>
    <interviewLabel>Create New Case when Case is Closed and received email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Case when Case is Closed and received email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_Case_without_contact_id</name>
        <label>Create a Case without contact id</label>
        <locationX>773</locationX>
        <locationY>385</locationY>
        <assignRecordIdToReference>vNewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_New_Email_Message_from_Old</targetReference>
        </connector>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>vOldCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>P4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>vOldCaseRec.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>vEmailMsgRec.FromAddress</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>654</locationX>
        <locationY>225</locationY>
        <assignRecordIdToReference>vNewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_New_Email_Message_from_Old</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vOldCaseRec.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>vOldCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>P4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>vOldCaseRec.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>vEmailMsgRec.FromAddress</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Email_Message_from_Old</name>
        <label>Create New Email Message from Old</label>
        <locationX>772</locationX>
        <locationY>225</locationY>
        <connector>
            <targetReference>Send_Auto_reply_for_New_Case_Created_from_Old_Case_Closed</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>vEmailMsgRec.FromAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incoming</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>vNewCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>vEmailMsgRec.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>vEmailMsgRec.TextBody</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_default_Record_Type_Id</name>
        <label>Get Case default Record Type Id</label>
        <locationX>90</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Email2Case_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enquiry and Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Email2Case_Queue</name>
        <label>Get Case Email2Case Queue</label>
        <locationX>267</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_EmailMessage_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unassigned Email Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>vQueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_EmailMessage_Record</name>
        <label>Get EmailMessage Record</label>
        <locationX>418</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Case_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vEmailMsgID</elementReference>
            </value>
        </filters>
        <object>EmailMessage</object>
        <outputReference>vEmailMsgRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BccAddress</queriedFields>
        <queriedFields>CcAddress</queriedFields>
        <queriedFields>FirstOpenedDate</queriedFields>
        <queriedFields>ValidatedFromAddress</queriedFields>
        <queriedFields>FromAddress</queriedFields>
        <queriedFields>FromName</queriedFields>
        <queriedFields>HasAttachment</queriedFields>
        <queriedFields>Headers</queriedFields>
        <queriedFields>HtmlBody</queriedFields>
        <queriedFields>Incoming</queriedFields>
        <queriedFields>IsExternallyVisible</queriedFields>
        <queriedFields>MessageDate</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>TextBody</queriedFields>
        <queriedFields>ToAddress</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Case_Details</name>
        <label>Get Parent Case Details</label>
        <locationX>544</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOldCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>vOldCaseRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Subject</queriedFields>
    </recordLookups>
    <start>
        <locationX>71</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>Run_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EmailMsgCloneRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>ok</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vEmailMsgID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEmailMsgRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>vNewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOldCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOldCaseRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
