force-app/main/default/flows/Enquiry_and_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Aftersales</name>
        <label>Assign Aftersales</label>
        <locationX>1097</locationX>
        <locationY>189</locationY>
        <assignmentItems>
            <assignToReference>vCaseColl.Case_Type_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aftersales</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Refund</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Boutique</name>
        <label>Assign Boutique</label>
        <locationX>1468</locationX>
        <locationY>604</locationY>
        <assignmentItems>
            <assignToReference>vCaseColl.Case_Type_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Boutique/eShop</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Breakdown_and_Roadside_Assistance</name>
        <label>Assign Breakdown and Roadside Assistance</label>
        <locationX>533</locationX>
        <locationY>538</locationY>
        <assignmentItems>
            <assignToReference>vCaseColl.Case_Type_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Breakdown and Roadside Assistance</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Others</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CCLeasing</name>
        <label>Assign CCLeasing</label>
        <locationX>752</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>vCaseColl.Case_Type_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CCLeasing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_PDPA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Follow_up</name>
        <label>Assign Follow up from other departments</label>
        <locationX>1112</locationX>
        <locationY>628</locationY>
        <assignmentItems>
            <assignToReference>vCaseColl.Case_Type_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Follow up from other departments</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_New_ownership_enquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_ownership_enquiry</name>
        <label>Assign New ownership enquiry</label>
        <locationX>935</locationX>
        <locationY>604</locationY>
        <assignmentItems>
            <assignToReference>vCaseColl.Case_Type_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New ownership enquiry</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_CCLeasing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Others</name>
        <label>Assign Others</label>
        <locationX>457</locationX>
        <locationY>721</locationY>
        <assignmentItems>
            <assignToReference>vCaseColl.Case_Type_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Others</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_Followup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parts_and_Accessories</name>
        <label>Assign Parts and Accessories</label>
        <locationX>1533</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>vCaseColl.Case_Type_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parts and Accessories</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Boutique</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PDPA</name>
        <label>Assign PDPA</label>
        <locationX>661</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>vCaseColl.Case_Type_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDPA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Breakdown</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Refund</name>
        <label>Assign Refund</label>
        <locationX>1302</locationX>
        <locationY>152</locationY>
        <assignmentItems>
            <assignToReference>vCaseColl.Case_Type_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Refund</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Parts_and_Accessories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales</name>
        <label>Assign Sales</label>
        <locationX>876</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>vCaseColl.Case_Type_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Aftersales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vehicle_Status</name>
        <label>Assign Vehicle Status</label>
        <locationX>1315</locationX>
        <locationY>612</locationY>
        <assignmentItems>
            <assignToReference>vCaseColl.Case_Type_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vehicle Status</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Follow_up_from_other_departments</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Proceed</name>
        <choiceText>Proceed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proceed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Skip</name>
        <choiceText>Skip</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Skip</stringValue>
        </value>
    </choices>
    <choices>
        <name>vNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>vYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>MSPSelect</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Type of Enquiry or Request</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for</name>
        <label>Check for Vehicle Status</label>
        <locationX>1247</locationX>
        <locationY>363</locationY>
        <defaultConnector>
            <targetReference>Check_for_Follow_up_from_other_departments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vehicle_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vehicle Status</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Vehicle_Status</targetReference>
            </connector>
            <label>Vehicle Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Aftersales</name>
        <label>Check for Aftersales</label>
        <locationX>1045</locationX>
        <locationY>32</locationY>
        <defaultConnector>
            <targetReference>Check_for_Refund</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Aftersales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aftersales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Aftersales</targetReference>
            </connector>
            <label>Aftersales</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Boutique</name>
        <label>Check for Boutique</label>
        <locationX>1436</locationX>
        <locationY>380</locationY>
        <defaultConnector>
            <targetReference>Check_for</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Boutique</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Boutique/eShop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Boutique</targetReference>
            </connector>
            <label>Boutique/eShop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Breakdown</name>
        <label>Check for Breakdown and Roadside Assistance</label>
        <locationX>509</locationX>
        <locationY>368</locationY>
        <defaultConnector>
            <targetReference>Check_for_Others</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Breakdown_and_Roadside_Assistance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Breakdown and Roadside Assistance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Breakdown_and_Roadside_Assistance</targetReference>
            </connector>
            <label>Breakdown and Roadside Assistance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_CCLeasing</name>
        <label>Check for CCLeasing</label>
        <locationX>743</locationX>
        <locationY>359</locationY>
        <defaultConnector>
            <targetReference>Check_for_PDPA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CCLeasing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCLeasing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CCLeasing</targetReference>
            </connector>
            <label>CCLeasing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Follow_up_from_other_departments</name>
        <label>Check for Follow up from other departments</label>
        <locationX>1093</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Check_for_New_ownership_enquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Follow_up_from_other_departments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up from other departments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Follow_up</targetReference>
            </connector>
            <label>Follow up from other departments</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_New_ownership_enquiry</name>
        <label>Check for New ownership enquiry</label>
        <locationX>910</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>Check_for_CCLeasing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_ownership_enquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New ownership enquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_ownership_enquiry</targetReference>
            </connector>
            <label>New ownership enquiry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Others</name>
        <label>Check for Others</label>
        <locationX>439</locationX>
        <locationY>336</locationY>
        <defaultConnector>
            <targetReference>Verify_Followup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Others</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Others</targetReference>
            </connector>
            <label>Others</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Parts_and_Accessories</name>
        <label>Check for Parts and Accessories</label>
        <locationX>1505</locationX>
        <locationY>34</locationY>
        <defaultConnector>
            <targetReference>Check_for_Boutique</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parts_and_Accessories</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parts and Accessories</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parts_and_Accessories</targetReference>
            </connector>
            <label>Parts and Accessories</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_PDPA</name>
        <label>Check for PDPA</label>
        <locationX>618</locationX>
        <locationY>363</locationY>
        <defaultConnector>
            <targetReference>Check_for_Breakdown</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PDPA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PDPA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PDPA</targetReference>
            </connector>
            <label>PDPA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Refund</name>
        <label>Check for Refund</label>
        <locationX>1288</locationX>
        <locationY>38</locationY>
        <defaultConnector>
            <targetReference>Check_for_Parts_and_Accessories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Refund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refund</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Refund</targetReference>
            </connector>
            <label>Refund</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Sales</name>
        <label>Check for Sales</label>
        <locationX>802</locationX>
        <locationY>23</locationY>
        <defaultConnector>
            <targetReference>Check_for_Aftersales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales</targetReference>
            </connector>
            <label>Sales</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_input_selection</name>
        <label>Validate input selection</label>
        <locationX>659</locationX>
        <locationY>33</locationY>
        <defaultConnector>
            <targetReference>Check_for_Sales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Request_or_Enquiry_selected</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>vEnqReqSel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vEnqReqSel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>v1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_Screen</targetReference>
            </connector>
            <label>Is Request or Enquiry selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Followup</name>
        <label>Verify Followup</label>
        <locationX>214</locationX>
        <locationY>357</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Verify_Followup_is_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Follow_Up_Required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vNo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Case</targetReference>
            </connector>
            <label>Verify Followup is No</label>
        </rules>
        <rules>
            <name>Verify_Followup_is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Follow_Up_Required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Case_for_Followup</targetReference>
            </connector>
            <label>Verify Followup is Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Case_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Case_Type_2__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseOrigin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Service_Cloud_Values__c</object>
        <outputAssignments>
            <assignToReference>vEnqReqSel</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>v1</name>
        <dataType>Number</dataType>
        <expression>LEN({!vRetunValues})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Enquiry and Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enquiry and Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Case</name>
        <label>Create a Case</label>
        <locationX>348</locationX>
        <locationY>650</locationY>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>vRegVehRec.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ1Ans__c</field>
            <value>
                <elementReference>Q1AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ2Ans__c</field>
            <value>
                <elementReference>Q2AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ3Ans__c</field>
            <value>
                <elementReference>Q3AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ4Ans__c</field>
            <value>
                <elementReference>Q4AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ5Ans__c</field>
            <value>
                <elementReference>Q5AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ6Ans__c</field>
            <value>
                <elementReference>Q6AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Category__c</field>
            <value>
                <elementReference>vEnqReqSel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <elementReference>vCaseColl.Case_Type_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vContId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_up_Required__c</field>
            <value>
                <elementReference>Is_Follow_Up_Required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Franchise__c</field>
            <value>
                <elementReference>vRegVehRec.Franchise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>CaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>P4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Vehicle__c</field>
            <value>
                <elementReference>vRegVehRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>RemarksIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Case_for_Followup</name>
        <label>Create a Case for Followup</label>
        <locationX>217</locationX>
        <locationY>642</locationY>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>vRegVehRec.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ1Ans__c</field>
            <value>
                <elementReference>Q1AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ2Ans__c</field>
            <value>
                <elementReference>Q2AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ3Ans__c</field>
            <value>
                <elementReference>Q3AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ4Ans__c</field>
            <value>
                <elementReference>Q4AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ5Ans__c</field>
            <value>
                <elementReference>Q5AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ6Ans__c</field>
            <value>
                <elementReference>Q6AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Category__c</field>
            <value>
                <elementReference>vEnqReqSel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <elementReference>vCaseColl.Case_Type_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vContId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_up_Required__c</field>
            <value>
                <elementReference>Is_Follow_Up_Required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Franchise__c</field>
            <value>
                <elementReference>vRegVehRec.Franchise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>CaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>P4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Vehicle__c</field>
            <value>
                <elementReference>vRegVehRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>RemarksIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Follow Up</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>Enquiry_and_Request</name>
        <label>Enquiry and Request</label>
        <locationX>539</locationX>
        <locationY>20</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validate_input_selection</targetReference>
        </connector>
        <fields>
            <name>Case_Category</name>
            <choiceReferences>GetChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Category</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MSP</name>
            <fieldText>{!MSPSelect}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseType</name>
            <choiceReferences>Case_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Origin</name>
            <choiceReferences>CaseOrigin</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_Follow_Up_Required</name>
            <choiceReferences>vYes</choiceReferences>
            <choiceReferences>vNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>vNo</defaultSelectedChoiceReference>
            <fieldText>Is Follow Up Required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_Screen</name>
        <label>Error Message Screen</label>
        <locationX>584</locationX>
        <locationY>237</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Enquiry_and_Request</targetReference>
        </connector>
        <fields>
            <name>vErrMsg1</name>
            <fieldText>{!vErrMsg}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>60</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>Authenticate_Caller</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Authenticate_Caller</name>
        <label>Authenticate Caller</label>
        <locationX>400</locationX>
        <locationY>21</locationY>
        <connector>
            <targetReference>Enquiry_and_Request</targetReference>
        </connector>
        <flowName>Caller_Authentication</flowName>
        <inputAssignments>
            <name>vAddr1Ip</name>
            <value>
                <elementReference>cAddr1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vAddr2IP</name>
            <value>
                <elementReference>cAddr2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vAddr3IP</name>
            <value>
                <elementReference>cAddr3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vBirthDateIP</name>
            <value>
                <elementReference>cBirthDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vEmailIP</name>
            <value>
                <elementReference>cEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vMobilePhoneIP</name>
            <value>
                <elementReference>cMobile</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>vErrMsg</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;font face=&quot;verdana&quot; color=&quot;red&quot;&gt;Select Type of Enquiry or Request!&lt;/font&gt;</text>
    </textTemplates>
    <variables>
        <name>cAddr1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cAddr2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cAddr3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cBirthDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q1AnsIO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q2AnsIO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q3AnsIO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q4AnsIO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q5AnsIO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q6AnsIO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RemarksIO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCaseColl</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vContId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEnqReqSel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOthers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPassorFailValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRegVehRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Registered_Vehicle__c</objectType>
    </variables>
    <variables>
        <name>vRetunValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
