force-app/main/default/flows/Find_SA_and_MB_SA_for_auto_link_to_COE_Bid_Period.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_MB_SA_COE_Bid_Period</name>
        <label>Add MB SA COE Bid Period</label>
        <locationX>264</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>SACOEBidPeriodList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MBSACOEBidPeriod</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MBSA_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SA_COE_Bid_Period_to_List</name>
        <label>Add SA COE Bid Period to List</label>
        <locationX>264</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>SACOEBidPeriodList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SACOEBidPeriod</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SA_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_for_MBSA_COE_Bid_Period</name>
        <label>Assign for MBSA COE Bid Period</label>
        <locationX>264</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>MBSACOEBidPeriod.COE_Bid_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COEBidPeriodID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MBSACOEBidPeriod.MB_Sales_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MBSA_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_MB_SA_COE_Bid_Period</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_For_SA_COE_Bid_Period</name>
        <label>Assign For SA COE Bid Period</label>
        <locationX>264</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>SACOEBidPeriod.COE_Bid_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COEBidPeriodID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SACOEBidPeriod.Sales_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_SA_COE_Bid_Period_to_List</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>COEBidPeriodID</name>
        <dataType>String</dataType>
        <expression>{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Assign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Find SA and MB SA for auto-link to COE Bid Period</label>
    <loops>
        <name>MBSA_Loop</name>
        <label>MBSA Loop</label>
        <locationX>176</locationX>
        <locationY>1007</locationY>
        <collectionReference>Find_MB_Sales_Agreement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_for_MBSA_COE_Bid_Period</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_SA_COE_Bid_Period</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SA_Loop</name>
        <label>SA Loop</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Find_Sales_Agreement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_For_SA_COE_Bid_Period</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_MB_Sales_Agreement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_SA_COE_Bid_Period</name>
        <label>Insert SA COE Bid Period</label>
        <locationX>176</locationX>
        <locationY>1463</locationY>
        <inputReference>SACOEBidPeriodList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_MB_Sales_Agreement</name>
        <label>Find MB Sales Agreement</label>
        <locationX>176</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MBSA_Loop</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 9) AND 7 AND 8</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reserved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Allocated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Balance Payment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Registration</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready for Delivery</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Car Collected</stringValue>
            </value>
        </filters>
        <filters>
            <field>COE__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Submit_COE_Bidding__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MB_Sales_Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Sales_Agreement</name>
        <label>Find Sales Agreement</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SA_Loop</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 8) AND 6 AND 7</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmation of Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Request Registration</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Registration</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready for Registration</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Car Collected</stringValue>
            </value>
        </filters>
        <filters>
            <field>COE__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Submit_COE_Bidding__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Sales_Agreement</targetReference>
        </connector>
        <object>COE_Bid_Period__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>MBSACOEBidPeriod</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SA_COE_Bid_Period__c</objectType>
    </variables>
    <variables>
        <name>SACOEBidPeriod</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SA_COE_Bid_Period__c</objectType>
    </variables>
    <variables>
        <name>SACOEBidPeriodList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SA_COE_Bid_Period__c</objectType>
    </variables>
</Flow>
