force-app/main/default/flows/Generate_Refund_PDF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Excess_Payment_Refund_PDF</name>
        <label>Generate Excess Payment Refund PDF</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>webm__WebmergeGenerator</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sfRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wmMappingId</name>
            <value>
                <elementReference>formstackMappingID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Generate_Order_Cancel_Refund_PDF</name>
        <label>Generate Order Cancel Refund PDF</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>webm__WebmergeGenerator</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sfRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wmMappingId</name>
            <value>
                <elementReference>formstackMappingID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Refund_Type</name>
        <label>Refund Type</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Formstack_Mapping_ID_for_Order_Cancel_Refund</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Order Cancel</defaultConnectorLabel>
        <rules>
            <name>Excess_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Refund_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Excess_Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Formstack_Mapping_ID_for_Excess_Payment_Refund</targetReference>
            </connector>
            <label>Excess Payment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Generate Refund PDF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Refund PDF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Formstack_Mapping_ID_for_Excess_Payment_Refund</name>
        <label>Get Formstack Mapping ID for Excess Payment Refund</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Excess_Payment_Refund_PDF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Excess_Payment_Refund</stringValue>
            </value>
        </filters>
        <object>DocuSignTemplate__mdt</object>
        <outputAssignments>
            <assignToReference>formstackMappingID</assignToReference>
            <field>DocuSign_Template_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Formstack_Mapping_ID_for_Order_Cancel_Refund</name>
        <label>Get Formstack Mapping ID for Order Cancel Refund</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Order_Cancel_Refund_PDF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order_Cancel_Payment</stringValue>
            </value>
        </filters>
        <object>DocuSignTemplate__mdt</object>
        <outputAssignments>
            <assignToReference>formstackMappingID</assignToReference>
            <field>DocuSign_Template_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Refund_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Refund_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Refund Approved</stringValue>
            </value>
        </filters>
        <object>Refund__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>formstackMappingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
