force-app/main/default/flows/Generate_PDF_After_Payment_Receipt_is_Voided.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_PDF_for_GST</name>
        <label>Generate PDF for GST</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>webm__WebmergeGenerator</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sfRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wmMappingId</name>
            <value>
                <elementReference>FormstackMappingID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Generate_PDF_for_W_o_GST</name>
        <label>Generate PDF for W/o GST</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>webm__WebmergeGenerator</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sfRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wmMappingId</name>
            <value>
                <elementReference>FormstackMappingID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>With_GST</name>
        <label>With GST?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Formstack_Mapping_ID_for_W_o_GST</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GST_Applicable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Formstack_Mapping_ID_for_GST</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Generate PDF After Payment Receipt is Voided {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate PDF After Payment Receipt is Voided</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Formstack_Mapping_ID_for_GST</name>
        <label>Get Formstack Mapping ID for GST</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_PDF_for_GST</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voided_Payment_Receipt</stringValue>
            </value>
        </filters>
        <object>DocuSignTemplate__mdt</object>
        <outputAssignments>
            <assignToReference>FormstackMappingID</assignToReference>
            <field>DocuSign_Template_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Formstack_Mapping_ID_for_W_o_GST</name>
        <label>Get Formstack Mapping ID for W/o GST</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_PDF_for_W_o_GST</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voided_Payment_Receipt_Without_GST</stringValue>
            </value>
        </filters>
        <object>DocuSignTemplate__mdt</object>
        <outputAssignments>
            <assignToReference>FormstackMappingID</assignToReference>
            <field>DocuSign_Template_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>With_GST</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Credit_Debit_Note_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VOID VEHICLE DEPOSIT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Credit_Debit_Note_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VOID COE DEPOSIT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Credit_Debit_Note_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VOID BALANCE PAYMENT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Voided_Payment_Receipt__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Credit_Note__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FormstackMappingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
