force-app/main/default/flows/JBSystemFlow_Purchase_Option_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj5d13b4707bbb44c88cfe9169678e5bfd_FireJBTrigger</name>
        <label>SalesforceObj5d13b4707bbb44c88cfe9169678e5bfd_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Purchase_Option__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj5d13b4707bbb44c88cfe9169678e5bfd</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Purchase_Option__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;MobilePhone&quot;,&quot;Full_Name__c&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Person_Account_Profiling__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Person_Account_Profiling__r&quot;,&quot;dePrefix&quot;:&quot;Purchase_Option__c:Person_Account_Profiling__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email__c&quot;,&quot;First_Name__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Purchase_Option__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Sales_Opportunity__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Sales_Opportunity__r&quot;,&quot;dePrefix&quot;:&quot;Purchase_Option__c:Sales_Opportunity__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Salesman_Name__c&quot;,&quot;Salesman_Mobile__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Used_Car_Vehicle_Stock__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Used_Car_Vehicle_Stock__r&quot;,&quot;dePrefix&quot;:&quot;Purchase_Option__c:Used_Car_Vehicle_Stock__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Make__c&quot;,&quot;Model__c&quot;,&quot;Mileage__c&quot;,&quot;Listing_Price__c&quot;,&quot;Registration_Date__c&quot;,&quot;Used_Car_Vehicle_Stock_Imagine_URL__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj5d13b4707bbb44c88cfe9169678e5bfd</name>
        <label>JB_Decision_Null_Check_SalesforceObj5d13b4707bbb44c88cfe9169678e5bfd</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj5d13b4707bbb44c88cfe9169678e5bfd_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj5d13b4707bbb44c88cfe9169678e5bfd_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj5d13b4707bbb44c88cfe9169678e5bfd_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj5d13b4707bbb44c88cfe9169678e5bfd_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj5d13b4707bbb44c88cfe9169678e5bfd_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj5d13b4707bbb44c88cfe9169678e5bfd_Decision</name>
        <label>JB_SalesforceObj5d13b4707bbb44c88cfe9169678e5bfd_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj5d13b4707bbb44c88cfe9169678e5bfd</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj5d13b4707bbb44c88cfe9169678e5bfd_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj5d13b4707bbb44c88cfe9169678e5bfd</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Purchase_Option_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj5d13b4707bbb44c88cfe9169678e5bfd</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Option__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Option__c</objectType>
    </variables>
</Flow>
