force-app/main/default/flows/JBSystemFlow_Test_Drive_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj71a05c8d93eae0daed5224f95aa4343f_FireJBTrigger</name>
        <label>SalesforceObj71a05c8d93eae0daed5224f95aa4343f_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Account__c&quot;,
  &quot;relationshipName&quot;: &quot;Account__r&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Account&quot;,
  &quot;fieldName&quot;: &quot;PersonContactId&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Test_Drive__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj71a05c8d93eae0daed5224f95aa4343f</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account__r&quot;,&quot;dePrefix&quot;:&quot;Test_Drive__c:Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;PersonContactId&quot;,&quot;PersonMobilePhone&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Test_Drive__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;GFB_Post_Test_Drive_Survey_URL__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8_FireJBTrigger</name>
        <label>SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj71a05c8d93eae0daed5224f95aa4343f</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj71a05c8d93eae0daed5224f95aa4343f</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Account__c&quot;,&quot;relationshipName&quot;:&quot;Account__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Test_Drive__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account__r&quot;,&quot;dePrefix&quot;:&quot;Test_Drive__c:Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;,&quot;Name_to_be_Address__pc&quot;,&quot;PersonHasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Vehicle_Master__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Model__r&quot;,&quot;dePrefix&quot;:&quot;Test_Drive__c:Model__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Test_Drive__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Brand__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjfa7ea07d351d7674b644fb25b8233cb7_FireJBTrigger</name>
        <label>SalesforceObjfa7ea07d351d7674b644fb25b8233cb7_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Account__c&quot;,&quot;relationshipName&quot;:&quot;Account__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Test_Drive__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjfa7ea07d351d7674b644fb25b8233cb7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account__r&quot;,&quot;dePrefix&quot;:&quot;Test_Drive__c:Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;,&quot;Name_to_be_Address__pc&quot;,&quot;PersonHasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Vehicle_Master__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Model__r&quot;,&quot;dePrefix&quot;:&quot;Test_Drive__c:Model__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Variant__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Showroom__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Showroom__r&quot;,&quot;dePrefix&quot;:&quot;Test_Drive__c:Showroom__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;City__c&quot;,&quot;Phone__c&quot;,&quot;State__c&quot;,&quot;Country__c&quot;,&quot;Postal_Code__c&quot;,&quot;Address_Line_1__c&quot;,&quot;Address_Line_2__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Test_Drive__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Date__c&quot;,&quot;Brand__c&quot;,&quot;Showroom__c&quot;,&quot;Booking_Time__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Model__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;TModel__r&quot;,&quot;dePrefix&quot;:&quot;Test_Drive__c:TModel__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Variant__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;TVariant__r&quot;,&quot;dePrefix&quot;:&quot;Test_Drive__c:TVariant__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj71a05c8d93eae0daed5224f95aa4343f</name>
        <label>JB_Decision_Null_Check_SalesforceObj71a05c8d93eae0daed5224f95aa4343f</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj71a05c8d93eae0daed5224f95aa4343f_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj71a05c8d93eae0daed5224f95aa4343f_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj71a05c8d93eae0daed5224f95aa4343f_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj71a05c8d93eae0daed5224f95aa4343f_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj71a05c8d93eae0daed5224f95aa4343f_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8</name>
        <label>JB_Decision_Null_Check_SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj71a05c8d93eae0daed5224f95aa4343f</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj71a05c8d93eae0daed5224f95aa4343f</targetReference>
            </connector>
            <label>JB_SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjfa7ea07d351d7674b644fb25b8233cb7</name>
        <label>JB_Decision_Null_Check_SalesforceObjfa7ea07d351d7674b644fb25b8233cb7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjfa7ea07d351d7674b644fb25b8233cb7_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8</targetReference>
            </connector>
            <label>JB_SalesforceObjfa7ea07d351d7674b644fb25b8233cb7_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjfa7ea07d351d7674b644fb25b8233cb7_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjfa7ea07d351d7674b644fb25b8233cb7_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjfa7ea07d351d7674b644fb25b8233cb7_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj71a05c8d93eae0daed5224f95aa4343f_Decision</name>
        <label>JB_SalesforceObj71a05c8d93eae0daed5224f95aa4343f_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj71a05c8d93eae0daed5224f95aa4343f</name>
            <conditionLogic>(1 AND  ( ( ( (2 AND 3)  OR  (4 AND 5) )  OR  (6 AND 7) )  OR  (8 AND 9) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.SMS_Trigger_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Send_Survey_SMS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.SMS_Trigger_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.First_SMS_Triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.SMS_Trigger_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Second_SMS_Triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.SMS_Trigger_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Third_SMS_Triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj71a05c8d93eae0daed5224f95aa4343f_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj71a05c8d93eae0daed5224f95aa4343f</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj71a05c8d93eae0daed5224f95aa4343f_State_change_Decision</name>
        <label>JB_SalesforceObj71a05c8d93eae0daed5224f95aa4343f_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj71a05c8d93eae0daed5224f95aa4343f</name>
            <conditionLogic>NOT  (1 AND  ( ( ( (2 AND 3)  OR  (4 AND 5) )  OR  (6 AND 7) )  OR  (8 AND 9) ) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.SMS_Trigger_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Send_Survey_SMS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.SMS_Trigger_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.First_SMS_Triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.SMS_Trigger_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Second_SMS_Triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.SMS_Trigger_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Third_SMS_Triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj71a05c8d93eae0daed5224f95aa4343f_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj71a05c8d93eae0daed5224f95aa4343f</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8_Decision</name>
        <label>JB_SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj71a05c8d93eae0daed5224f95aa4343f</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8</name>
            <conditionLogic>( (1 AND 2)  AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.SendPostTestDrive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Day_Differents__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8_State_change_Decision</name>
        <label>JB_SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj71a05c8d93eae0daed5224f95aa4343f</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8</name>
            <conditionLogic>NOT  ( (1 AND 2)  AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.SendPostTestDrive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Day_Differents__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjfa7ea07d351d7674b644fb25b8233cb7_Decision</name>
        <label>JB_SalesforceObjfa7ea07d351d7674b644fb25b8233cb7_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja606ca2eca834a1785c4b28e2dd6cbe8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjfa7ea07d351d7674b644fb25b8233cb7</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.IsWalkin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Is_Sales__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjfa7ea07d351d7674b644fb25b8233cb7_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjfa7ea07d351d7674b644fb25b8233cb7</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Test_Drive_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjfa7ea07d351d7674b644fb25b8233cb7</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Test_Drive__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Test_Drive__c</objectType>
    </variables>
</Flow>
