force-app/main/default/flows/JBSystemFlow_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj1e4c08ab7cb506ffc0139f6538e5b288_FireJBTrigger</name>
        <label>SalesforceObj1e4c08ab7cb506ffc0139f6538e5b288_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact_Person__c&quot;,&quot;relationshipName&quot;:&quot;Contact_Person__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj1e4c08ab7cb506ffc0139f6538e5b288</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact_Person__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Contact_Person__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;MobilePhone&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Mobile__c&quot;,&quot;CreatedDate&quot;,&quot;Make_Model__c&quot;,&quot;Opportunity_ID__c&quot;,&quot;Model_Interested_In__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Owner:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;MobilePhone&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj8d67ccb1a14076c36342b3f7d1d76b5f_FireJBTrigger</name>
        <label>SalesforceObj8d67ccb1a14076c36342b3f7d1d76b5f_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1e4c08ab7cb506ffc0139f6538e5b288</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1e4c08ab7cb506ffc0139f6538e5b288</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Lead__c&quot;,&quot;relationshipName&quot;:&quot;Lead__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj8d67ccb1a14076c36342b3f7d1d76b5f</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Lead&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Lead__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Lead__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;Phone&quot;,&quot;Country&quot;,&quot;LastName&quot;,&quot;FirstName&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;OwnerId&quot;,&quot;Mobile__c&quot;,&quot;CreatedDate&quot;,&quot;Make_Model__c&quot;,&quot;Test_Drive__c&quot;,&quot;Branch_Code__c&quot;,&quot;Opportunity_ID__c&quot;,&quot;Model_Interested_In__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Owner:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;Phone&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;MobilePhone&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Bypass_Flow</name>
        <label>Bypass Flow?</label>
        <locationX>488</locationX>
        <locationY>366</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Run_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bypassFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj8d67ccb1a14076c36342b3f7d1d76b5f</targetReference>
            </connector>
            <label>Run Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj1e4c08ab7cb506ffc0139f6538e5b288</name>
        <label>JB_Decision_Null_Check_SalesforceObj1e4c08ab7cb506ffc0139f6538e5b288</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj1e4c08ab7cb506ffc0139f6538e5b288_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact_Person__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj1e4c08ab7cb506ffc0139f6538e5b288_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj1e4c08ab7cb506ffc0139f6538e5b288_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1e4c08ab7cb506ffc0139f6538e5b288_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj1e4c08ab7cb506ffc0139f6538e5b288_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj8d67ccb1a14076c36342b3f7d1d76b5f</name>
        <label>JB_Decision_Null_Check_SalesforceObj8d67ccb1a14076c36342b3f7d1d76b5f</label>
        <locationX>300</locationX>
        <locationY>180</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1e4c08ab7cb506ffc0139f6538e5b288</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj8d67ccb1a14076c36342b3f7d1d76b5f_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj1e4c08ab7cb506ffc0139f6538e5b288</targetReference>
            </connector>
            <label>JB_SalesforceObj8d67ccb1a14076c36342b3f7d1d76b5f_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj8d67ccb1a14076c36342b3f7d1d76b5f_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj8d67ccb1a14076c36342b3f7d1d76b5f_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj8d67ccb1a14076c36342b3f7d1d76b5f_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj1e4c08ab7cb506ffc0139f6538e5b288_Decision</name>
        <label>JB_SalesforceObj1e4c08ab7cb506ffc0139f6538e5b288_Decision</label>
        <locationX>44</locationX>
        <locationY>485</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj1e4c08ab7cb506ffc0139f6538e5b288</name>
            <conditionLogic>( (1 AND 2)  And  ( (3 AND 4)  OR  (5 AND 6) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Test_Drive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Branch_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Contact_Person__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Contact_Person__r.OtherCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Contact_Person__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Contact_Person__r.OtherCountry</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>singapore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj1e4c08ab7cb506ffc0139f6538e5b288_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj1e4c08ab7cb506ffc0139f6538e5b288</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj8d67ccb1a14076c36342b3f7d1d76b5f_Decision</name>
        <label>JB_SalesforceObj8d67ccb1a14076c36342b3f7d1d76b5f_Decision</label>
        <locationX>37</locationX>
        <locationY>317</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1e4c08ab7cb506ffc0139f6538e5b288</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj8d67ccb1a14076c36342b3f7d1d76b5f</name>
            <conditionLogic>( (1 AND 2)  And  ( (3 AND 4)  OR  (5 AND 6) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Test_Drive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Branch_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Lead__r.Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Lead__r.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Singapore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj8d67ccb1a14076c36342b3f7d1d76b5f_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj8d67ccb1a14076c36342b3f7d1d76b5f</label>
        </rules>
    </decisions>
    <formulas>
        <name>bypassFlow</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Bypass_Automation_Settings__c.Bypass_Flows__c}</expression>
    </formulas>
    <label>JBSystemFlow_Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>724</locationX>
        <locationY>239</locationY>
        <connector>
            <targetReference>Bypass_Flow</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
