force-app/main/default/flows/JBSystemFlow_Referral_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj432b4b074a4263c3f4a7193b53d7d6d2_FireJBTrigger</name>
        <label>SalesforceObj432b4b074a4263c3f4a7193b53d7d6d2_FireJBTrigger</label>
        <locationX>138</locationX>
        <locationY>2594</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjcdfe3068c293290f2d41210d7922ff69</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>JB_Decision_Null_Check_SalesforceObjcdfe3068c293290f2d41210d7922ff69</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Referee_Account__c&quot;,&quot;relationshipName&quot;:&quot;Referee_Account__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Referral__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj432b4b074a4263c3f4a7193b53d7d6d2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Referee_Account__r&quot;,&quot;dePrefix&quot;:&quot;Referral__c:Referee_Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;,&quot;PersonMobilePhone&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Referral__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Brand__c&quot;,&quot;Stage__c&quot;,&quot;Referree__c&quot;,&quot;Referral_Code__c&quot;,&quot;Brand_Picklist__c&quot;,&quot;Referee_Last_Name__c&quot;,&quot;Preferred_SC_Oppty__c&quot;,&quot;Expiry_Referred_Date__c&quot;,&quot;Referee_Mobile_Number__c&quot;,&quot;Number_of_Days_before_expired__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Referrer_Account__r&quot;,&quot;dePrefix&quot;:&quot;Referral__c:Referrer_Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a_FireJBTrigger</name>
        <label>SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a_FireJBTrigger</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd9258edacbed60fee2184e8ec7f94894</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd9258edacbed60fee2184e8ec7f94894</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Referee_Account__c&quot;,&quot;relationshipName&quot;:&quot;Referee_Account__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Referral__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Referee_Account__r&quot;,&quot;dePrefix&quot;:&quot;Referral__c:Referee_Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;,&quot;PersonMobilePhone&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Referral__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Brand__c&quot;,&quot;Stage__c&quot;,&quot;Referree__c&quot;,&quot;Referral_Code__c&quot;,&quot;Brand_Picklist__c&quot;,&quot;Referee_Last_Name__c&quot;,&quot;Preferred_SC_Oppty__c&quot;,&quot;Expiry_Referred_Date__c&quot;,&quot;Referee_Mobile_Number__c&quot;,&quot;Number_of_Days_before_expired__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Referrer_Account__r&quot;,&quot;dePrefix&quot;:&quot;Referral__c:Referrer_Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj9a9d488d31f4124e9052dced888ba722_FireJBTrigger</name>
        <label>SalesforceObj9a9d488d31f4124e9052dced888ba722_FireJBTrigger</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>JB_Decision_Null_Check_SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Referrer_Account__c&quot;,&quot;relationshipName&quot;:&quot;Referrer_Account__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Referral__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj9a9d488d31f4124e9052dced888ba722</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Referee_Account__r&quot;,&quot;dePrefix&quot;:&quot;Referral__c:Referee_Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonMobilePhone&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Referral__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Brand__c&quot;,&quot;Stage__c&quot;,&quot;Referree__c&quot;,&quot;Referral_Code__c&quot;,&quot;Brand_Picklist__c&quot;,&quot;Referee_Last_Name__c&quot;,&quot;Preferred_SC_Oppty__c&quot;,&quot;Expiry_Referred_Date__c&quot;,&quot;Referee_Mobile_Number__c&quot;,&quot;Number_of_Days_before_expired__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Referrer_Account__r&quot;,&quot;dePrefix&quot;:&quot;Referral__c:Referrer_Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjcdfe3068c293290f2d41210d7922ff69_FireJBTrigger</name>
        <label>SalesforceObjcdfe3068c293290f2d41210d7922ff69_FireJBTrigger</label>
        <locationX>138</locationX>
        <locationY>3302</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Referrer_Account__c&quot;,
  &quot;relationshipName&quot;: &quot;Referrer_Account__r&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Account&quot;,
  &quot;fieldName&quot;: &quot;PersonContactId&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Referral__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjcdfe3068c293290f2d41210d7922ff69</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Referral__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Brand__c&quot;,&quot;Stage__c&quot;,&quot;Referree__c&quot;,&quot;Referral_Code__c&quot;,&quot;Brand_Picklist__c&quot;,&quot;Referee_Last_Name__c&quot;,&quot;Preferred_SC_Oppty__c&quot;,&quot;Expiry_Referred_Date__c&quot;,&quot;Referee_Mobile_Number__c&quot;,&quot;Number_of_Days_before_expired__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Referrer_Account__r&quot;,&quot;dePrefix&quot;:&quot;Referral__c:Referrer_Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Referee_Account__r&quot;,&quot;dePrefix&quot;:&quot;Referral__c:Referee_Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonMobilePhone&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjd9258edacbed60fee2184e8ec7f94894_FireJBTrigger</name>
        <label>SalesforceObjd9258edacbed60fee2184e8ec7f94894_FireJBTrigger</label>
        <locationX>138</locationX>
        <locationY>2006</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj432b4b074a4263c3f4a7193b53d7d6d2</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>JB_Decision_Null_Check_SalesforceObj432b4b074a4263c3f4a7193b53d7d6d2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Referrer_Account__c&quot;,&quot;relationshipName&quot;:&quot;Referrer_Account__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Referral__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjd9258edacbed60fee2184e8ec7f94894</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Referee_Account__r&quot;,&quot;dePrefix&quot;:&quot;Referral__c:Referee_Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonMobilePhone&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Referral__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Brand__c&quot;,&quot;Stage__c&quot;,&quot;Referree__c&quot;,&quot;Referral_Code__c&quot;,&quot;Brand_Picklist__c&quot;,&quot;Referee_Last_Name__c&quot;,&quot;Preferred_SC_Oppty__c&quot;,&quot;Expiry_Referred_Date__c&quot;,&quot;Referee_Mobile_Number__c&quot;,&quot;Number_of_Days_before_expired__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Referrer_Account__r&quot;,&quot;dePrefix&quot;:&quot;Referral__c:Referrer_Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj432b4b074a4263c3f4a7193b53d7d6d2</name>
        <label>JB_Decision_Null_Check_SalesforceObj432b4b074a4263c3f4a7193b53d7d6d2</label>
        <locationX>402</locationX>
        <locationY>2354</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjcdfe3068c293290f2d41210d7922ff69</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj432b4b074a4263c3f4a7193b53d7d6d2_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Referee_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Referee_Account__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjcdfe3068c293290f2d41210d7922ff69</targetReference>
            </connector>
            <label>JB_SalesforceObj432b4b074a4263c3f4a7193b53d7d6d2_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj432b4b074a4263c3f4a7193b53d7d6d2_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj432b4b074a4263c3f4a7193b53d7d6d2_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj432b4b074a4263c3f4a7193b53d7d6d2_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a</name>
        <label>JB_Decision_Null_Check_SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a</label>
        <locationX>402</locationX>
        <locationY>962</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd9258edacbed60fee2184e8ec7f94894</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Referee_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Referee_Account__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjd9258edacbed60fee2184e8ec7f94894</targetReference>
            </connector>
            <label>JB_SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj9a9d488d31f4124e9052dced888ba722</name>
        <label>JB_Decision_Null_Check_SalesforceObj9a9d488d31f4124e9052dced888ba722</label>
        <locationX>402</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj9a9d488d31f4124e9052dced888ba722_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Referrer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Referrer_Account__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a</targetReference>
            </connector>
            <label>JB_SalesforceObj9a9d488d31f4124e9052dced888ba722_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj9a9d488d31f4124e9052dced888ba722_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj9a9d488d31f4124e9052dced888ba722_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj9a9d488d31f4124e9052dced888ba722_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjcdfe3068c293290f2d41210d7922ff69</name>
        <label>JB_Decision_Null_Check_SalesforceObjcdfe3068c293290f2d41210d7922ff69</label>
        <locationX>402</locationX>
        <locationY>2942</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjcdfe3068c293290f2d41210d7922ff69_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Referrer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Referrer_Account__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObjcdfe3068c293290f2d41210d7922ff69_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjcdfe3068c293290f2d41210d7922ff69_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjcdfe3068c293290f2d41210d7922ff69_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjcdfe3068c293290f2d41210d7922ff69_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjd9258edacbed60fee2184e8ec7f94894</name>
        <label>JB_Decision_Null_Check_SalesforceObjd9258edacbed60fee2184e8ec7f94894</label>
        <locationX>402</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj432b4b074a4263c3f4a7193b53d7d6d2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjd9258edacbed60fee2184e8ec7f94894_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Referrer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Referrer_Account__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj432b4b074a4263c3f4a7193b53d7d6d2</targetReference>
            </connector>
            <label>JB_SalesforceObjd9258edacbed60fee2184e8ec7f94894_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjd9258edacbed60fee2184e8ec7f94894_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjd9258edacbed60fee2184e8ec7f94894_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjd9258edacbed60fee2184e8ec7f94894_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj432b4b074a4263c3f4a7193b53d7d6d2_Decision</name>
        <label>JB_SalesforceObj432b4b074a4263c3f4a7193b53d7d6d2_Decision</label>
        <locationX>402</locationX>
        <locationY>2474</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjcdfe3068c293290f2d41210d7922ff69</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj432b4b074a4263c3f4a7193b53d7d6d2</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opened</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj432b4b074a4263c3f4a7193b53d7d6d2_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj432b4b074a4263c3f4a7193b53d7d6d2</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a_Decision</name>
        <label>JB_SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a_Decision</label>
        <locationX>314</locationX>
        <locationY>1202</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd9258edacbed60fee2184e8ec7f94894</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Referee_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Opened</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a_State_change_Decision</name>
        <label>JB_SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a_State_change_Decision</label>
        <locationX>534</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd9258edacbed60fee2184e8ec7f94894</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Opened</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj9a9d488d31f4124e9052dced888ba722_Decision</name>
        <label>JB_SalesforceObj9a9d488d31f4124e9052dced888ba722_Decision</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj9a9d488d31f4124e9052dced888ba722</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Referrer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expiring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj9a9d488d31f4124e9052dced888ba722_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj9a9d488d31f4124e9052dced888ba722</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj9a9d488d31f4124e9052dced888ba722_State_change_Decision</name>
        <label>JB_SalesforceObj9a9d488d31f4124e9052dced888ba722_State_change_Decision</label>
        <locationX>534</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj68322adc1b7ace1ee66a34c6f6a8384a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj9a9d488d31f4124e9052dced888ba722</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expiring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj9a9d488d31f4124e9052dced888ba722_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj9a9d488d31f4124e9052dced888ba722</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjcdfe3068c293290f2d41210d7922ff69_Decision</name>
        <label>JB_SalesforceObjcdfe3068c293290f2d41210d7922ff69_Decision</label>
        <locationX>270</locationX>
        <locationY>3182</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjcdfe3068c293290f2d41210d7922ff69</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Referrer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SuccessfullyReferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjcdfe3068c293290f2d41210d7922ff69_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjcdfe3068c293290f2d41210d7922ff69</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjcdfe3068c293290f2d41210d7922ff69_State_change_Decision</name>
        <label>JB_SalesforceObjcdfe3068c293290f2d41210d7922ff69_State_change_Decision</label>
        <locationX>468</locationX>
        <locationY>3062</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjcdfe3068c293290f2d41210d7922ff69</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SuccessfullyReferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjcdfe3068c293290f2d41210d7922ff69_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjcdfe3068c293290f2d41210d7922ff69</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjd9258edacbed60fee2184e8ec7f94894_Decision</name>
        <label>JB_SalesforceObjd9258edacbed60fee2184e8ec7f94894_Decision</label>
        <locationX>402</locationX>
        <locationY>1886</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj432b4b074a4263c3f4a7193b53d7d6d2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjd9258edacbed60fee2184e8ec7f94894</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opened</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjd9258edacbed60fee2184e8ec7f94894_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjd9258edacbed60fee2184e8ec7f94894</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Referral_c</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9a9d488d31f4124e9052dced888ba722</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
</Flow>
