force-app/main/default/flows/JBSystemFlow_CustomerAlerts_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj21cf3cf8c4b42ee44dc4a7cddc11abd9_FireJBTrigger</name>
        <label>SalesforceObj21cf3cf8c4b42ee44dc4a7cddc11abd9_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj46819d5f143e986daaed748d38966074</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj46819d5f143e986daaed748d38966074</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>CustomerAlerts__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj21cf3cf8c4b42ee44dc4a7cddc11abd9</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;CustomerAlerts__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Name_to_be_Address__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;CustomerAlerts__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Type__c&quot;,&quot;SubType__c&quot;,&quot;Registered_Vehicle__c&quot;,&quot;Registered_Vehicle_ID__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Registered_Vehicle__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Registered_Vehicle__r&quot;,&quot;dePrefix&quot;:&quot;CustomerAlerts__c:Registered_Vehicle__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Brand__c&quot;,&quot;Branch__c&quot;,&quot;Variant_Name__c&quot;,&quot;Registered_Date__c&quot;,&quot;Service_Credits__c&quot;,&quot;Registration_Number__c&quot;,&quot;Next_Service_Booking_KM__c&quot;,&quot;Last_Service_Booking_Date__c&quot;,&quot;Next_Service_Booking_Date__c&quot;,&quot;Service_Credits_Expiry_Date__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Vehicle_Credit__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Vehicle_Credit__r&quot;,&quot;dePrefix&quot;:&quot;CustomerAlerts__c:Vehicle_Credit__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Expiry_Date__c&quot;,&quot;Credit_Balance__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj3f23948ab51b79041b22c934d6bf051b_FireJBTrigger</name>
        <label>SalesforceObj3f23948ab51b79041b22c934d6bf051b_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6073ae5ff9a2bd379aecf30eb9425fbc</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6073ae5ff9a2bd379aecf30eb9425fbc</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>CustomerAlerts__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj3f23948ab51b79041b22c934d6bf051b</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;CustomerAlerts__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Name_to_be_Address__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;CustomerAlerts__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Type__c&quot;,&quot;SubType__c&quot;,&quot;Service_Package__c&quot;,&quot;Registered_Vehicle__c&quot;,&quot;Registered_Vehicle_ID__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Registered_Vehicle__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Registered_Vehicle__r&quot;,&quot;dePrefix&quot;:&quot;CustomerAlerts__c:Registered_Vehicle__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Brand__c&quot;,&quot;Branch__c&quot;,&quot;Variant_Name__c&quot;,&quot;Registered_Date__c&quot;,&quot;Service_Credits__c&quot;,&quot;Registration_Number__c&quot;,&quot;Next_Service_Booking_KM__c&quot;,&quot;Last_Service_Booking_Date__c&quot;,&quot;Next_Service_Booking_Date__c&quot;,&quot;Service_Credits_Expiry_Date__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Service_Packages__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Service_Package__r&quot;,&quot;dePrefix&quot;:&quot;CustomerAlerts__c:Service_Package__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;ITEM_EXPIRY_DATE__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj46819d5f143e986daaed748d38966074_FireJBTrigger</name>
        <label>SalesforceObj46819d5f143e986daaed748d38966074_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3f23948ab51b79041b22c934d6bf051b</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3f23948ab51b79041b22c934d6bf051b</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>CustomerAlerts__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj46819d5f143e986daaed748d38966074</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;CustomerAlerts__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email&quot;,&quot;MobilePhone&quot;,&quot;Full_Name__c&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;CustomerAlerts__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Type__c&quot;,&quot;SubType__c&quot;,&quot;CreatedDate&quot;,&quot;ContactFullName__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Registered_Vehicle__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Registered_Vehicle__r&quot;,&quot;dePrefix&quot;:&quot;CustomerAlerts__c:Registered_Vehicle__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Brand__c&quot;,&quot;Branch__c&quot;,&quot;Registration_Number__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Service_Packages__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Service_Package__r&quot;,&quot;dePrefix&quot;:&quot;CustomerAlerts__c:Service_Package__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;ITEM_BALANCE__c&quot;,&quot;ITEM_EXPIRY_DATE__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj6073ae5ff9a2bd379aecf30eb9425fbc_FireJBTrigger</name>
        <label>SalesforceObj6073ae5ff9a2bd379aecf30eb9425fbc_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Contact__c&quot;,
  &quot;relationshipName&quot;: &quot;Contact__r&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>CustomerAlerts__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj6073ae5ff9a2bd379aecf30eb9425fbc</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;CustomerAlerts__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;MobilePhone&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;et4ae5__HasOptedOutOfMobile__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;CustomerAlerts__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Type__c&quot;,&quot;SubType__c&quot;,&quot;CreatedDate&quot;,&quot;Registered_Vehicle_ID__c&quot;,&quot;Registered_Vehicle_18ID__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Registered_Vehicle__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Registered_Vehicle__r&quot;,&quot;dePrefix&quot;:&quot;CustomerAlerts__c:Registered_Vehicle__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Brand__c&quot;,&quot;Branch__c&quot;,&quot;Registered_Date__c&quot;,&quot;Service_Credits__c&quot;,&quot;Registration_Number__c&quot;,&quot;Next_Service_Booking_Date__c&quot;,&quot;Service_Credits_Expiry_Date__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj60f4390aa47f6c355fdf7cc36d512039_FireJBTrigger</name>
        <label>SalesforceObj60f4390aa47f6c355fdf7cc36d512039_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj21cf3cf8c4b42ee44dc4a7cddc11abd9</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj21cf3cf8c4b42ee44dc4a7cddc11abd9</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>CustomerAlerts__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj60f4390aa47f6c355fdf7cc36d512039</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;CustomerAlerts__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Name_to_be_Address__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;CustomerAlerts__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Type__c&quot;,&quot;SubType__c&quot;,&quot;Registered_Vehicle__c&quot;,&quot;Registered_Vehicle_ID__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Registered_Vehicle__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Registered_Vehicle__r&quot;,&quot;dePrefix&quot;:&quot;CustomerAlerts__c:Registered_Vehicle__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Brand__c&quot;,&quot;Branch__c&quot;,&quot;Variant_Name__c&quot;,&quot;Registered_Date__c&quot;,&quot;Service_Credits__c&quot;,&quot;Registration_Number__c&quot;,&quot;Next_Service_Booking_KM__c&quot;,&quot;Last_Service_Booking_Date__c&quot;,&quot;Next_Service_Booking_Date__c&quot;,&quot;Service_Credits_Expiry_Date__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Service_Appointment__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Service_Appointment__r&quot;,&quot;dePrefix&quot;:&quot;CustomerAlerts__c:Service_Appointment__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Mileage__c&quot;,&quot;Return_To__c&quot;,&quot;Booking_ID__c&quot;,&quot;Service_Code__c&quot;,&quot;Pick_up_Time__c&quot;,&quot;Pick_up_From__c&quot;,&quot;PKD_Indicator__c&quot;,&quot;Customer_Remarks__c&quot;,&quot;Car_Registration_No__c&quot;,&quot;Service_Centre_Location__c&quot;,&quot;Service_Appointment_Date_Time__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj21cf3cf8c4b42ee44dc4a7cddc11abd9</name>
        <label>JB_Decision_Null_Check_SalesforceObj21cf3cf8c4b42ee44dc4a7cddc11abd9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj46819d5f143e986daaed748d38966074</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj21cf3cf8c4b42ee44dc4a7cddc11abd9_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj46819d5f143e986daaed748d38966074</targetReference>
            </connector>
            <label>JB_SalesforceObj21cf3cf8c4b42ee44dc4a7cddc11abd9_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj21cf3cf8c4b42ee44dc4a7cddc11abd9_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj21cf3cf8c4b42ee44dc4a7cddc11abd9_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj21cf3cf8c4b42ee44dc4a7cddc11abd9_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj3f23948ab51b79041b22c934d6bf051b</name>
        <label>JB_Decision_Null_Check_SalesforceObj3f23948ab51b79041b22c934d6bf051b</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6073ae5ff9a2bd379aecf30eb9425fbc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj3f23948ab51b79041b22c934d6bf051b_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj6073ae5ff9a2bd379aecf30eb9425fbc</targetReference>
            </connector>
            <label>JB_SalesforceObj3f23948ab51b79041b22c934d6bf051b_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj3f23948ab51b79041b22c934d6bf051b_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj3f23948ab51b79041b22c934d6bf051b_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj3f23948ab51b79041b22c934d6bf051b_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj46819d5f143e986daaed748d38966074</name>
        <label>JB_Decision_Null_Check_SalesforceObj46819d5f143e986daaed748d38966074</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3f23948ab51b79041b22c934d6bf051b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj46819d5f143e986daaed748d38966074_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj3f23948ab51b79041b22c934d6bf051b</targetReference>
            </connector>
            <label>JB_SalesforceObj46819d5f143e986daaed748d38966074_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj46819d5f143e986daaed748d38966074_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj46819d5f143e986daaed748d38966074_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj46819d5f143e986daaed748d38966074_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj6073ae5ff9a2bd379aecf30eb9425fbc</name>
        <label>JB_Decision_Null_Check_SalesforceObj6073ae5ff9a2bd379aecf30eb9425fbc</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj6073ae5ff9a2bd379aecf30eb9425fbc_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj6073ae5ff9a2bd379aecf30eb9425fbc_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj6073ae5ff9a2bd379aecf30eb9425fbc_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj6073ae5ff9a2bd379aecf30eb9425fbc_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj6073ae5ff9a2bd379aecf30eb9425fbc_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj60f4390aa47f6c355fdf7cc36d512039</name>
        <label>JB_Decision_Null_Check_SalesforceObj60f4390aa47f6c355fdf7cc36d512039</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj21cf3cf8c4b42ee44dc4a7cddc11abd9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj60f4390aa47f6c355fdf7cc36d512039_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj21cf3cf8c4b42ee44dc4a7cddc11abd9</targetReference>
            </connector>
            <label>JB_SalesforceObj60f4390aa47f6c355fdf7cc36d512039_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj60f4390aa47f6c355fdf7cc36d512039_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj60f4390aa47f6c355fdf7cc36d512039_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj60f4390aa47f6c355fdf7cc36d512039_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj21cf3cf8c4b42ee44dc4a7cddc11abd9_Decision</name>
        <label>JB_SalesforceObj21cf3cf8c4b42ee44dc4a7cddc11abd9_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj46819d5f143e986daaed748d38966074</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj21cf3cf8c4b42ee44dc4a7cddc11abd9</name>
            <conditionLogic>( (1 AND 2)  AND  ( ( (3 OR 4)  OR 5)  OR 6) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.isEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ContactEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subsequent Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Credits</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accessories Credits</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj21cf3cf8c4b42ee44dc4a7cddc11abd9_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj21cf3cf8c4b42ee44dc4a7cddc11abd9</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj3f23948ab51b79041b22c934d6bf051b_Decision</name>
        <label>JB_SalesforceObj3f23948ab51b79041b22c934d6bf051b_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6073ae5ff9a2bd379aecf30eb9425fbc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj3f23948ab51b79041b22c934d6bf051b</name>
            <conditionLogic>( (1 AND 2)  AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.isEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ContactEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plan/Package</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj3f23948ab51b79041b22c934d6bf051b_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj3f23948ab51b79041b22c934d6bf051b</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj46819d5f143e986daaed748d38966074_Decision</name>
        <label>JB_SalesforceObj46819d5f143e986daaed748d38966074_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3f23948ab51b79041b22c934d6bf051b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj46819d5f143e986daaed748d38966074</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plan/Package</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.isSMS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj46819d5f143e986daaed748d38966074_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj46819d5f143e986daaed748d38966074</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj6073ae5ff9a2bd379aecf30eb9425fbc_Decision</name>
        <label>JB_SalesforceObj6073ae5ff9a2bd379aecf30eb9425fbc_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj6073ae5ff9a2bd379aecf30eb9425fbc</name>
            <conditionLogic>( ( (1 AND 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.isSMS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Plan/Package</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ContactMobileNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj6073ae5ff9a2bd379aecf30eb9425fbc_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj6073ae5ff9a2bd379aecf30eb9425fbc</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj60f4390aa47f6c355fdf7cc36d512039_Decision</name>
        <label>JB_SalesforceObj60f4390aa47f6c355fdf7cc36d512039_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj21cf3cf8c4b42ee44dc4a7cddc11abd9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj60f4390aa47f6c355fdf7cc36d512039</name>
            <conditionLogic>( ( (1 AND 2)  AND 3)  And  (4 AND 5) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.isEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ContactEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Service_Appointment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Service_Appointment__r.Do_not_send_notification_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj60f4390aa47f6c355fdf7cc36d512039_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj60f4390aa47f6c355fdf7cc36d512039</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_CustomerAlerts_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj60f4390aa47f6c355fdf7cc36d512039</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomerAlerts__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomerAlerts__c</objectType>
    </variables>
</Flow>
