force-app/main/default/flows/Maybank_Get_Release_Letter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Get Release Letter for Maybank Loan Application</description>
        <name>Get_Release_Letter_Maybank</name>
        <label>Get Release Letter Maybank</label>
        <locationX>476</locationX>
        <locationY>211</locationY>
        <actionName>Maybank_RequestReleaseLetter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Release_Letter_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>salesAgreementNo</name>
            <value>
                <elementReference>LoanApplication.Sales_Agreement_No__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesAgrementId</name>
            <value>
                <elementReference>SalesAgreementRecord.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>API_Gateway_ReturnedCode</assignToReference>
            <name>api_returned_code</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>API_Gateway_ErrMsg</assignToReference>
            <name>error_message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ReleaseLetterCount</assignToReference>
            <name>fileCount</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>API_Call_Success</name>
        <label>API Call Success ?</label>
        <locationX>810</locationX>
        <locationY>221</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>API_Gateway_ReturnedCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>S</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SuccessScreen</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Release_Letter_Exists</name>
        <label>Is Release Letter Exists ?</label>
        <locationX>605</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>API_Call_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReleaseLetterCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReleaseLetterScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Get Release Letter for Maybank Loan Application</description>
    <interviewLabel>Maybank - Get Release Letter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Maybank - Get Release Letter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Loan Application</description>
        <name>LoanApplication</name>
        <label>LoanApplication</label>
        <locationX>330</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Release_Letter_Maybank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Sales Agreement Record</description>
        <name>SalesAgreementRecord</name>
        <label>SalesAgreementRecord</label>
        <locationX>176</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoanApplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the release letter checkbox so that Sales consultant will not request to release the release letter again.</description>
        <name>Update_release_letter_checkbox</name>
        <label>Update release letter checkbox</label>
        <locationX>1000</locationX>
        <locationY>80</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Requested_Release_Letter__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Sales_Agreement__c</object>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>557</locationX>
        <locationY>420</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p&gt;Flow Error Message : {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;API Response Error Message : {!API_Gateway_ErrMsg}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReleaseLetterScreen</name>
        <label>ReleaseLetterScreen</label>
        <locationX>608</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ReleaseLetterMsg</name>
            <fieldText>&lt;p&gt;The Release Letter already uploaded for {!SalesAgreementRecord.SOH_SONO__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>816</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_release_letter_checkbox</targetReference>
        </connector>
        <fields>
            <name>SuccessMsg</name>
            <fieldText>&lt;p&gt;The Request Letter has been received.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SalesAgreementRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>API_Gateway_ErrMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>API_Gateway_ReturnedCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FileDocument</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <description>record ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReleaseLetterCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
