force-app/main/default/flows/Maybank_Check_Loan_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>APEX Callout to check Loan Status</description>
        <name>CheckLoanStatusInvocable</name>
        <label>CheckLoanStatusInvocable</label>
        <locationX>322</locationX>
        <locationY>366</locationY>
        <actionName>Maybank_CheckApplicationStatus</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>API_Call_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FailedScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>amendmentInd</name>
            <value>
                <elementReference>LoanApplication.AmtIndicator__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dealerID</name>
            <value>
                <elementReference>LoanApplication.DealerID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>losWaaNumber</name>
            <value>
                <elementReference>LoanApplication.LOS_WAA_reference_number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesAgreementNo</name>
            <value>
                <elementReference>LoanApplication.Sales_Agreement_No__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>API_Gateway_ReturnedCode</assignToReference>
            <name>api_returned_code</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>API_Gateway_ErrMsg</assignToReference>
            <name>error_message</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>API_Call_Success</name>
        <label>API Call Success ?</label>
        <locationX>314</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>FailedScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>API_Gateway_ReturnedCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>S</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoanStatusScreen</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Loan_Exists</name>
        <label>Is Loan Exists ?</label>
        <locationX>166</locationX>
        <locationY>517</locationY>
        <defaultConnector>
            <targetReference>Loan_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanApplication</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckLoanStatusInvocable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Maybank Check Loan Application Status</description>
    <interviewLabel>Maybank - Check Loan Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Maybank - Check Loan Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Loan Application</description>
        <name>LoanApplication</name>
        <label>LoanApplication</label>
        <locationX>174</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Loan_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Sales Agreement Record</description>
        <name>SalesAgreementRecord</name>
        <label>SalesAgreementRecord</label>
        <locationX>176</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoanApplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>FailedScreen</name>
        <label>FailedScreen</label>
        <locationX>592</locationX>
        <locationY>273</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FailedMsg</name>
            <fieldText>&lt;p&gt;Flow Error Message : {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;API Response Error Message : {!API_Gateway_ErrMsg}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Loan_Not_Found</name>
        <label>Loan Not Found</label>
        <locationX>459</locationX>
        <locationY>523</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LoanNotFoundMsg</name>
            <fieldText>&lt;p&gt;No Active Loan Application found for Sales Agreement &lt;a href=&quot;/SalesAgreementRecord.Id&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!SalesAgreementRecord.SOH_SONO__c}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LoanStatusScreen</name>
        <label>LoanStatusScreen</label>
        <locationX>592</locationX>
        <locationY>132</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LoanStatusDetail</name>
            <extensionName>c:recordDetailFlowScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnsize</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Loan_Application__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>LoanApplication.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Sales_Agreement_No__c, LOS_WAA_reference_number__c, Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressUnderline</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>View</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SalesAgreementRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>API_Gateway_ErrMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>API_Gateway_ReturnedCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>record ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
