force-app/main/default/flows/Maybank_Create_Bank_Loan_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>SA_File_Found</name>
        <label>SA File Found</label>
        <locationX>50</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>isFileFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_SA_File</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsApprove</name>
        <label>IsApprove?</label>
        <locationX>347</locationX>
        <locationY>92</locationY>
        <defaultConnector>
            <targetReference>SAnotApprovedScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Agreement.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsFileFound_true</name>
        <label>IsFileFound = true ?</label>
        <locationX>399</locationX>
        <locationY>346</locationY>
        <defaultConnector>
            <targetReference>SAAttachmentNotFoundScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isFileFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Loan_Application</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_File_Exists</name>
        <label>SA File Exists ?</label>
        <locationX>286</locationX>
        <locationY>512</locationY>
        <defaultConnector>
            <targetReference>Check_SA_File</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_SA_File.ContentDocument.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sales Agreement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_SA_File.ContentDocument.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Sales_Agreement.SOH_SONO__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isFileFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA_File_Found</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Loan</name>
        <label>Validate Loan</label>
        <locationX>551</locationX>
        <locationY>538</locationY>
        <defaultConnector>
            <targetReference>FoundScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found But Not Rejected</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Loan_Application</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA_Model_Master</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
        <rules>
            <name>Found_But_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Loan_Application</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Existing_Loan_Application.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA_Model_Master</targetReference>
            </connector>
            <label>Found But Rejected</label>
        </rules>
    </decisions>
    <description>Maybank Create Loan Application</description>
    <interviewLabel>Maybank - Create Bank Loan Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Maybank - Create Bank Loan Application</label>
    <loops>
        <name>Check_SA_File</name>
        <label>Check SA File</label>
        <locationX>163</locationX>
        <locationY>346</locationY>
        <collectionReference>SA_Content_Document_Link</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SA_File_Exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IsFileFound_true</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>SA_Loan_Application</name>
        <label>SA Loan Application</label>
        <locationX>1322</locationX>
        <locationY>344</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FailureScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>DealerEmpNo__c</field>
            <value>
                <elementReference>Sales_Agreement.Owner:User.EmployeeNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DealerID__c</field>
            <value>
                <elementReference>Bank_Integration_Config.DealerID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DealerUsrID__c</field>
            <value>
                <elementReference>Sales_Agreement.Owner:User.Username2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMVG20K__c</field>
            <value>
                <elementReference>SA_Model_Master.OMV_20K__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Agreement__c</field>
            <value>
                <elementReference>Sales_Agreement.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Loan_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Bank_Integration_Config</name>
        <label>Bank Integration Config</label>
        <locationX>1168</locationX>
        <locationY>351</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SA_Loan_Application</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FailureScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Maybank</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bank_Integration_Config__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get existing Loan Application</description>
        <name>Existing_Loan_Application</name>
        <label>Existing Loan Application</label>
        <locationX>559</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Loan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>RJ</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SA_Content_Document_Link</name>
        <label>SA Content Document Link</label>
        <locationX>160</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_SA_File</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sales_Agreement.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SA_Model_Master</name>
        <label>SA Model Master</label>
        <locationX>759</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SA_Vehicle_Stock_Master</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FailureScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sales_Agreement.Stock_Reservation__r.Model_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Model_Master__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SA_Vehicle_Stock_Master</name>
        <label>SA Vehicle Stock Master</label>
        <locationX>896</locationX>
        <locationY>352</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bank_Integration_Config</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FailureScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sales_Agreement.Stock_Reservation__r.Vehicle_Master__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicle_Master2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Sales Agreement</description>
        <name>Sales_Agreement</name>
        <label>Sales Agreement</label>
        <locationX>555</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SA_Content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>FailureScreen</name>
        <label>Failure</label>
        <locationX>961</locationX>
        <locationY>68</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FailureMsg</name>
            <fieldText>&lt;p&gt;Error(s) occurred.&lt;/p&gt;&lt;p&gt;Please contact your admin.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Error Details : &lt;/b&gt;&lt;/p&gt;&lt;p&gt;Flow Error Message : &lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FoundScreen</name>
        <label>Found</label>
        <locationX>561</locationX>
        <locationY>684</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FoundMsg</name>
            <fieldText>&lt;p&gt;Loan Application exists.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b&gt;Loan Application #&lt;/b&gt; : &lt;a href=&quot;/{!Existing_Loan_Application.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Existing_Loan_Application.Name}&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;LOS-WAA reference number :&lt;/b&gt; {!Existing_Loan_Application.LOS_WAA_reference_number__c}&lt;/li&gt;&lt;li&gt;&lt;b&gt;Status : &lt;/b&gt;{!Existing_Loan_Application.Status_Label__c}&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SAAttachmentNotFoundScreen</name>
        <label>SAAttachmentNotFoundScreen</label>
        <locationX>413</locationX>
        <locationY>686</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SAAttachmentNotFoundMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Sales Agreement &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Sales_Agreement.SOH_SONO__c} &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Attachment not found.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SAnotApprovedScreen</name>
        <label>SAnotApproved</label>
        <locationX>209</locationX>
        <locationY>90</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SANotApprovedMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Sales Agreement &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Sales_Agreement.SOH_SONO__c} &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;has not yet been Approved.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>Success</label>
        <locationX>1462</locationX>
        <locationY>349</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(4, 0, 255); background-color: rgb(255, 255, 255);&quot;&gt;Loan Application is created successfully.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click &lt;a href=&quot;/{!SA_Loan_Application}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt; to access the Loan Application.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>429</locationX>
        <locationY>79</locationY>
        <connector>
            <targetReference>Sales_Agreement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isFileFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
