force-app/main/default/flows/SA_with_Upsell_Report_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_CIT_SC_0</name>
        <label>Send Email To CIT SC</label>
        <locationX>264</locationX>
        <locationY>1788</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Add_email_to_list_3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Add_email_to_list_3.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Report Results (SA with Upsell &amp; SA w/o Upsell)</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_KIA_SC</name>
        <label>Send Email To KIA SC</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Add_to_email_list</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Add_to_email_list.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Report Results (SA with Upsell &amp; SA w/o Upsell)</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_MIT_SC_0</name>
        <label>Send Email To MIT SC</label>
        <locationX>264</locationX>
        <locationY>1212</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Add_email_to_list_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Add_email_to_list_2.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Report Results (SA with Upsell &amp; SA w/o Upsell)</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <interviewLabel>SA with Upsell Report Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SA with Upsell Report Email</label>
    <loops>
        <name>Add_email_to_list_2</name>
        <label>Add email to list 2</label>
        <locationX>176</locationX>
        <locationY>1092</locationY>
        <collectionReference>Get_MIT_SCs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Email_To_MIT_SC_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_CIT_Role</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Add_email_to_list_3</name>
        <label>Add email to list 3</label>
        <locationX>176</locationX>
        <locationY>1668</locationY>
        <collectionReference>Get_CIT_SCs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Email_To_CIT_SC_0</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Add_to_email_list</name>
        <label>Add to email list</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <collectionReference>Get_SA_SCs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Email_To_KIA_SC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_MIT_Role</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CIT_Role</name>
        <label>Get CIT Role</label>
        <locationX>176</locationX>
        <locationY>1428</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CIT_SCs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CITPC_Sales_Consultant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CIT_SCs</name>
        <label>Get CIT SCs</label>
        <locationX>176</locationX>
        <locationY>1548</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_email_to_list_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CIT_Role.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MIT_Role</name>
        <label>Get MIT Role</label>
        <locationX>176</locationX>
        <locationY>852</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MIT_SCs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MITPC_Sales_Consultant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MIT_SCs</name>
        <label>Get MIT SCs</label>
        <locationX>176</locationX>
        <locationY>972</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_email_to_list_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MIT_Role.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_SCs</name>
        <label>Get SA SCs</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_to_email_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Role_KIA.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Role_KIA</name>
        <label>Get User Role KIA</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SA_SCs</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KIAPC_Sales_Consultant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Role_KIA</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-07-21</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;These reports are for Upsell Accessories.&lt;/p&gt;&lt;p&gt;Please view the reports for your timely action.&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;a href=&quot;https://cyclecarriage.lightning.force.com/lightning/r/Report/00O2x0000045eFIEAY/view?queryScope=userFoldersCreatedByMe&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;SA with Upsell&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://cyclecarriage.lightning.force.com/lightning/r/Report/00O2x0000045eFKEAY/view?queryScope=userFolders&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;SA w/o Upsell&lt;/a&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;Huat ah!&lt;/p&gt;&lt;p&gt;If there is any issue viewing the report, please contact &lt;a href=&quot;mailto:Jodi.chime@cyclecarriage.com.sg&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: &amp;quot;Calibri Light&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;Jodi.chime@cyclecarriage.com.sg&lt;/a&gt;&lt;span style=&quot;font-family: &amp;quot;Calibri Light&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt; or &lt;/span&gt;&lt;a href=&quot;mailto:colin.ang@cyclecarriage.com.sg&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: &amp;quot;Calibri Light&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;colin.ang@cyclecarriage.com.sg&lt;/a&gt;&lt;span style=&quot;font-family: &amp;quot;Calibri Light&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
