force-app/main/default/flows/Sales_Targeted_Promo_Report_Email_To_Managers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_Managers</name>
        <label>Send Email To Managers</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>gavin.ng@cyclecarriage.com.sg, bryan.heng@cyclecarriage.com.sg, jodi.chime@jimgroup.com.sg, projects@aodigy.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Report Results (SA with Upsell &amp; SA w/o Upsell &amp; Accs Low Stock)</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Report_Email</name>
        <label>Send Report Email</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Email_To_Managers</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>shaokai.ng@cyclecarriage.com.sg, benjamin.chua@cyclecarriage.com.sg, sebastian.chia@cyclecarriage.com.sg, dawn.pan@cyclecarriage.com.sg, royston.soh@cyclecarriage.com.sg</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Report results (SA with Upsell &amp; SA w/o Upsell &amp; Accs Low Stock)</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <interviewLabel>Sales Targeted Promo Report Email To Managers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Targeted Promo Report Email To Managers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Report_Email</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-07-21</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;These reports are for Upsell Accessories.&lt;/p&gt;&lt;p&gt;Please view the reports for your timely action.&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;a href=&quot;https://cyclecarriage.lightning.force.com/lightning/r/Report/00O2x0000045eFIEAY/view?queryScope=userFoldersCreatedByMe&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;SA with Upsell&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://cyclecarriage.lightning.force.com/lightning/r/Report/00O2x0000045eFKEAY/view?queryScope=userFolders&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;SA w/o Upsell&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://cyclecarriage.lightning.force.com/lightning/r/Report/00O2x0000045eFLEAY/view?queryScope=userFolders&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Accessories Low Stock&lt;/a&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;Huat ah!&lt;/p&gt;&lt;p&gt;If there is any issuew viewing the report, please&lt;span style=&quot;font-size: 14px;&quot;&gt; contact &lt;/span&gt;&lt;a href=&quot;mailto:Jodi.chime@cyclecarriage.com.sg&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Jodi.chime@cyclecarriage.com.sg&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; or &lt;/span&gt;&lt;a href=&quot;mailto:colin.ang@cyclecarriage.com.sg&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;colin.ang@cyclecarriage.com.sg&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&amp;nbsp; &lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
