force-app/main/default/flows/Sales_CLI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>ShowEndMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Survey Created Successfully</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Verify_Case_Id_Null</name>
        <label>Verify Case Id Null</label>
        <locationX>682</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Verify_Case_Id_value_again</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCaseIDVal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0s</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Case_Record</targetReference>
            </connector>
            <label>Verify Case Id value again</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_New_or_Existing_Case</name>
        <label>Verify New or Existing Case</label>
        <locationX>154</locationX>
        <locationY>149</locationY>
        <defaultConnector>
            <targetReference>Fetch_Case_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Verify_Case_Id_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCaseIDVal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0s</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vehicle_Info</targetReference>
            </connector>
            <label>Verify Case Id value</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>vSurveyStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Survey_Status__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>vCaseIdLen</name>
        <dataType>Number</dataType>
        <expression>LEN({!var_CaseId})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>vCaseIDVal</name>
        <dataType>String</dataType>
        <expression>MID({!var_CaseId},1,3)</expression>
    </formulas>
    <interviewLabel>Sales CLI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales CLI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Case_Record</name>
        <label>Create a Case Record</label>
        <locationX>842</locationX>
        <locationY>145</locationY>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>vRegVehRec.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>sovContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Franchise__c</field>
            <value>
                <elementReference>vRegVehRec.Franchise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>P4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Vehicle__c</field>
            <value>
                <elementReference>vRegVehRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_CLI_Q1_Ans__c</field>
            <value>
                <elementReference>vScore1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_CLI_Q2_Ans__c</field>
            <value>
                <elementReference>vScore2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_CLI_Q3_Ans__c</field>
            <value>
                <elementReference>vScore3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_CLI_Q4_Ans__c</field>
            <value>
                <elementReference>vScore4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_CLI_Remarks__c</field>
            <value>
                <elementReference>Sales_CLI_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Status__c</field>
            <value>
                <elementReference>vSurveyStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Type__c</field>
            <value>
                <elementReference>vSurveyChoice</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Case_Record</name>
        <label>Fetch Case Record</label>
        <locationX>261</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sovCase</outputReference>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Registered_Vehicle__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Contact_Record</name>
        <label>Fetch Contact Record</label>
        <locationX>399</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vehicle_Info_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovCase.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sovContact</outputReference>
        <queriedFields>Name_with_Salutation__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>336</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sales_CLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRegVehRec.Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sovContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name_with_Salutation__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle_Info</name>
        <label>Get Vehicle Info</label>
        <locationX>336</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Registered_Vehicle__c</object>
        <outputReference>vRegVehRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Franchise__c</queriedFields>
        <queriedFields>Branch__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle_Info_Case</name>
        <label>Get Vehicle Info (Case)</label>
        <locationX>528</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sales_CLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovCase.Registered_Vehicle__c</elementReference>
            </value>
        </filters>
        <object>Registered_Vehicle__c</object>
        <outputReference>vRegVehRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Franchise__c</queriedFields>
        <queriedFields>Branch__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>564</locationX>
        <locationY>339</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>vRegVehRec.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Franchise__c</field>
            <value>
                <elementReference>vRegVehRec.Franchise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_CLI_Q1_Ans__c</field>
            <value>
                <elementReference>vScore1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_CLI_Q2_Ans__c</field>
            <value>
                <elementReference>vScore2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_CLI_Q3_Ans__c</field>
            <value>
                <elementReference>vScore3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_CLI_Q4_Ans__c</field>
            <value>
                <elementReference>vScore4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_CLI_Remarks__c</field>
            <value>
                <elementReference>Sales_CLI_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Status__c</field>
            <value>
                <elementReference>vSurveyStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Sales_CLI</name>
        <label>Sales CLI</label>
        <locationX>604</locationX>
        <locationY>126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Verify_Case_Id_Null</targetReference>
        </connector>
        <fields>
            <name>Line1</name>
            <fieldText>Question 1
&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0099FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Using 1 to 5 rating scale: (1) is most unlikely - (5) is most likely&lt;/FONT&gt;&lt;/DIV&gt;
How likely will you be to recommend C&amp;C to your family, friends and acquaintances for the purchase of Mercedes-Benz vehicles?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Scoring1</name>
            <extensionName>c:HorizontalRadioButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>optionSet1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>optionSet1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioGroupLabel</name>
                <value>
                    <stringValue>Choose Scoring for Question 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedVal</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vScore1</assignToReference>
                <name>selectedVal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Question2</name>
            <fieldText>&lt;B&gt;&lt;br/&gt;Question 2&lt;/B&gt;
&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0099FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Based on 1 to 5 rating scale: (1) is least important - (5) is most important&lt;/FONT&gt;&lt;/DIV&gt;
How important is it that your C&amp;amp;C continues to support you in your future purchase of Mercedes-Benz vehicles?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Scoring2</name>
            <extensionName>c:HorizontalRadioButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>optionSet1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>optionSet1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioGroupLabel</name>
                <value>
                    <stringValue>Choose Scoring for Question 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedVal</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vScore2</assignToReference>
                <name>selectedVal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Question3</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;br/&gt;Question 3&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0099FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Using 1 to 5 rating scale: (1) is most unlikely - (5) is most likely&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If and when you decide to buy your next Mercedes-Benz vehicle, how likely would you be to buy one from C&amp;amp;C?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Scoring3</name>
            <extensionName>c:HorizontalRadioButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>optionSet1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>optionSet1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioGroupLabel</name>
                <value>
                    <stringValue>Choose Scoring for Question 3</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedVal</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vScore3</assignToReference>
                <name>selectedVal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Question4</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;br/&gt;Question 4&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0099FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Using 1 to 5 rating scale: (1) is unsatisfied and (5) is very satisfied&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Thinking of all your experiences with your Sales Executive, how satisfied are you with those experiences and overall interactions?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Scoring4</name>
            <extensionName>c:HorizontalRadioButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>optionSet1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>optionSet1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioGroupLabel</name>
                <value>
                    <stringValue>Choose Scoring for Question 4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedVal</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vScore4</assignToReference>
                <name>selectedVal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>FinalText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;br/&gt;Thank you so much for your kind support and we looked forward to see you soon.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sales_CLI_Remarks</name>
            <fieldText>Sales CLI Remarks</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Survey_Status</name>
            <choiceReferences>vSurveyStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Survey Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Verify_New_or_Existing_Case</startElementReference>
    <status>Active</status>
    <variables>
        <name>optionSet1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0,1,2,3,4,5</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sovCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sovContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRegVehRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Registered_Vehicle__c</objectType>
    </variables>
    <variables>
        <name>vScore1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vScore2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vScore3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vScore4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSurveyChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
