force-app/main/default/flows/Send_SMS_for_Sales_CSI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_SMS</name>
        <label>Send SMS</label>
        <locationX>510</locationX>
        <locationY>54</locationY>
        <actionName>SendSMSFromServiceCloud</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_a_Log_a_Call_Record</targetReference>
        </connector>
        <inputParameters>
            <name>Keyword</name>
            <value>
                <elementReference>SMSMCKeyword</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mobileNumber</name>
            <value>
                <elementReference>Mobile_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMS_Body</name>
            <value>
                <elementReference>SMS_Text_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SubscriberKey</name>
            <value>
                <elementReference>Mobile_Number</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_for_Sales_CSI_Survey</name>
        <label>Check for Sales CSI Survey</label>
        <locationX>188</locationX>
        <locationY>216</locationY>
        <defaultConnector>
            <targetReference>Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_this_Sales_CSI_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovCase.Survey_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS_Sales_CSI</targetReference>
            </connector>
            <label>Is this Sales CSI Survey</label>
        </rules>
    </decisions>
    <formulas>
        <name>SMSMCKeyword</name>
        <dataType>String</dataType>
        <expression>{!$Setup.global_var__c.Service_Cloud_SMS_MC_Key__c}</expression>
    </formulas>
    <formulas>
        <name>vMobileNo</name>
        <dataType>String</dataType>
        <expression>&apos;65&apos; + {!sovCase.Phone005__c}</expression>
    </formulas>
    <interviewLabel>Send SMS for Sales CSI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send SMS for Sales CSI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Log_a_Call_Record</name>
        <label>Create a Log a Call Record</label>
        <locationX>510</locationX>
        <locationY>204</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SMS_Text_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_SMS__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sales CSI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToPhoneNo__c</field>
            <value>
                <elementReference>Mobile_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>sovCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Record_from_Case</name>
        <label>Fetch Record from Case</label>
        <locationX>196</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Sales_CSI_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sovCase</outputReference>
        <queriedFields>Registered_Vehicle__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Phone005__c</queriedFields>
        <queriedFields>Customer_Name__c</queriedFields>
        <queriedFields>Survey_Type__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>197</locationX>
        <locationY>352</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(215, 9, 9); font-size: 20px;&quot;&gt;You are only allowed to send SMS for Sales CSI Survey type.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_SMS_Sales_CSI</name>
        <label>Send SMS - Sales CSI</label>
        <locationX>343</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_SMS</targetReference>
        </connector>
        <fields>
            <name>Mobile_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vMobileNo</elementReference>
            </defaultValue>
            <fieldText>Mobile Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SMS_Text_Message</name>
            <defaultValue>
                <stringValue>{!vCSITemplate}</stringValue>
            </defaultValue>
            <fieldText>SMS Text Message</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Fetch_Record_from_Case</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>vCSITemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dear {!sovCase.Customer_Name__c}, welcome to the world of Mercedes-Benz! Service Booking is now easier with the new myMB app. Simply download from the App Store (http://apple.co/2nC0rnq) or Google Play Store (http://bit.ly/2nihvLF) to manage your Mercedes-Benz service booking anytime, anywhere!</text>
    </textTemplates>
    <variables>
        <name>sovCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
