force-app/main/default/flows/Servicing_and_Grooming.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_details_from_CBS_External_System</name>
        <label>Get details from CBS External System</label>
        <locationX>637</locationX>
        <locationY>50</locationY>
        <actionName>GetCBSDetails</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Servicing_and_Grooming_Details</targetReference>
        </connector>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>inputval</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>jrr</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Proceed</name>
        <choiceText>Proceed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proceed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Skip</name>
        <choiceText>Skip</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Skip</stringValue>
        </value>
    </choices>
    <choices>
        <name>vNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>vYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Verify_Follow_up</name>
        <label>Verify Follow-up</label>
        <locationX>965</locationX>
        <locationY>58</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Follow_up_Required_is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsFollowUpRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Case_Record</targetReference>
            </connector>
            <label>Follow-up Required is Yes</label>
        </rules>
        <rules>
            <name>Follow_up_Required_is_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsFollowUpRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vNo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Case_Record_0</targetReference>
            </connector>
            <label>Follow-up Required is No</label>
        </rules>
    </decisions>
    <formulas>
        <name>inputval</name>
        <dataType>String</dataType>
        <expression>TEXT({!Booking_ID}) + &apos;,&apos; + {!vVehRegRec.Autoline_Franchise_Code__c}</expression>
    </formulas>
    <formulas>
        <name>vCarID</name>
        <dataType>String</dataType>
        <expression>MID( {!jrr}, 
FIND(&apos;&lt;1&gt;&apos;, {!jrr})+3, 
FIND(&apos;&lt;2&gt;&apos;, {!jrr})-FIND(&apos;&lt;1&gt;&apos;, {!jrr})-3
)</expression>
    </formulas>
    <formulas>
        <name>vContEmail</name>
        <dataType>String</dataType>
        <expression>MID( {!jrr}, 
FIND(&apos;&lt;19&gt;&apos;, {!jrr})+4, 
FIND(&apos;&lt;20&gt;&apos;, {!jrr})-FIND(&apos;&lt;19&gt;&apos;, {!jrr})-4
)</expression>
    </formulas>
    <formulas>
        <name>vContMobile</name>
        <dataType>String</dataType>
        <expression>MID( {!jrr}, 
FIND(&apos;&lt;17&gt;&apos;, {!jrr})+4, 
FIND(&apos;&lt;18&gt;&apos;, {!jrr})-FIND(&apos;&lt;17&gt;&apos;, {!jrr})-4
)</expression>
    </formulas>
    <formulas>
        <name>vContName</name>
        <dataType>String</dataType>
        <expression>MID( {!jrr}, 
FIND(&apos;&lt;13&gt;&apos;, {!jrr})+4, 
FIND(&apos;&lt;14&gt;&apos;, {!jrr})-FIND(&apos;&lt;13&gt;&apos;, {!jrr})-4
)</expression>
    </formulas>
    <formulas>
        <name>vCustRemarks</name>
        <dataType>String</dataType>
        <expression>MID( {!jrr}, 
FIND(&apos;&lt;15&gt;&apos;, {!jrr})+4, 
FIND(&apos;&lt;16&gt;&apos;, {!jrr})-FIND(&apos;&lt;15&gt;&apos;, {!jrr})-4
)</expression>
    </formulas>
    <formulas>
        <name>vCustRemarksNotNull</name>
        <dataType>String</dataType>
        <expression>IF ({!vCustRemarks} = &apos;null&apos;, &apos; &apos;, {!vCustRemarks})</expression>
    </formulas>
    <formulas>
        <name>vMileage</name>
        <dataType>Number</dataType>
        <expression>VALUE(MID( {!jrr}, 
FIND(&apos;&lt;23&gt;&apos;, {!jrr})+4, 
FIND(&apos;&lt;24&gt;&apos;, {!jrr})-FIND(&apos;&lt;23&gt;&apos;, {!jrr})-4
))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>vPickupAddr</name>
        <dataType>String</dataType>
        <expression>MID( {!jrr}, 
FIND(&apos;&lt;5&gt;&apos;, {!jrr})+3, 
FIND(&apos;&lt;6&gt;&apos;, {!jrr})-FIND(&apos;&lt;5&gt;&apos;, {!jrr})-3
)</expression>
    </formulas>
    <formulas>
        <name>vPickupAddrNotNull</name>
        <dataType>String</dataType>
        <expression>IF ({!vPickupAddr} = &apos;null&apos;, &apos; &apos;, {!vPickupAddr})</expression>
    </formulas>
    <formulas>
        <name>vPickupPostal</name>
        <dataType>String</dataType>
        <expression>MID( {!jrr}, 
FIND(&apos;&lt;11&gt;&apos;, {!jrr})+4, 
FIND(&apos;&lt;12&gt;&apos;, {!jrr})-FIND(&apos;&lt;11&gt;&apos;, {!jrr})-4
)</expression>
    </formulas>
    <formulas>
        <name>vPickupPostalNotNull</name>
        <dataType>String</dataType>
        <expression>IF ({!vPickupPostal} = &apos;null&apos;, &apos; &apos;, {!vPickupPostal})</expression>
    </formulas>
    <formulas>
        <name>vRetAddrNotNull</name>
        <dataType>String</dataType>
        <expression>IF ({!vReturnAddr} = &apos;null&apos;, &apos; &apos;, {!vReturnAddr})</expression>
    </formulas>
    <formulas>
        <name>vRetPostalNotNull</name>
        <dataType>String</dataType>
        <expression>IF ({!vReturnPostal} = &apos;null&apos;, &apos; &apos;, {!vReturnPostal})</expression>
    </formulas>
    <formulas>
        <name>vReturnAddr</name>
        <dataType>String</dataType>
        <expression>MID( {!jrr}, 
FIND(&apos;&lt;7&gt;&apos;, {!jrr})+3, 
FIND(&apos;&lt;8&gt;&apos;, {!jrr})-FIND(&apos;&lt;7&gt;&apos;, {!jrr})-3
)</expression>
    </formulas>
    <formulas>
        <name>vReturnPostal</name>
        <dataType>String</dataType>
        <expression>MID( {!jrr}, 
FIND(&apos;&lt;9&gt;&apos;, {!jrr})+3, 
FIND(&apos;&lt;10&gt;&apos;, {!jrr})-FIND(&apos;&lt;9&gt;&apos;, {!jrr})-3
)</expression>
    </formulas>
    <formulas>
        <name>vServiceCenterCode</name>
        <dataType>String</dataType>
        <expression>MID( {!jrr}, 
FIND(&apos;&lt;21&gt;&apos;, {!jrr})+4, 
FIND(&apos;&lt;22&gt;&apos;, {!jrr})-FIND(&apos;&lt;21&gt;&apos;, {!jrr})-4
)</expression>
    </formulas>
    <formulas>
        <name>vServiceCenterName</name>
        <dataType>String</dataType>
        <expression>MID( {!jrr}, 
FIND(&apos;&lt;31&gt;&apos;, {!jrr})+4, 
FIND(&apos;&lt;32&gt;&apos;, {!jrr})-FIND(&apos;&lt;31&gt;&apos;, {!jrr})-4
)</expression>
    </formulas>
    <formulas>
        <name>vServiceCode</name>
        <dataType>String</dataType>
        <expression>MID( {!jrr}, 
FIND(&apos;&lt;25&gt;&apos;, {!jrr})+4, 
FIND(&apos;&lt;26&gt;&apos;, {!jrr})-FIND(&apos;&lt;25&gt;&apos;, {!jrr})-4
)</expression>
    </formulas>
    <formulas>
        <name>vServiceName</name>
        <dataType>String</dataType>
        <expression>MID( {!jrr}, 
FIND(&apos;&lt;29&gt;&apos;, {!jrr})+4, 
FIND(&apos;&lt;30&gt;&apos;, {!jrr})-FIND(&apos;&lt;29&gt;&apos;, {!jrr})-4
)</expression>
    </formulas>
    <formulas>
        <name>vServiceType</name>
        <dataType>String</dataType>
        <expression>MID( {!jrr}, 
FIND(&apos;&lt;27&gt;&apos;, {!jrr})+4, 
FIND(&apos;&lt;28&gt;&apos;, {!jrr})-FIND(&apos;&lt;27&gt;&apos;, {!jrr})-4
)</expression>
    </formulas>
    <formulas>
        <name>vServiceTypeNotNull</name>
        <dataType>String</dataType>
        <expression>IF ({!vServiceType} = &apos;null&apos;, &apos; &apos;, {!vServiceType})</expression>
    </formulas>
    <formulas>
        <name>vSvcCodeNotNull</name>
        <dataType>String</dataType>
        <expression>IF ({!vServiceCode} = &apos;null&apos;, &apos; &apos;,{!vServiceCode})</expression>
    </formulas>
    <formulas>
        <name>vSvcCtrCodeNotNull</name>
        <dataType>String</dataType>
        <expression>IF ({!vServiceCenterCode} = &apos;null&apos;, &apos; &apos;,{!vServiceCenterCode})</expression>
    </formulas>
    <formulas>
        <name>vSvcCtrNameNotNull</name>
        <dataType>String</dataType>
        <expression>IF ({!vServiceCenterName} = &apos;null&apos;, &apos; &apos;, {!vServiceCenterName})</expression>
    </formulas>
    <formulas>
        <name>vSvcNameNotNull</name>
        <dataType>String</dataType>
        <expression>IF ({!vServiceName} = &apos;null&apos;, &apos; &apos;,{!vServiceName})</expression>
    </formulas>
    <formulas>
        <name>vTime</name>
        <dataType>String</dataType>
        <expression>MID( {!jrr}, 
FIND(&apos;&lt;3&gt;&apos;, {!jrr})+3, 
FIND(&apos;&lt;4&gt;&apos;, {!jrr})-FIND(&apos;&lt;3&gt;&apos;, {!jrr})-3
)</expression>
    </formulas>
    <formulas>
        <name>vTimeNotNull</name>
        <dataType>String</dataType>
        <expression>IF ({!vTime} = &apos;null&apos;, &apos; &apos;, {!vTime})</expression>
    </formulas>
    <interviewLabel>Servicing and Grooming {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Servicing and Grooming</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Case_Record</name>
        <label>Create a Case Record</label>
        <locationX>854</locationX>
        <locationY>414</locationY>
        <inputAssignments>
            <field>Booking_ID__c</field>
            <value>
                <elementReference>Booking_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_Timestamp__c</field>
            <value>
                <elementReference>vTimeNotNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>vVehRegRec.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ1Ans__c</field>
            <value>
                <elementReference>Q1AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ2Ans__c</field>
            <value>
                <elementReference>Q2AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ3Ans__c</field>
            <value>
                <elementReference>Q3AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ4Ans__c</field>
            <value>
                <elementReference>Q4AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ5Ans__c</field>
            <value>
                <elementReference>Q5AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ6Ans__c</field>
            <value>
                <elementReference>Q6AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSE_Remarks__c</field>
            <value>
                <elementReference>CSE_Remarks_From_Prev_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vContId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Remarks__c</field>
            <value>
                <elementReference>vCustRemarksNotNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Franchise__c</field>
            <value>
                <elementReference>vVehRegRec.Franchise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage__c</field>
            <value>
                <elementReference>vMileage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>P4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Vehicle__c</field>
            <value>
                <elementReference>vVehRegRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>vRemarksIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCRS_PKD_Pickup_Location__c</field>
            <value>
                <elementReference>vPickupAddrNotNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCRS_PKD_Pickup_Postal_Code__c</field>
            <value>
                <elementReference>vPickupPostalNotNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCRS_PKD_Return_Location__c</field>
            <value>
                <elementReference>vRetAddrNotNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCRS_PKD_Return_Postal_Code__c</field>
            <value>
                <elementReference>vRetPostalNotNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Center_Code__c</field>
            <value>
                <elementReference>vSvcCtrCodeNotNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Centre__c</field>
            <value>
                <elementReference>vSvcCtrNameNotNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Code__c</field>
            <value>
                <elementReference>vSvcCodeNotNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Name__c</field>
            <value>
                <elementReference>vSvcNameNotNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <elementReference>vServiceTypeNotNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!vVehRegRec.Registration_Number__c} - {!vRecTypeName}</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Case_Record_0</name>
        <label>Create a Case Record</label>
        <locationX>1098</locationX>
        <locationY>411</locationY>
        <inputAssignments>
            <field>Booking_ID__c</field>
            <value>
                <elementReference>Booking_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_Timestamp__c</field>
            <value>
                <elementReference>vTimeNotNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>vVehRegRec.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ1Ans__c</field>
            <value>
                <elementReference>Q1AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ2Ans__c</field>
            <value>
                <elementReference>Q2AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ3Ans__c</field>
            <value>
                <elementReference>Q3AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ4Ans__c</field>
            <value>
                <elementReference>Q4AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ5Ans__c</field>
            <value>
                <elementReference>Q5AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ6Ans__c</field>
            <value>
                <elementReference>Q6AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSE_Remarks__c</field>
            <value>
                <elementReference>CSE_Remarks_From_Prev_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vContId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Remarks__c</field>
            <value>
                <elementReference>vCustRemarksNotNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Franchise__c</field>
            <value>
                <elementReference>vVehRegRec.Franchise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage__c</field>
            <value>
                <elementReference>vMileage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>P4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Vehicle__c</field>
            <value>
                <elementReference>vVehRegRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>vRemarksIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCRS_PKD_Pickup_Location__c</field>
            <value>
                <elementReference>vPickupAddrNotNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCRS_PKD_Pickup_Postal_Code__c</field>
            <value>
                <elementReference>vPickupPostalNotNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCRS_PKD_Return_Location__c</field>
            <value>
                <elementReference>vRetAddrNotNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCRS_PKD_Return_Postal_Code__c</field>
            <value>
                <elementReference>vRetPostalNotNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Center_Code__c</field>
            <value>
                <elementReference>vSvcCtrCodeNotNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Centre__c</field>
            <value>
                <elementReference>vSvcCtrNameNotNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Code__c</field>
            <value>
                <elementReference>vSvcCodeNotNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Name__c</field>
            <value>
                <elementReference>vSvcNameNotNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <elementReference>vServiceTypeNotNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!vVehRegRec.Registration_Number__c} - {!vRecTypeName}</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>Servicing_and_Grooming_Case_Create</name>
        <label>Servicing and Grooming - Case Create</label>
        <locationX>507</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_details_from_CBS_External_System</targetReference>
        </connector>
        <fields>
            <name>Booking_ID</name>
            <dataType>Number</dataType>
            <fieldText>Booking ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>CSE_Remarks</name>
            <fieldText>CSE Remarks</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Servicing_and_Grooming_Details</name>
        <label>Servicing and Grooming - Details</label>
        <locationX>779</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Verify_Follow_up</targetReference>
        </connector>
        <fields>
            <name>Time</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vTimeNotNull</elementReference>
            </defaultValue>
            <fieldText>Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SCRS_PKD_Pick_Up_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vPickupAddrNotNull</elementReference>
            </defaultValue>
            <fieldText>SCRS / PKD Pick Up Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SCRS_PKD_Pick_Up_Postal_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vPickupPostalNotNull</elementReference>
            </defaultValue>
            <fieldText>SCRS / PKD Pick Up Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SCRS_PKD_Return_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vRetAddrNotNull</elementReference>
            </defaultValue>
            <fieldText>SCRS / PKD Return Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Return_Postal_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vRetPostalNotNull</elementReference>
            </defaultValue>
            <fieldText>SCRS / PKD Return Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Service_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vSvcNameNotNull</elementReference>
            </defaultValue>
            <fieldText>Service Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Service_Center_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vSvcCtrNameNotNull</elementReference>
            </defaultValue>
            <fieldText>Service Center Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Service_Type</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vServiceTypeNotNull</elementReference>
            </defaultValue>
            <fieldText>Service Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Current_Mileage</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vMileage</elementReference>
            </defaultValue>
            <fieldText>Current Mileage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Service_Center_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vSvcCtrCodeNotNull</elementReference>
            </defaultValue>
            <fieldText>Service Center Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Service_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vSvcCodeNotNull</elementReference>
            </defaultValue>
            <fieldText>Service Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Customer_Remarks</name>
            <defaultValue>
                <stringValue>{!vCustRemarksNotNull}</stringValue>
            </defaultValue>
            <fieldText>Customer Remarks</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CSE_Remarks_From_Prev_Screen</name>
            <defaultValue>
                <stringValue>{!CSE_Remarks}</stringValue>
            </defaultValue>
            <fieldText>CSE Remarks (From Prev Screen)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IsFollowUpRequired</name>
            <choiceReferences>vYes</choiceReferences>
            <choiceReferences>vNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>vNo</defaultSelectedChoiceReference>
            <fieldText>Is Follow Up Required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Authenticate_a_Caller</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Authenticate_a_Caller</name>
        <label>Authenticate a Caller</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Servicing_and_Grooming_Case_Create</targetReference>
        </connector>
        <flowName>Caller_Authentication</flowName>
        <inputAssignments>
            <name>vAddr1Ip</name>
            <value>
                <elementReference>cAddr1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vAddr2IP</name>
            <value>
                <elementReference>cAddr2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vAddr3IP</name>
            <value>
                <elementReference>cAddr3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vBirthDateIP</name>
            <value>
                <elementReference>cBirthDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vEmailIP</name>
            <value>
                <elementReference>cEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vMobilePhoneIP</name>
            <value>
                <elementReference>cMobile</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Q1AnsIO</assignToReference>
            <name>vQ1Ans</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q2AnsIO</assignToReference>
            <name>vQ2Ans</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q3AnsIO</assignToReference>
            <name>vQ3Ans</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q4AnsIO</assignToReference>
            <name>vQ4Ans</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q5AnsIO</assignToReference>
            <name>vQ5Ans</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q6AnsIO</assignToReference>
            <name>vQ6Answ</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q7AnsIO</assignToReference>
            <name>vQ7Ans</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vRemarksIO</assignToReference>
            <name>vRemarks</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>cAddr1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cAddr2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cAddr3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cBirthDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Is_Follow_up_Required_No</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Is_Follow_up_Required_Yes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>jrr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q1AnsIO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q2AnsIO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q3AnsIO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q4AnsIO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q5AnsIO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q6AnsIO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q7AnsIO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vBookingID</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vContId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VerifyPassorFail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRecTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRemarksIO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vVehRegRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Registered_Vehicle__c</objectType>
    </variables>
</Flow>
