force-app/main/default/flows/Set_Ownership_on_Special_Tools.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Change_ownership</name>
        <label>Change ownership</label>
        <locationX>176</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>UserID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Special_Tool_record</targetReference>
        </connector>
    </assignments>
    <description>Changes the owner of special tool records to public group based on the special tool location.</description>
    <interviewLabel>Set Ownership on Special Tools {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Ownership on Special Tools</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_ID</name>
        <label>Get User ID</label>
        <locationX>176</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_ownership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>salesforce@cyclecarriage.com.sg</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Special_Tool_record</name>
        <label>Update Special Tool record</label>
        <locationX>176</locationX>
        <locationY>607</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_User_ID</targetReference>
        </connector>
        <object>Special_Tool__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_User_ID.Id</elementReference>
        </value>
    </variables>
</Flow>
