force-app/main/default/flows/SFU_Survey_Main_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Activate_Complaint_to_followup</name>
        <label>Activate Complaint to followup</label>
        <locationX>486</locationX>
        <locationY>1283</locationY>
        <assignmentItems>
            <assignToReference>vComplaint</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Survey_Call_Log_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Activate_Do_not_call</name>
        <label>Activate Do not call</label>
        <locationX>559</locationX>
        <locationY>448</locationY>
        <assignmentItems>
            <assignToReference>vDNC</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Other_Requests_E_R</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Activate_ER</name>
        <label>Activate ER</label>
        <locationX>674</locationX>
        <locationY>655</locationY>
        <assignmentItems>
            <assignToReference>vEnqReq</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Other_Requests_Make_Change_Appt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Activate_Make_Change_Appt</name>
        <label>Activate Make/Change Appt</label>
        <locationX>670</locationX>
        <locationY>817</locationY>
        <assignmentItems>
            <assignToReference>vMakeChgAppt</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Other_Requests_Complaint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Status_as_Closed</name>
        <label>Assign Case Status as Closed</label>
        <locationX>1275</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>vCaseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Survey_Call_Log_created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Status_as_Open</name>
        <label>Assign Case Status as Open</label>
        <locationX>1736</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>vCaseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Survey_Call_Log_created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_Requests_to_variable</name>
        <label>Assign Other Requests to variable</label>
        <locationX>682</locationX>
        <locationY>233</locationY>
        <assignmentItems>
            <assignToReference>vOtherRequests</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCaseRec.Other_Requests__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Other_Requests_DNC</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_2nd_Call_Status</name>
        <label>Check 2nd Call Status</label>
        <locationX>1562</locationX>
        <locationY>953</locationY>
        <defaultConnector>
            <targetReference>Check_3rd_Call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_2nd_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSurveyCallLogRec.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vCaseRec.Survey_Call_Log__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vSurveyCallLogRec.X2nd_Call_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vSurveyCallLogRec.X2nd_Agent_code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vSurveyCallLogRec.X2nd_Call_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Call_log_with_2nd_call_details</targetReference>
            </connector>
            <label>Check 2nd Call</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_3rd_Call</name>
        <label>Check 3rd Call</label>
        <locationX>1344</locationX>
        <locationY>957</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_3rd_call_details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSurveyCallLogRec.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vCaseRec.Survey_Call_Log__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vSurveyCallLogRec.X3rd_Agent_code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vSurveyCallLogRec.X3rd_Call_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vSurveyCallLogRec.X3rd_Call_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_call_log_with_3rd_call_details</targetReference>
            </connector>
            <label>Check 3rd call details</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Other_Requests_Complaint</name>
        <label>Check Other Requests - Complaint</label>
        <locationX>284</locationX>
        <locationY>1120</locationY>
        <defaultConnector>
            <targetReference>Get_Survey_Call_Log_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Complaint_to_followup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOtherRequests</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_Complaint_to_followup</targetReference>
            </connector>
            <label>Check for Complaint to followup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Other_Requests_DNC</name>
        <label>Check Other Requests - DNC</label>
        <locationX>305</locationX>
        <locationY>241</locationY>
        <defaultConnector>
            <targetReference>Check_Other_Requests_E_R</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Do_not_call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOtherRequests</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Do not call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_Do_not_call</targetReference>
            </connector>
            <label>Check for Do not call</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Other_Requests_E_R</name>
        <label>Check Other Requests - E&amp;R</label>
        <locationX>296</locationX>
        <locationY>651</locationY>
        <defaultConnector>
            <targetReference>Check_Other_Requests_Make_Change_Appt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_E_R</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOtherRequests</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Enquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_ER</targetReference>
            </connector>
            <label>Check for E&amp;R</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Other_Requests_Make_Change_Appt</name>
        <label>Check Other Requests - Make/Change Appt</label>
        <locationX>284</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Check_Other_Requests_Complaint</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Make_Change_Appt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOtherRequests</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Make/Change Appt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_Make_Change_Appt</targetReference>
            </connector>
            <label>Check for Make/Change Appt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Survey_Call_Log_created</name>
        <label>Check Survey Call Log created</label>
        <locationX>1560</locationX>
        <locationY>559</locationY>
        <defaultConnector>
            <targetReference>Get_Survey_Call_Log_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Survey_Call_Log_Record_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCaseRec.Survey_Call_Log__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Survey_Call_Log_Record</targetReference>
            </connector>
            <label>Check Survey Call Log Record Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Survey_Status</name>
        <label>Check Survey Status</label>
        <locationX>1808</locationX>
        <locationY>116</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Uncontactable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StatusVal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uncontactable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncontactable_Notification</targetReference>
            </connector>
            <label>Check for Uncontactable</label>
        </rules>
        <rules>
            <name>Check_for_Rejected_this_survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StatusVal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected this survey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reject_Survey_Notification</targetReference>
            </connector>
            <label>Check for Rejected this survey</label>
        </rules>
        <rules>
            <name>Check_for_call_back</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StatusVal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call back</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_back_Notification</targetReference>
            </connector>
            <label>Check for call back</label>
        </rules>
        <rules>
            <name>Check_for_Start_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StatusVal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Start Survey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SFU_Questionnaire</targetReference>
            </connector>
            <label>Check for Start Survey</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>vSurveyStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Survey_Status__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>vCaseLoc</name>
        <dataType>String</dataType>
        <expression>{!vCaseRec.Location__c} + &apos; &apos; + {!vCaseRec.CaseNumber}</expression>
    </formulas>
    <interviewLabel>SFU Survey Main Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFU Survey Main Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey_Call_Log_Record</name>
        <label>Create Survey Call Log Record</label>
        <locationX>1886</locationX>
        <locationY>551</locationY>
        <assignRecordIdToReference>vSurveyCallLogId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Other_Requests_Field_values</targetReference>
        </connector>
        <inputAssignments>
            <field>Call_back_Date_Time__c</field>
            <value>
                <elementReference>vCall_back_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vCaseRec.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1st_Agent_code__c</field>
            <value>
                <elementReference>Enter_Agent_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1st_Call_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1st_Call_Status__c</field>
            <value>
                <elementReference>StatusVal</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Call_Log__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record_Details</name>
        <label>Get Case Record Details</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Registered_Vehicle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>vCaseRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Registered_Vehicle__c</queriedFields>
        <queriedFields>Location__c</queriedFields>
        <queriedFields>Survey_Call_Log__c</queriedFields>
        <queriedFields>Other_Requests__c</queriedFields>
        <queriedFields>Additional_Remarks__c</queriedFields>
        <queriedFields>Phone_1__c</queriedFields>
        <queriedFields>Title__c</queriedFields>
        <queriedFields>Customer_Name__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Child_Complaint__c</queriedFields>
        <queriedFields>Child_DNC__c</queriedFields>
        <queriedFields>Child_ER__c</queriedFields>
        <queriedFields>Child_SG__c</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Location_Full_Name</name>
        <label>Get Location Full Name</label>
        <locationX>684</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Other_Requests_to_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseRec.Location__c</elementReference>
            </value>
        </filters>
        <object>Service_Centre__mdt</object>
        <outputAssignments>
            <assignToReference>vServiceCentre</assignToReference>
            <field>Service_Centre_Full_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Registered_Vehicle</name>
        <label>Get Registered Vehicle</label>
        <locationX>523</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Location_Full_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseRec.Registered_Vehicle__c</elementReference>
            </value>
        </filters>
        <object>Registered_Vehicle__c</object>
        <outputAssignments>
            <assignToReference>vFranchise</assignToReference>
            <field>Branch__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vBranch</assignToReference>
            <field>Franchise__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vRegVehName</assignToReference>
            <field>Registration_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Call_Log_Details</name>
        <label>Get Survey Call Log Details</label>
        <locationX>1569</locationX>
        <locationY>757</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_2nd_Call_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseRec.Survey_Call_Log__c</elementReference>
            </value>
        </filters>
        <object>Survey_Call_Log__c</object>
        <outputReference>vSurveyCallLogRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Call_back_Date_Time__c</queriedFields>
        <queriedFields>X1st_Call_Date_Time__c</queriedFields>
        <queriedFields>X1st_Call_Status__c</queriedFields>
        <queriedFields>X2nd_Call_Date_Time__c</queriedFields>
        <queriedFields>X2nd_Call_Status__c</queriedFields>
        <queriedFields>X3rd_Call_Date_Time__c</queriedFields>
        <queriedFields>X3rd_Call_Status__c</queriedFields>
        <queriedFields>X1st_Agent_code__c</queriedFields>
        <queriedFields>X2nd_Agent_code__c</queriedFields>
        <queriedFields>X3rd_Agent_code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Call_Log_Record</name>
        <label>Get Survey Call Log Record</label>
        <locationX>1066</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SFU_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseRec.Survey_Call_Log__c</elementReference>
            </value>
        </filters>
        <object>Survey_Call_Log__c</object>
        <outputAssignments>
            <assignToReference>vCallbackDtTm</assignToReference>
            <field>Call_back_Date_Time__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Call_log_with_2nd_call_details</name>
        <label>Update Call log with 2nd call details</label>
        <locationX>1891</locationX>
        <locationY>955</locationY>
        <connector>
            <targetReference>Get_Other_Requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseRec.Survey_Call_Log__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_back_Date_Time__c</field>
            <value>
                <elementReference>vCall_back_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X2nd_Agent_code__c</field>
            <value>
                <elementReference>Enter_Agent_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X2nd_Call_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X2nd_Call_Status__c</field>
            <value>
                <elementReference>StatusVal</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Call_Log__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_call_log_with_3rd_call_details</name>
        <label>Update call log with 3rd call details</label>
        <locationX>1351</locationX>
        <locationY>1281</locationY>
        <connector>
            <targetReference>Get_Other_Requests_MSP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseRec.Survey_Call_Log__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_back_Date_Time__c</field>
            <value>
                <elementReference>vCall_back_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X3rd_Agent_code__c</field>
            <value>
                <elementReference>Enter_Agent_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X3rd_Call_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X3rd_Call_Status__c</field>
            <value>
                <elementReference>StatusVal</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Call_Log__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_record_with_2nd_call_status</name>
        <label>Update Case record with 2nd call status</label>
        <locationX>2467</locationX>
        <locationY>959</locationY>
        <connector>
            <targetReference>Create_Case_for_Other_Requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_Remarks__c</field>
            <value>
                <elementReference>Additional_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Requests__c</field>
            <value>
                <elementReference>OtherRequestsMSP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>vCaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By_Agent__c</field>
            <value>
                <elementReference>Enter_Agent_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Status__c</field>
            <value>
                <elementReference>StatusVal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Submission_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Record_with_Survey_Call_Log_Id</name>
        <label>Update Case Record with Survey Call Log Id</label>
        <locationX>2396</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Create_Case_for_Other_Requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_Remarks__c</field>
            <value>
                <elementReference>Additional_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Requests__c</field>
            <value>
                <elementReference>OtherRequestsMSP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>vCaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By_Agent__c</field>
            <value>
                <elementReference>Enter_Agent_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Call_Log__c</field>
            <value>
                <elementReference>vSurveyCallLogId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Status__c</field>
            <value>
                <elementReference>StatusVal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Submission_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_with_3rd_call_details</name>
        <label>Update Case with 3rd call details</label>
        <locationX>1946</locationX>
        <locationY>1281</locationY>
        <connector>
            <targetReference>Create_Case_for_Other_Requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_Remarks__c</field>
            <value>
                <elementReference>Additional_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Requests__c</field>
            <value>
                <elementReference>OtherRequestsMSP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By_Agent__c</field>
            <value>
                <elementReference>Enter_Agent_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Status__c</field>
            <value>
                <elementReference>StatusVal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Submission_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Call_back_Notification</name>
        <label>Call back Notification</label>
        <locationX>2005</locationX>
        <locationY>383</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Status_as_Open</targetReference>
        </connector>
        <fields>
            <name>SFUCallbackDateTime</name>
            <fieldText>&lt;p&gt;{!CallbackMsgText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reject_Survey_Notification</name>
        <label>Reject Survey Notification</label>
        <locationX>1272</locationX>
        <locationY>315</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Status_as_Closed</targetReference>
        </connector>
        <fields>
            <name>vRejectMsg</name>
            <fieldText>&lt;p&gt;{!RejectMsgText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SFU_Survey</name>
        <label>SFU Survey</label>
        <locationX>1148</locationX>
        <locationY>99</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Survey_Status</targetReference>
        </connector>
        <fields>
            <name>vcaseLocvalue</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(21, 10, 237);&quot;&gt;Case#{!vCaseRec.CaseNumber}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vContactNo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(99, 8, 228); background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Customer Contact No. &lt;/b&gt;{!PhoneNo}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vRegVehNo</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Registered Vehicle No. &lt;/b&gt;{!VehNo}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Agent_Code</name>
            <dataType>String</dataType>
            <fieldText>Enter Agent Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Greetings</name>
            <fieldText>&lt;p&gt;{!vGreetings}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>b1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SurveyStatus</name>
            <extensionName>c:HorizontalRadioButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>StatusListLabels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>StatusListVal</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioGroupLabel</name>
                <value>
                    <stringValue>Call Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedVal</name>
                <value>
                    <stringValue>Start Survey</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>StatusVal</assignToReference>
                <name>selectedVal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>bl3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ending2</name>
            <fieldText>&lt;p&gt;{!vEnding2}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vCall_back_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>vCallbackDtTm</elementReference>
            </defaultValue>
            <fieldText>Call back Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vSurveyStatus</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Call back</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Additional_Remarks</name>
            <defaultValue>
                <stringValue>{!vCaseRec.Additional_Remarks__c}</stringValue>
            </defaultValue>
            <fieldText>Additional Remarks</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OtherReq</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Other Requests&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_not_call_customer_for_any_surveys_anymore</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vDNC</elementReference>
            </defaultValue>
            <fieldText>Do not call customer for any surveys anymore</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enquiry_Request</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vEnqReq</elementReference>
            </defaultValue>
            <fieldText>Enquiry &amp; Request</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Make_Change_Appt</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vMakeChgAppt</elementReference>
            </defaultValue>
            <fieldText>Make/Change Appt</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Complaint_to_followup</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vComplaint</elementReference>
            </defaultValue>
            <fieldText>Complaint to followup</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Uncontactable_Notification</name>
        <label>Uncontactable Notification</label>
        <locationX>1600</locationX>
        <locationY>383</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Status_as_Open</targetReference>
        </connector>
        <fields>
            <name>UncontactableMsg</name>
            <fieldText>&lt;p&gt;{!UncontactableMsgText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Case_Record_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Case_for_Other_Requests</name>
        <label>Create Case for Other Requests</label>
        <locationX>2714</locationX>
        <locationY>961</locationY>
        <flowName>SurveyCreateCase</flowName>
        <inputAssignments>
            <name>pAddRem</name>
            <value>
                <elementReference>Additional_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pBranch</name>
            <value>
                <elementReference>vBranch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pComplaint</name>
            <value>
                <elementReference>Complaint_to_followup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pContId</name>
            <value>
                <elementReference>vCaseRec.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pDNC</name>
            <value>
                <elementReference>Do_not_call_customer_for_any_surveys_anymore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pEnqReq</name>
            <value>
                <elementReference>Enquiry_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pFranchise</name>
            <value>
                <elementReference>vFranchise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pMakeChgAppt</name>
            <value>
                <elementReference>Make_Change_Appt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pRegVehId</name>
            <value>
                <elementReference>vCaseRec.Registered_Vehicle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vComplaintCB</name>
            <value>
                <elementReference>vCaseRec.Child_Complaint__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vDNCCB</name>
            <value>
                <elementReference>vCaseRec.Child_DNC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vERCB</name>
            <value>
                <elementReference>vCaseRec.Child_ER__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vSGCB</name>
            <value>
                <elementReference>vCaseRec.Child_SG__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_Other_Requests</name>
        <label>Get Other Requests</label>
        <locationX>2117</locationX>
        <locationY>956</locationY>
        <connector>
            <targetReference>Update_Case_record_with_2nd_call_status</targetReference>
        </connector>
        <flowName>Get_Other_Requests_MSP</flowName>
        <inputAssignments>
            <name>inChgAppt</name>
            <value>
                <elementReference>Make_Change_Appt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inComplaint</name>
            <value>
                <elementReference>Complaint_to_followup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inDNC</name>
            <value>
                <elementReference>Do_not_call_customer_for_any_surveys_anymore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inEnqReq</name>
            <value>
                <elementReference>Enquiry_Request</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OtherRequestsMSP</assignToReference>
            <name>OtherRequestsMSP</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Other_Requests_Field_values</name>
        <label>Get Other Requests Field values</label>
        <locationX>2106</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Update_Case_Record_with_Survey_Call_Log_Id</targetReference>
        </connector>
        <flowName>Get_Other_Requests_MSP</flowName>
        <inputAssignments>
            <name>inChgAppt</name>
            <value>
                <elementReference>Make_Change_Appt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inComplaint</name>
            <value>
                <elementReference>Complaint_to_followup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inDNC</name>
            <value>
                <elementReference>Do_not_call_customer_for_any_surveys_anymore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inEnqReq</name>
            <value>
                <elementReference>Enquiry_Request</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OtherRequestsMSP</assignToReference>
            <name>OtherRequestsMSP</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Other_Requests_MSP</name>
        <label>Get Other Requests MSP</label>
        <locationX>1621</locationX>
        <locationY>1281</locationY>
        <connector>
            <targetReference>Update_Case_with_3rd_call_details</targetReference>
        </connector>
        <flowName>Get_Other_Requests_MSP</flowName>
        <inputAssignments>
            <name>inChgAppt</name>
            <value>
                <elementReference>Make_Change_Appt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inComplaint</name>
            <value>
                <elementReference>Complaint_to_followup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inDNC</name>
            <value>
                <elementReference>Do_not_call_customer_for_any_surveys_anymore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inEnqReq</name>
            <value>
                <elementReference>Enquiry_Request</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OtherRequestsMSP</assignToReference>
            <name>OtherRequestsMSP</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>SFU_Questionnaire</name>
        <label>SFU Questionnaire</label>
        <locationX>2238</locationX>
        <locationY>114</locationY>
        <flowName>SFU_Questionnaire</flowName>
        <inputAssignments>
            <name>inAddRem</name>
            <value>
                <elementReference>Additional_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inComplaint</name>
            <value>
                <elementReference>Complaint_to_followup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inComplaintCB</name>
            <value>
                <elementReference>vCaseRec.Child_Complaint__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inDNC</name>
            <value>
                <elementReference>Do_not_call_customer_for_any_surveys_anymore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inDNCCB</name>
            <value>
                <elementReference>vCaseRec.Child_DNC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inEnqReq</name>
            <value>
                <elementReference>Enquiry_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inERCB</name>
            <value>
                <elementReference>vCaseRec.Child_ER__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inSGCB</name>
            <value>
                <elementReference>vCaseRec.Child_SG__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vAgentCode</name>
            <value>
                <elementReference>Enter_Agent_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vBranch</name>
            <value>
                <elementReference>vBranch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vChgAppt</name>
            <value>
                <elementReference>Make_Change_Appt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vContId</name>
            <value>
                <elementReference>vCaseRec.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vFranchise</name>
            <value>
                <elementReference>vFranchise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRegVehId</name>
            <value>
                <elementReference>vCaseRec.Registered_Vehicle__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>CallbackMsgText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(33, 8, 218);&quot;&gt;Notification: Call back status saved.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CompleteMsgText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(13, 201, 234);&quot;&gt;Notification: Survey completed and CLOSED.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PhoneNo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(29, 2, 237);&quot;&gt;{!vCaseRec.Phone_1__c}&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RejectMsgText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(33, 8, 218);&quot;&gt;Notification: Customer rejected this Survey and CLOSED&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>UncontactableMsgText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(6, 39, 250);&quot;&gt;Notification: Customer uncontactable status saved.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>VehNo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(35, 3, 240);&quot;&gt;{!vRegVehName}&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>vEnding</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;b style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;&lt;i&gt;If customer give score of 8-10 in both questions:&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;You may be contacted by a company called IPSOS for a customer satisfaction phone survey. By Mercedes Benz standard, the staff who served you will get 1 point for a score of 10, however he/she will get 0 point for a score of 1 to 9. We hope that you can give us a score of 10 to support the staff.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;b style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;&lt;i&gt;If not:&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;How could we do better to get a 10 from you? By Mercedes Benz standard, the staff who served you will get 1 point for a score of 10, however he/she will get 0 point for a score of 1 to 9. We hope that you can give us a score of 10 to support the staff.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>vEnding2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;b style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;&lt;i&gt;﻿If customer is not convenient to do the survey: &lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;When would it be convenient to call you back? We really value your feedback and need your help to complete this short survey.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>vGreetings</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Good Morning / Afternoon / Evening, &lt;/b&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(20, 4, 244);&quot;&gt;{!vCaseRec.Title__c} &lt;/b&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(32, 3, 240);&quot;&gt;{!vCaseRec.Customer_Name__c}&lt;/b&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;,&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;I&apos;m &amp;lt;Name of Caller&amp;gt; calling on behalf of Cycle &amp;amp; Carriage Mercedes Benz.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;This is a service follow up call for your recent visit to &lt;/span&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 16px; color: rgb(22, 6, 244);&quot;&gt;{!vServiceCentre}.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;We just need to ask you 2 questions on your experience at the service center.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;May I proceed?&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>vQ1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;&lt;u&gt;Question one:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;How satisfied are you with the overall service experience in this service center? From a rating of 1-10, 10 being satisfied, could we get a rating of 10 from you?&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>vQ2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;&lt;u&gt;Question two:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;How likely would you recommend this service center to friends or family? From a rating scale of 1-10, 10 being recommended, could we get a rating of 10 from you?&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CallbackErrMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Error: Select Date and Time for Call back</stringValue>
        </value>
    </variables>
    <variables>
        <name>Option1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0,1,2,3,4,5,6,7,8,9,10</stringValue>
        </value>
    </variables>
    <variables>
        <name>Option1Val</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Option1ValList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0,1,2,3,4,5,6,7,8,9,10</stringValue>
        </value>
    </variables>
    <variables>
        <name>OPtion2Val</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OtherRequestsMSP</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RejectMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Notification: Customer rejected this survey and CLOSED</stringValue>
        </value>
    </variables>
    <variables>
        <name>StatusListLabels</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Start Survey,Uncontactable,Rejected this Survey,Call back</stringValue>
        </value>
    </variables>
    <variables>
        <name>StatusListVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Start Survey,Uncontactable,Rejected this Survey,Call back</stringValue>
        </value>
    </variables>
    <variables>
        <name>StatusVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBranch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCallbackDtTm</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCaseRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vComplaint</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vContName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDNC</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEnqReq</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vErrMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Select Date and time for Call back</stringValue>
        </value>
    </variables>
    <variables>
        <name>vFranchise</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vMakeChgAppt</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOtherRequests</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRegVehName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vServiceCentre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSurveyCallLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSurveyCallLogRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey_Call_Log__c</objectType>
    </variables>
</Flow>
