force-app/main/default/flows/SFU_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Verify_case_Id_again</name>
        <label>Verify case Id again</label>
        <locationX>584</locationX>
        <locationY>286</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Verify_Case_Id_value_again</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCaseIDVal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0s</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Case_Record</targetReference>
            </connector>
            <label>Verify Case Id value again</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Case_ID_New_or_Existing</name>
        <label>Verify Case ID New or Existing</label>
        <locationX>92</locationX>
        <locationY>237</locationY>
        <defaultConnector>
            <targetReference>Fetch_Case_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Verify_Case_Id_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCaseIDVal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0s</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vehicle_Info</targetReference>
            </connector>
            <label>Verify Case Id value</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>vBranch</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Branch__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vSurveyStatusList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Survey_Status__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>vCaseIdLen</name>
        <dataType>Number</dataType>
        <expression>LEN({!var_CaseId})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>vCaseIDVal</name>
        <dataType>String</dataType>
        <expression>MID({!var_CaseId},1,3)</expression>
    </formulas>
    <interviewLabel>SFU Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFU Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Case_Record</name>
        <label>Create a Case Record</label>
        <locationX>837</locationX>
        <locationY>252</locationY>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>vBranch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>sovContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Franchise__c</field>
            <value>
                <elementReference>vRegVehRec.Franchise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>P4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Vehicle__c</field>
            <value>
                <elementReference>vRegVehRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFU_Q1_Ans__c</field>
            <value>
                <elementReference>varChoice1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFU_Q2_Ans__c</field>
            <value>
                <elementReference>varChoice2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFU_Remarks__c</field>
            <value>
                <elementReference>SFU_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Status__c</field>
            <value>
                <elementReference>vSurveyStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Type__c</field>
            <value>
                <elementReference>vSurveyChoice</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Case_Record</name>
        <label>Fetch Case Record</label>
        <locationX>218</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sovCase</outputReference>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Registered_Vehicle__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Contact_Record</name>
        <label>Fetch Contact Record</label>
        <locationX>354</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vehicle_Info_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sovContact</outputReference>
        <queriedFields>Name_with_Salutation__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Info</name>
        <label>Get Contact Info</label>
        <locationX>380</locationX>
        <locationY>357</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MB_Service_Followup_Call</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRegVehRec.Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sovContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name_with_Salutation__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle_Info</name>
        <label>Get Vehicle Info</label>
        <locationX>220</locationX>
        <locationY>319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Registered_Vehicle__c</object>
        <outputReference>vRegVehRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Franchise__c</queriedFields>
        <queriedFields>Branch__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle_Info_Case</name>
        <label>Get Vehicle Info (Case)</label>
        <locationX>458</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MB_Service_Followup_Call</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovCase.Registered_Vehicle__c</elementReference>
            </value>
        </filters>
        <object>Registered_Vehicle__c</object>
        <outputReference>vRegVehRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Franchise__c</queriedFields>
        <queriedFields>Branch__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>725</locationX>
        <locationY>74</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>vBranch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Franchise__c</field>
            <value>
                <elementReference>vRegVehRec.Franchise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFU_Q1_Ans__c</field>
            <value>
                <elementReference>varChoice1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFU_Q2_Ans__c</field>
            <value>
                <elementReference>varChoice2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFU_Remarks__c</field>
            <value>
                <elementReference>SFU_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Status__c</field>
            <value>
                <elementReference>vSurveyStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>MB_Service_Followup_Call</name>
        <label>MB Service Followup Call</label>
        <locationX>580</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Verify_case_Id_again</targetReference>
        </connector>
        <fields>
            <name>Branch</name>
            <choiceReferences>vBranch</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Branch</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Question 1&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Using a 1 to 10 rating scale, overall how satisfied are you with your service experience at Mercedes-Benz Center (Alexandra / Eunos / Pandan Loop service center)? &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question1Score</name>
            <extensionName>c:HorizontalRadioButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>Option1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>OptionValuesList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioGroupLabel</name>
                <value>
                    <stringValue>Choose Scoring for Q1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedVal</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varChoice1</assignToReference>
                <name>selectedVal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Question2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Question 2&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Using a 1 to 10 rating scale, would you recommend Mercedes-Benz Center (Alexandra / Eunos / Pandan Loop service center) to a friend or relative for service work in the future?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question2Score</name>
            <extensionName>c:HorizontalRadioButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>Option1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>OptionValuesList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioGroupLabel</name>
                <value>
                    <stringValue>Choose Scoring for Q2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedVal</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varChoice2</assignToReference>
                <name>selectedVal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>conclusiontext</name>
            <fieldText>We would also like to take this opportunity to inform that you may be contacted by our principal Mercedes-Benz for a customer satisfaction phone survey on your Experience at our Service Center. That survey may take up 15-20 mins.

If you are satisfied with the overall service experience, we would appreciate if you can give us a score of 10 for all the  questions asked during the phone survey. 
Thank you very much for your kind support. Have a nice day.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SFU_Remarks</name>
            <fieldText>SFU Remarks</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>vSurveyStatus</name>
            <choiceReferences>vSurveyStatusList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Survey Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Verify_Case_ID_New_or_Existing</startElementReference>
    <status>Active</status>
    <variables>
        <name>CompleteMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Survey is completed successfully and the Case is Closed</stringValue>
        </value>
    </variables>
    <variables>
        <name>Option1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0,1,2,3,4,5,6,7,8,9,10</stringValue>
        </value>
    </variables>
    <variables>
        <name>OptionValuesList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0,1,2,3,4,5,6,7,8,9,10</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sovCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sovContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChoice1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varChoice2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRegVehRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Registered_Vehicle__c</objectType>
    </variables>
    <variables>
        <name>vSurveyChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
