force-app/main/default/flows/SFU_Questionnaire.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Callback</name>
        <choiceText>Call back</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call back</stringValue>
        </value>
    </choices>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Incomplete</name>
        <choiceText>Incomplete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Incomplete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rejected</name>
        <choiceText>Rejected this survey</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected this survey</stringValue>
        </value>
    </choices>
    <choices>
        <name>Uncontactable</name>
        <choiceText>Uncontactable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Uncontactable</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Scoring</name>
        <label>Check Scoring</label>
        <locationX>567</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Complete_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Scoring_Values_for_Incomplete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Option1Val</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OPtion2Val</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incomplete_Message</targetReference>
            </connector>
            <label>Check Scoring Values for Incomplete</label>
        </rules>
    </decisions>
    <interviewLabel>SFU Questionnaire {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFU Questionnaire</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>774</locationX>
        <locationY>370</locationY>
        <connector>
            <targetReference>Create_Case_for_Other_Requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_Remarks__c</field>
            <value>
                <elementReference>Additional_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Requests__c</field>
            <value>
                <elementReference>OtherRequestsMSP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFU_Q1_Ans__c</field>
            <value>
                <elementReference>Option1Val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFU_Q2_Ans__c</field>
            <value>
                <elementReference>OPtion2Val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFU_Remarks__c</field>
            <value>
                <elementReference>SFU_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By_Agent__c</field>
            <value>
                <elementReference>vAgentCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Status__c</field>
            <value>
                <stringValue>Incomplete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Submission_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Record_for_Completed</name>
        <label>Update Case Record for Completed</label>
        <locationX>408</locationX>
        <locationY>383</locationY>
        <connector>
            <targetReference>Create_Case_for_Other_Requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_Remarks__c</field>
            <value>
                <elementReference>Additional_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Requests__c</field>
            <value>
                <elementReference>OtherRequestsMSP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFU_Q1_Ans__c</field>
            <value>
                <elementReference>Option1Val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFU_Q2_Ans__c</field>
            <value>
                <elementReference>OPtion2Val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFU_Remarks__c</field>
            <value>
                <elementReference>SFU_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By_Agent__c</field>
            <value>
                <elementReference>vAgentCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Submission_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Complete_Message</name>
        <label>Complete Message</label>
        <locationX>577</locationX>
        <locationY>227</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Other_Requests</targetReference>
        </connector>
        <fields>
            <name>CompleteMsg</name>
            <fieldText>&lt;p&gt;{!CompleteMsgText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Incomplete_Message</name>
        <label>Incomplete Message</label>
        <locationX>777</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Other_Requests_MSP</targetReference>
        </connector>
        <fields>
            <name>IncompleteMsg</name>
            <fieldText>&lt;p&gt;{!IncompleteMsgText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Survey_Questionnaire</name>
        <label>Survey Questionnaire</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Scoring</targetReference>
        </connector>
        <fields>
            <name>SurveyQLabel</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;SFU Survey Questionnaire&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1</name>
            <fieldText>&lt;p&gt;{!vQ1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1Score</name>
            <extensionName>c:HorizontalRadioButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>Option1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>Option1ValList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioGroupLabel</name>
                <value>
                    <stringValue>Choose Scoring for Question 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedVal</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Option1Val</assignToReference>
                <name>selectedVal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>blank1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2</name>
            <fieldText>&lt;p&gt;{!vQ2}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2Score</name>
            <extensionName>c:HorizontalRadioButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>Option2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>Option2List</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioGroupLabel</name>
                <value>
                    <stringValue>Choose Scoring for Question 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedVal</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>OPtion2Val</assignToReference>
                <name>selectedVal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>blank2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Scenario1Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 14px;&quot;&gt;&lt;i&gt;Scenerio 1 - Extremely Satisfied (Q1: 4/5 AND Q2: 8/9/10)&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Scenario1Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Thank you for your positive ratings. It is a strong encouragement to our Service Team. You may be contacted by a research company called IPSOS for a more in-depth customer satisfaction phone survey. Please continue to support us with your positive ratings during the survey.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Scenario2Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;&lt;i&gt;Scenerio 2 - Unsatisfied (Q1: 1/2 AND/OR Q2: 1/2/3/4)&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Scenario2Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;We regret to hear of your experience. We hope to improve to serve you better. What can we do to get a better score?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;(Take down customer feedback)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Thank you. We will share your valuable feedback with the Service Center.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Scenario3Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;&lt;i&gt;Scenerio 3 - Others&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ending</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;{!vEnding}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SFU_Remarks</name>
            <fieldText>Q1 &amp; Q2 Remarks</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Additional_Remarks</name>
            <defaultValue>
                <stringValue>{!inAddRem}</stringValue>
            </defaultValue>
            <fieldText>Additional Remarks</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OtherRequests</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Other Requests&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_not_call_customer_for_any_surveys_anymore</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>inDNC</elementReference>
            </defaultValue>
            <fieldText>Do not call customer for any surveys anymore</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enquiry_Request</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>inEnqReq</elementReference>
            </defaultValue>
            <fieldText>Enquiry &amp; Request</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Make_Change_Appt</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vChgAppt</elementReference>
            </defaultValue>
            <fieldText>Make/Change Appt</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Complaint_to_followup</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>inComplaint</elementReference>
            </defaultValue>
            <fieldText>Complaint to followup</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Survey_Questionnaire</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Case_for_Other_Requests</name>
        <label>Create Case for Other Requests</label>
        <locationX>585</locationX>
        <locationY>479</locationY>
        <flowName>SurveyCreateCase</flowName>
        <inputAssignments>
            <name>pAddRem</name>
            <value>
                <elementReference>Additional_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pBranch</name>
            <value>
                <elementReference>vBranch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pCaseId</name>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pComplaint</name>
            <value>
                <elementReference>Complaint_to_followup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pContId</name>
            <value>
                <elementReference>vContId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pDNC</name>
            <value>
                <elementReference>Do_not_call_customer_for_any_surveys_anymore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pEnqReq</name>
            <value>
                <elementReference>Enquiry_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pFranchise</name>
            <value>
                <elementReference>vFranchise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pMakeChgAppt</name>
            <value>
                <elementReference>Make_Change_Appt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pRegVehId</name>
            <value>
                <elementReference>vRegVehId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vComplaintCB</name>
            <value>
                <elementReference>inComplaintCB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vDNCCB</name>
            <value>
                <elementReference>inDNCCB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vERCB</name>
            <value>
                <elementReference>inERCB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vSGCB</name>
            <value>
                <elementReference>inSGCB</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_Other_Requests</name>
        <label>Get Other Requests</label>
        <locationX>408</locationX>
        <locationY>227</locationY>
        <connector>
            <targetReference>Update_Case_Record_for_Completed</targetReference>
        </connector>
        <flowName>Get_Other_Requests_MSP</flowName>
        <inputAssignments>
            <name>inChgAppt</name>
            <value>
                <elementReference>Make_Change_Appt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inComplaint</name>
            <value>
                <elementReference>Complaint_to_followup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inDNC</name>
            <value>
                <elementReference>Do_not_call_customer_for_any_surveys_anymore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inEnqReq</name>
            <value>
                <elementReference>Enquiry_Request</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OtherRequestsMSP</assignToReference>
            <name>OtherRequestsMSP</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Other_Requests_MSP</name>
        <label>Get Other Requests MSP</label>
        <locationX>775</locationX>
        <locationY>219</locationY>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
        <flowName>Get_Other_Requests_MSP</flowName>
        <inputAssignments>
            <name>inChgAppt</name>
            <value>
                <elementReference>Make_Change_Appt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inComplaint</name>
            <value>
                <elementReference>Complaint_to_followup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inDNC</name>
            <value>
                <elementReference>Do_not_call_customer_for_any_surveys_anymore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inEnqReq</name>
            <value>
                <elementReference>Enquiry_Request</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OtherRequestsMSP</assignToReference>
            <name>OtherRequestsMSP</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>CompleteMsgText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(9, 13, 231);&quot;&gt;Notification: Survey completed and CLOSED.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>IncompleteMsgText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(10, 25, 244);&quot;&gt;Notification: This Survey is Incomplete and will be CLOSED.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>vEnding</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Thank you for your ratings.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>vEnding2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;b style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;&lt;i&gt;﻿If customer is not convenient to do the survey: &lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;When would it be convenient to call you back? We really value your feedback and need your help to complete this short survey.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>vGreetings</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Good Morning / Afternoon / Evening, Mr / Ms&lt;/b&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt; &amp;lt;Name&amp;gt;,&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;I&apos;m &amp;lt;Name of Caller&amp;gt; from Expressworks calling on behalf of Cycle &amp;amp; Carriage Mercedes Benz.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Is this a convenient time to conduct a service follow up call for your recent visit to &amp;lt;LOCATION&amp;gt; service center?&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;It will just take about 3 mins.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>vQ1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;&lt;u&gt;Question one:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;How would you rate your overall service experience on a scale of 1 to 5, 1 being &apos;not satisfied&apos;, 5 being &apos;completely satisfied&apos;?&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>vQ2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;&lt;u&gt;Question two:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Would you recommend Cycle &amp;amp; Carriage Mercedes-Benz to others? Please rate using a scale of 1 to 10 where 1 being &apos;very unlikely&apos; and 10 being &apos;very likely&apos;.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>inAddRem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inComplaint</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inComplaintCB</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inDNC</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inDNCCB</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inEnqReq</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inERCB</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inSGCB</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Option1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0,1,2,3,4,5</stringValue>
        </value>
    </variables>
    <variables>
        <name>Option1Val</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Option1ValList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0,1,2,3,4,5</stringValue>
        </value>
    </variables>
    <variables>
        <name>Option2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0,1,2,3,4,5,6,7,8,9,10</stringValue>
        </value>
    </variables>
    <variables>
        <name>Option2List</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0,1,2,3,4,5,6,7,8,9,10</stringValue>
        </value>
    </variables>
    <variables>
        <name>OPtion2Val</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OtherRequestsMSP</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StatusListLabels</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Start Survey,Uncontactable,Reject this Survey,Call back</stringValue>
        </value>
    </variables>
    <variables>
        <name>StatusListVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Start Survey,Uncontactable,Reject this Survey,Call back</stringValue>
        </value>
    </variables>
    <variables>
        <name>StatusVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAgentCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBranch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vChgAppt</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vContId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vErrMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Select Date and time for Call back</stringValue>
        </value>
    </variables>
    <variables>
        <name>vFranchise</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vMSP1Values</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRegVehId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
