force-app/main/default/flows/Start_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>AfterSalesCSI</name>
        <choiceText>After Sales CSI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AfterSalesCSI</stringValue>
        </value>
    </choices>
    <choices>
        <name>AfterSalesSFU</name>
        <choiceText>After Sales SFU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AfterSalesSFU</stringValue>
        </value>
    </choices>
    <choices>
        <name>SalesCLI</name>
        <choiceText>Sales CLI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SalesCLI</stringValue>
        </value>
    </choices>
    <choices>
        <name>SalesCSI</name>
        <choiceText>Sales CSI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SalesCSI</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Record_Type_and_Show_Survey_Screen</name>
        <label>Check Record Type</label>
        <locationX>547</locationX>
        <locationY>67</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Surveys</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surveys</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Survey_Screen</targetReference>
            </connector>
            <label>Surveys</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Survey_Type</name>
        <label>Verify Survey Type</label>
        <locationX>699</locationX>
        <locationY>169</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Survey_Type_is_Sales_CSI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovCase.Survey_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Sales_CSI</targetReference>
            </connector>
            <label>Survey Type is Sales CSI</label>
        </rules>
        <rules>
            <name>Survey_Type_is_Sales_CLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovCase.Survey_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CLI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Sales_CLI</targetReference>
            </connector>
            <label>Survey Type is Sales CLI</label>
        </rules>
        <rules>
            <name>Survey_Type_is_SFU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovCase.Survey_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SFU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_SFU</targetReference>
            </connector>
            <label>Survey Type is SFU</label>
        </rules>
    </decisions>
    <formulas>
        <name>vRecID3</name>
        <dataType>String</dataType>
        <expression>MID({!var_CaseId},1,3)</expression>
    </formulas>
    <interviewLabel>Start Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Start Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>37</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sovCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Survey_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Name</name>
        <label>Get Contact Name</label>
        <locationX>174</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovCase.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sovCont</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>276</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Type_and_Show_Survey_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovCase.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>var_RecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record_Owner</name>
        <label>Update Record Owner</label>
        <locationX>221</locationX>
        <locationY>25</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Start_Survey_Screen</name>
        <label>Start Survey Screen</label>
        <locationX>788</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Verify_Survey_Type</targetReference>
        </connector>
        <fields>
            <name>Greetings</name>
            <fieldText>{!vGreetings}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Update_Record_Owner</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Run_Sales_CLI</name>
        <label>Run Sales CLI</label>
        <locationX>566</locationX>
        <locationY>386</locationY>
        <flowName>Sales_CLI</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_CaseId</name>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRecordTypeId</name>
            <value>
                <elementReference>var_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vSurveyChoice</name>
            <value>
                <elementReference>sovCase.Survey_Type__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Sales_CSI</name>
        <label>Run Sales CSI</label>
        <locationX>355</locationX>
        <locationY>320</locationY>
        <flowName>Sales_CSI</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_CaseId</name>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRecordTypeID</name>
            <value>
                <elementReference>var_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vSurveyChoice</name>
            <value>
                <elementReference>sovCase.Survey_Type__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_SFU</name>
        <label>Run SFU</label>
        <locationX>844</locationX>
        <locationY>352</locationY>
        <flowName>SFU_Survey</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_CaseId</name>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRecordTypeId</name>
            <value>
                <elementReference>var_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vSurveyChoice</name>
            <value>
                <elementReference>sovCase.Survey_Type__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>vGreetings</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b&gt; Good Morning/Afternoon Mr/Ms  &lt;strong&gt; {!sovCont.Name} &lt;/strong&gt; &lt;/b&gt;

I am “Name of Caller” from Cycle &amp; Carriage Mercedes-Benz. Today, I would like to conduct a
&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;red&quot; &gt;
&lt;u&gt;&lt;b&gt;(Service Follow-Up Call / Sales Follow up call/ Sales customer satisfaction index call )&lt;/b&gt;&lt;/u&gt;&lt;/FONT&gt;, to get your feedback in order to serve you better.

Is this a good time to speak to you?</text>
    </textTemplates>
    <variables>
        <name>sovCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sovCont</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_SurveyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
