force-app/main/default/flows/Update_Existing_Used_Car_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_UiPath_Queue</name>
        <label>Call UiPath Queue</label>
        <locationX>314</locationX>
        <locationY>1478</locationY>
        <actionName>UiPath__QueueNotificationService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Created_Quote_Noti_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>templateName</name>
            <value>
                <stringValue>RA_LTA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customVar1Name</name>
            <value>
                <stringValue>Intended_Deregistration_Date__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customVar1Value</name>
            <value>
                <elementReference>formattedDateValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>cloneQuote.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Clear_Clone_ID</name>
        <label>Clear Clone ID</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>cloneQuote.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneQuote.Purchaser_Quote__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Used_Car_Quote_Screening_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_Quote</name>
        <label>Clone Quote</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>cloneQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Clone_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_User_Input_To_Clone</name>
        <label>Update User Input To Clone</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>cloneQuote.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneQuote.Intended_Deregistration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Intended_Deregistration_Date_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneQuote.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>runningUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneQuote.Purchaser_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Purchaser_Quote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneQuote.Vehicle_Make__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneQuote.Original_Registration_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Old_Quote_To_Expried</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Fields</name>
        <label>Check Fields</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Do nothing</defaultConnectorLabel>
        <rules>
            <name>Expire_And_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.Intended_Deregistration_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Intended_Deregistration_Date_0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Input_To_Clone</targetReference>
            </connector>
            <label>Expire And Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>545</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Check_record_type_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different</defaultConnectorLabel>
        <rules>
            <name>Same_Record_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Status</targetReference>
            </connector>
            <label>Same Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>248</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Clone_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active</defaultConnectorLabel>
        <rules>
            <name>Not_Active</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.Vehicle_Make__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fail_screen</targetReference>
            </connector>
            <label>Not Active</label>
        </rules>
    </decisions>
    <formulas>
        <name>formattedDateValue</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY({!cloneQuote.Intended_Deregistration_Date__c})),2,&quot;0&quot;) &amp; LPAD(TEXT(MONTH({!cloneQuote.Intended_Deregistration_Date__c})),2,&quot;0&quot;) &amp; TEXT(YEAR({!cloneQuote.Intended_Deregistration_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>IDDateValidation</name>
        <dataType>Boolean</dataType>
        <expression>{!Intended_Deregistration_Date_0} &gt;= TODAY()</expression>
    </formulas>
    <formulas>
        <name>recordTypeName</name>
        <dataType>String</dataType>
        <expression>IF ( {!$Profile.Name} = &quot;MB Purchaser&quot;, &quot;MB_Quote&quot;, IF(  CONTAINS({!$Profile.Name}, &quot;MB&quot;), &quot;MB_Quote&quot;, &quot;MF_Quote&quot;)   )</expression>
    </formulas>
    <formulas>
        <name>runningUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>runningUserProfileId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.ProfileId})</expression>
    </formulas>
    <interviewLabel>Update Existing Used Car Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Existing Used Car Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Quote</name>
        <label>Create New Quote</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Call_UiPath_Queue</targetReference>
        </connector>
        <inputReference>cloneQuote</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>545</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Used_Car_Quote__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Vehicle_No__c</queriedFields>
        <queriedFields>Mileage__c</queriedFields>
        <queriedFields>Intended_Deregistration_Date__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Vehicle_Make__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Purchaser_Quote__c</queriedFields>
        <queriedFields>Customer_NRIC__c</queriedFields>
        <queriedFields>Customer_ID_Type__c</queriedFields>
        <queriedFields>Sales_Consultant__c</queriedFields>
        <queriedFields>Purchaser_Depreciation__c</queriedFields>
        <queriedFields>Original_Registration_Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>545</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeName</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Old_Quote_To_Expried</name>
        <label>Update Old Quote To Expried</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Create_New_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <object>Used_Car_Quote__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Check_record_type_screen</name>
        <label>Check record type screen</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>check_record_type_display</name>
            <fieldText>&lt;p&gt;{!check_record_type_message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Created_Quote_Noti_Screen</name>
        <label>Created Quote Noti Screen</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>newQuote</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!newQuoteMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fail_screen</name>
        <label>Fail screen</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>failUpdate</name>
            <fieldText>&lt;p&gt;{!Active_quote_message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Existing_Used_Car_Quote_Screening_0</name>
        <label>Update Existing Used Car Quote Screening</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Fields</targetReference>
        </connector>
        <fields>
            <name>Update_Existing_Used_Car_Quote_Screening_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Existing_Used_Car_Quote_Screening_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Vehicle_no</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(131, 127, 127); font-size: 11px;&quot;&gt;Vehicle No.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Quote.Vehicle_No__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_Existing_Used_Car_Quote_Screening_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Intended_Deregistration_Date_0</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.Intended_Deregistration_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Intended Deregistration Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;{!IDDateMessage}&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!IDDateValidation}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Update_Existing_Used_Car_Quote_Screening_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Existing_Used_Car_Quote_Screening_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>mileage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(127, 122, 122); font-size: 11px;&quot;&gt;Mileage (km)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Quote.Mileage__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_Existing_Used_Car_Quote_Screening_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>customer_id_type</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px; color: rgb(127, 122, 122);&quot;&gt;Customer ID Type&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Quote.Customer_ID_Type__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Update_Existing_Used_Car_Quote_Screening_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Existing_Used_Car_Quote_Screening_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>customer_nric</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px; color: rgb(127, 122, 122);&quot;&gt;Customer NRIC&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Quote.Customer_NRIC__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_Existing_Used_Car_Quote_Screening_0_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>sales_consultant</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(127, 122, 122); font-size: 11px;&quot;&gt;Sales Consultant&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Quote.Sales_Consultant__r.FirstName} {!Get_Quote.Sales_Consultant__r.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Update_Existing_Used_Car_Quote_Screening_0_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Existing_Used_Car_Quote_Screening_0_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Purchaser_Quote</name>
                    <dataType>Currency</dataType>
                    <fieldText>Purchaser Quote</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please edit the Intended Deregistration Date to edit this field.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Purchaser_Quote} = {!Get_Quote.Purchaser_Quote__c} ||
{!Get_Quote.Intended_Deregistration_Date__c} != {!Intended_Deregistration_Date_0}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_Existing_Used_Car_Quote_Screening_0_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>purchaser_depreciation</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px; color: rgb(127, 122, 122);&quot;&gt;Purchaser Depreciation&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Quote.Purchaser_Depreciation__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Update_Existing_Used_Car_Quote_Screening_0_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Existing_Used_Car_Quote_Screening_0_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_Existing_Used_Car_Quote_Screening_0_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>original_date</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px; color: rgb(127, 122, 122);&quot;&gt;Original Registration Date&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Quote.Original_Registration_Date__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Active_quote_message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Only active quotes can be updated.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>check_record_type_message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Not allowed to update quotations of other record types (MF or MB).&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>IDDateMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Intended Deregistration Date must be today or beyond.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>newQuoteMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Revised quotation submitted. You will receive a notification upon completion and existing quotation will be expired.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>updatedQuoteMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Quote updated.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>cloneQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Used_Car_Quote__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
