force-app/main/default/flows/Update_Estimated_Duty_on_SVM_Obj.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Custom_ER_Record</name>
        <label>Assign Custom ER Record</label>
        <locationX>270</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>CustomERVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_Custom_ER.Custom_Exchange_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_in_Custom_ER</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LastDate</name>
        <label>Assign LastDate</label>
        <locationX>270</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>LastDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_Custom_ER.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Custom_ER_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_it_the_last_rec</name>
        <label>Is it the last rec?</label>
        <locationX>402</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Loop_in_Custom_ER</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_in_Custom_ER.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LastDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LastDate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tier_1</name>
        <label>Tier 1?</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Update_Estimated_Duty234</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ARF_Tier.Min_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Estimated_Duty_Tier_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ARF</name>
        <dataType>Number</dataType>
        <expression>(({!EstimatedOMVVar} - ({!Get_ARF_Tier.Min_Value__c} - 1) * {!Get_ARF_Tier.Tier_Percentage__c} ) )+ {!Get_ARF_Tier.Increment__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ARFTier1</name>
        <dataType>Number</dataType>
        <expression>(({!EstimatedOMVVar} - {!Get_ARF_Tier.Min_Value__c} * {!Get_ARF_Tier.Tier_Percentage__c} )) + {!Get_ARF_Tier.Increment__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculatedInsuranceFreight</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Estimated_FOB__c} * {!Get_TMS_Ins_Record.Insurance_Percentage__c} / 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>EffectiveARFPercentage</name>
        <dataType>Number</dataType>
        <expression>{!ARF} / {!$Record.TMS_Estimated_OMV__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>EffectiveARFPercentageTier1</name>
        <dataType>Number</dataType>
        <expression>{!ARFTier1} / {!$Record.TMS_Estimated_OMV__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>EstimatedDuty</name>
        <dataType>Number</dataType>
        <expression>({!EffectiveARFPercentage} + {!Get_TMS_Duty_Record.TMS_Duty_1__c}) * {!EstimatedOMVVar}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>EstimatedDutyTier1</name>
        <dataType>Number</dataType>
        <expression>({!EffectiveARFPercentageTier1} + {!Get_TMS_Duty_Record.TMS_Duty_1__c}) * {!EstimatedOMVVar}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>EstimatedOMVVar</name>
        <dataType>Number</dataType>
        <expression>({!$Record.Estimated_FOB__c}  + {!CalculatedInsuranceFreight}) * {!CustomERVar}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Estimated Duty on SVM Obj {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Estimated Duty on SVM Obj</label>
    <loops>
        <name>Loop_in_Custom_ER</name>
        <label>Loop in Custom ER</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <collectionReference>Get_Custom_Exchange_Rate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_it_the_last_rec</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_ARF_Tier</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ARF_Tier</name>
        <label>Get ARF Tier</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tier_1</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>Min_Value__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>EstimatedOMVVar</elementReference>
            </value>
        </filters>
        <filters>
            <field>Max_Value__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>EstimatedOMVVar</elementReference>
            </value>
        </filters>
        <filters>
            <field>Min_Value__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>80001.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Max_Value__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ARF_Tier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Exchange_Rate</name>
        <label>Get Custom Exchange Rate</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_in_Custom_ER</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Currency_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TMS_Estimated_FOB_Currency_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Custom_Exchange_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TMS_Duty_Record</name>
        <label>Get TMS Duty Record</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Exchange_Rate</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TMS_Duty__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TMS_Ins_Record</name>
        <label>Get TMS Ins % Record</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_TMS_Duty_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Franchise_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Franchise_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TMS_Insurance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Estimated_Duty234</name>
        <label>Update Estimated Duty</label>
        <locationX>314</locationX>
        <locationY>1583</locationY>
        <inputAssignments>
            <field>Estimated_Duty__c</field>
            <value>
                <elementReference>EstimatedDuty</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Estimated_Duty_Tier_1</name>
        <label>Update Estimated Duty Tier 1</label>
        <locationX>50</locationX>
        <locationY>1583</locationY>
        <inputAssignments>
            <field>Estimated_Duty__c</field>
            <value>
                <elementReference>EstimatedDutyTier1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_TMS_Ins_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estimated_FOB__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Franchise_Code__c</field>
            <operator>EndsWith</operator>
            <value>
                <stringValue>PC</stringValue>
            </value>
        </filters>
        <object>Vehicle_Master2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CustomERVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CustomERVar1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Custom_Exchange_Rate__c</objectType>
    </variables>
    <variables>
        <name>LastDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
