force-app/main/default/flows/Update_Vehicle_Shipment_When_SLI_Is_New_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>CountSLI</name>
        <label>CountSLI</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>NumberOfSLI</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_SLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountSVMPlus</name>
        <label>CountSVMPlus</label>
        <locationX>270</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CountSVM</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CountLoopSVM</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_SLI_Null</name>
        <label>Is SLI Null?</label>
        <locationX>402</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>CountLoopSVM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountLoopSVM.Shipment_Line_Item__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CountSVMPlus</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage</name>
        <label>Stage</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Update_Partially_Matched</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Partially Matched</defaultConnectorLabel>
        <rules>
            <name>Matching_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfSLI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CountSVM</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Matching_Completed</targetReference>
            </connector>
            <label>Matching Completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Vehicle Shipment When SLI Is Crea {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Vehicle Shipment When SLI Is New Created</label>
    <loops>
        <name>CountLoopSVM</name>
        <label>CountLoopSVM</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_SVM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_SLI_Null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_SLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SLI</name>
        <label>Get SLI</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountSLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vehicle_Shipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vehicle_Shipment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Shipment_Line_Item__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SVM</name>
        <label>Get SVM</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountLoopSVM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vehicle_Shipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vehicle_Shipment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vehicle_Master2__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Shipment_Line_Item__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Matching_Completed</name>
        <label>Update Matching Completed</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vehicle_Shipment__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Matching_Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Vehicle_Shipment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Partially_Matched</name>
        <label>Update Partially Matched</label>
        <locationX>314</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vehicle_Shipment__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Partially_Matched</stringValue>
            </value>
        </inputAssignments>
        <object>Vehicle_Shipment__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SVM</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vehicle_Shipment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Shipment_Line_Item__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CountSVM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfSLI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
