force-app/main/default/flows/Update_VPO_stage_when_units_cancelled_change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_in_values</name>
        <label>Add in values</label>
        <locationX>402</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>TotalUnitsConfirmedAndCancelled</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_VPOLI.Units_Confirmed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalUnitsConfirmedAndCancelled</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_VPOLI.Units_Cancelled__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalUnitsPending</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_VPOLI.Units_Pending__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_VPOLI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Total Units Ordered = Total Units Confirmed + Total Units Cancelled
Total Units Pending = 0</description>
        <name>Can_close</name>
        <label>Can close?</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vehicle_Purchase_Order__r.Total_Units_Ordered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TotalUnitsConfirmedAndCancelled</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalUnitsPending</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_VPO_stage_when_Units_Cancelled_change</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update VPO stage when units cancelled change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update VPO stage when units cancelled change</label>
    <loops>
        <name>Each_VPOLI</name>
        <label>Each VPOLI</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_All_Related_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_in_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Can_close</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Related_Line_Items</name>
        <label>Get All Related Line Items</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_VPOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vehicle_Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vehicle_Purchase_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vehicle_Purchase_Order_Line_Items__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Units_Pending__c</queriedFields>
        <queriedFields>Units_Confirmed__c</queriedFields>
        <queriedFields>Units_Cancelled__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_VPO_stage_when_Units_Cancelled_change</name>
        <label>Update VPO stage when Units Cancelled change</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vehicle_Purchase_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Vehicle_Purchase_Order__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Related_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Units_Cancelled__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Vehicle_Purchase_Order_Line_Items__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>TotalUnitsConfirmedAndCancelled</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalUnitsPending</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
