cncProd/force-app/main/default/flows/Auto_Unsubscribe_DSA_Customer_to_Sales_Targered_Promo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Is_Campaign_Available</name>
        <label>Is Campaign Available?</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Targeted_Promo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_to_Unsubscribe_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Pending_Registration_or_Cancelled_Stage</name>
        <label>Is Pending Registration or Cancelled Stage?</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Registration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Stage__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordTypeId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>Brand</name>
        <dataType>String</dataType>
        <expression>TRIM(
LEFT( {!$Record.FranchiseCode__c} , 3))</expression>
    </formulas>
    <formulas>
        <name>OffboardDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Auto Unsubscribe DSA Customer to Sales Targered Promo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Unsubscribe DSA Customer to Sales Targered Promo</label>
    <loops>
        <name>Loop_to_Unsubscribe_Member</name>
        <label>Loop to Unsubscribe Member</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Sales_Targeted_Promo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Offboard_Campaign_Member</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_RecordTypeId</name>
        <label>Get RecordTypeId</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Targeted_Promo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Campaign</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C_C_Campaign_RT_Sales_Targeted_Promo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Targeted_Promo</name>
        <label>Get Sales Targeted Promo</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Campaign_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Branch_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Branch_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RecordTypeId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Model_Master__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Stock_Reservation__r.Model_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Offboard_Campaign_Member</name>
        <label>Offboard Campaign Member</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Loop_to_Unsubscribe_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_to_Unsubscribe_Member.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Offboard_Date__c</field>
            <value>
                <elementReference>OffboardDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offboarded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Campaign_Member_Vehicle__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Pending_Registration_or_Cancelled_Stage</targetReference>
        </connector>
        <object>Sales_Agreement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
