cncProd/force-app/main/default/flows/Caller_Authentication.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Remarks</name>
        <label>Assign Remarks</label>
        <locationX>546</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>vRemarks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remarks</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>vQ1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1) What is your DOB? </stringValue>
        </value>
    </constants>
    <constants>
        <name>vQ2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>2) What is your Mobile Number?</stringValue>
        </value>
    </constants>
    <constants>
        <name>vQ3</name>
        <dataType>String</dataType>
        <value>
            <stringValue>3) What is your Email Address?</stringValue>
        </value>
    </constants>
    <constants>
        <name>vQ4</name>
        <dataType>String</dataType>
        <value>
            <stringValue>4) What is your Postal Code?</stringValue>
        </value>
    </constants>
    <constants>
        <name>vQ5</name>
        <dataType>String</dataType>
        <value>
            <stringValue>5) What  is your car brand?</stringValue>
        </value>
    </constants>
    <constants>
        <name>vQ6</name>
        <dataType>String</dataType>
        <value>
            <stringValue>6) When did you last service your car? (under vehicle info)</stringValue>
        </value>
    </constants>
    <interviewLabel>Caller Authentication {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Caller Authentication</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Customer_Authentication_Questions</name>
        <label>Customer Authentication Questions</label>
        <locationX>343</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Remarks</targetReference>
        </connector>
        <fields>
            <name>Question1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!vQ1} &lt;/b&gt;&lt;b style=&quot;font-size: 14px; color: rgb(19, 3, 240); background-color: rgb(255, 255, 255);&quot;&gt;{!vBirthDateIP}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1Ans</name>
            <extensionName>c:HorizontalRadioButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>vOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>vOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioGroupLabel</name>
                <value>
                    <stringValue>Q1 Answer</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vQ1Ans</assignToReference>
                <name>selectedVal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Line1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!vQ2} &lt;/b&gt;&lt;b style=&quot;font-size: 14px; color: rgb(21, 10, 237);&quot;&gt;{!vMobilePhoneIP}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2Ans</name>
            <extensionName>c:HorizontalRadioButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>vOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>vOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioGroupLabel</name>
                <value>
                    <stringValue>Q2 Answer</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vQ2Ans</assignToReference>
                <name>selectedVal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Line2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!vQ3} &lt;/b&gt;&lt;b style=&quot;font-size: 14px; color: rgb(21, 4, 244);&quot;&gt;{!vEmailIP}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3Ans</name>
            <extensionName>c:HorizontalRadioButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>vOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>vOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioGroupLabel</name>
                <value>
                    <stringValue>Q3 Answer</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vQ3Ans</assignToReference>
                <name>selectedVal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Line3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q4</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!vQ4} &lt;/b&gt;&lt;b style=&quot;color: rgb(8, 4, 237); font-size: 14px;&quot;&gt;{!vAddr1Ip} &lt;/b&gt;&lt;b style=&quot;color: rgb(8, 4, 237); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!vAddr2IP} {!vAddr3IP}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q4Ans</name>
            <extensionName>c:HorizontalRadioButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>vOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>vOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioGroupLabel</name>
                <value>
                    <stringValue>Q4 Answer</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vQ4Ans</assignToReference>
                <name>selectedVal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Line4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q5</name>
            <fieldText>&lt;b&gt;{!vQ5}&lt;b/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q5Ans</name>
            <extensionName>c:HorizontalRadioButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>vOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>vOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioGroupLabel</name>
                <value>
                    <stringValue>Q5 Answer</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vQ5Ans</assignToReference>
                <name>selectedVal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Line5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question6</name>
            <fieldText>&lt;b&gt;{!vQ6}&lt;b/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q6Ans</name>
            <extensionName>c:HorizontalRadioButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>vOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>vOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioGroupLabel</name>
                <value>
                    <stringValue>Q6 Answer</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vQ6Answ</assignToReference>
                <name>selectedVal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>blankline</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Remarks</name>
            <fieldText>Remarks</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Customer_Authentication_Questions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vAddr1Ip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vAddr2IP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vAddr3IP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vBirthDateIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vEmailIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vMobilePhoneIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Correct, Wrong</stringValue>
        </value>
    </variables>
    <variables>
        <name>vQ1Ans</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vQ2Ans</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vQ3Ans</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vQ4Ans</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vQ5Ans</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vQ6Answ</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vQ7Ans</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRemarks</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
