cncProd/force-app/main/default/flows/COE_Expiry_Date_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Expiry_Date_3_months_later</name>
        <label>Expiry Date 3 months later</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.COH_EXPMONTH__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpiryDate3mths</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Expiry_Date_6_months_later</name>
        <label>Expiry Date 6 months later</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.COH_EXPMONTH__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpiryDate6mths</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Expiry_Date_last_day_of_3_months_later</name>
        <label>Expiry Date last day of 3 months later</label>
        <locationX>842</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.COH_EXPMONTH__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpiryDateLastDay3mths</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Expiry_Date_last_day_of_6_months_later</name>
        <label>Expiry Date last day of 6 months later</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.COH_EXPMONTH__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpiryDateLastDay6mths</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_COE_Category</name>
        <label>Check COE Category</label>
        <locationX>644</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A_or_B_COE_Category</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COH_COECATEGORY__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COH_COECATEGORY__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Day_of_Start_Date</targetReference>
            </connector>
            <label>A or B COE Category</label>
        </rules>
        <rules>
            <name>C_or_E_COE_Category</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COH_COECATEGORY__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COH_COECATEGORY__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Day_of_Start_Date_0</targetReference>
            </connector>
            <label>C or E COE Category</label>
        </rules>
    </decisions>
    <decisions>
        <name>Day_of_Start_Date</name>
        <label>Day of Start Date</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Expiry_Date_last_day_of_6_months_later</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Before_and_Equal_to_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DayofStartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expiry_Date_6_months_later</targetReference>
            </connector>
            <label>Before and Equal to 14</label>
        </rules>
    </decisions>
    <decisions>
        <name>Day_of_Start_Date_0</name>
        <label>Day of Start Date</label>
        <locationX>710</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Expiry_Date_last_day_of_3_months_later</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Before_and_Equal_to_14_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DayofStartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expiry_Date_3_months_later</targetReference>
            </connector>
            <label>Before and Equal to 14</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fields_changed</name>
        <label>Fields changed</label>
        <locationX>1007</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COE_Category_or_Start_Date_or_COE_Buy_Back_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COH_COECATEGORY__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.COH_COECATEGORY__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COH_SUCCESSFROMDT__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.COH_SUCCESSFROMDT__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COE_Buy_Back__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.COE_Buy_Back__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_COE_Category</targetReference>
            </connector>
            <label>COE Category or Start Date or COE Buy Back changed</label>
        </rules>
    </decisions>
    <formulas>
        <description>Get day of Start Date</description>
        <name>DayofStartDate</name>
        <dataType>Number</dataType>
        <expression>DAY( {!$Record.COH_SUCCESSFROMDT__c} )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ExpiryDate3mths</name>
        <dataType>Date</dataType>
        <expression>DATE( YEAR( ADDMONTHS( {!$Record.COH_SUCCESSFROMDT__c}, 3 )), MONTH( ADDMONTHS({!$Record.COH_SUCCESSFROMDT__c}, 3)), 14)</expression>
    </formulas>
    <formulas>
        <name>ExpiryDate6mths</name>
        <dataType>Date</dataType>
        <expression>DATE( YEAR( ADDMONTHS( {!$Record.COH_SUCCESSFROMDT__c}, 6 )), MONTH( ADDMONTHS({!$Record.COH_SUCCESSFROMDT__c}, 6)), 14)</expression>
    </formulas>
    <formulas>
        <name>ExpiryDateLastDay3mths</name>
        <dataType>Date</dataType>
        <expression>DATE( YEAR( ADDMONTHS( {!$Record.COH_SUCCESSFROMDT__c}, 4 )), MONTH(ADDMONTHS({!$Record.COH_SUCCESSFROMDT__c}, 4)) , 1 ) - 1</expression>
    </formulas>
    <formulas>
        <name>ExpiryDateLastDay6mths</name>
        <dataType>Date</dataType>
        <expression>DATE( YEAR( ADDMONTHS( {!$Record.COH_SUCCESSFROMDT__c}, 7 )), MONTH(ADDMONTHS({!$Record.COH_SUCCESSFROMDT__c}, 7)) , 1 ) - 1</expression>
    </formulas>
    <interviewLabel>COE Expiry Date Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>COE Expiry Date Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>881</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fields_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>COE_Buy_Back__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>COH_SUCCESSFROMDT__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>COH_COECATEGORY__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>COE__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
