cncProd/force-app/main/default/flows/Complaint_and_Compliment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Submit_for_Approval_Complaint_and_Followup_is_Yes</name>
        <label>Submit for Approval - Complaint and Followup is Yes</label>
        <locationX>1513</locationX>
        <locationY>1270</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>vApprName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <elementReference>vEntryc</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Aftersales</name>
        <label>Assign Aftersales</label>
        <locationX>1419</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>vCaseReaCompla</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!vAftersales};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Digital</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Aftersales_1</name>
        <label>Assign Aftersales 1</label>
        <locationX>2024</locationX>
        <locationY>397</locationY>
        <assignmentItems>
            <assignToReference>vCaseReasonCompli</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!vAftersales1};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Digital_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Breakdown_1</name>
        <label>Assign Breakdown 1</label>
        <locationX>2277</locationX>
        <locationY>435</locationY>
        <assignmentItems>
            <assignToReference>vCaseReasonCompli</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!vBreakdown1};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_others_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Breakdown_calls</name>
        <label>Assign Breakdown calls</label>
        <locationX>1639</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>vCaseReaCompla</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!vBreakdown};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_others</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Digital</name>
        <label>Assign Digital</label>
        <locationX>1523</locationX>
        <locationY>381</locationY>
        <assignmentItems>
            <assignToReference>vCaseReaCompla</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!vDigital};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Breakdown_calls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Digital_1</name>
        <label>Assign Digital 1</label>
        <locationX>2149</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>vCaseReasonCompli</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!vDigital1};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Breakdown_calls_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_for_Compliment</name>
        <label>Assign Error for Compliment</label>
        <locationX>881</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>ErrMsg1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Select Case Reason for Compliment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_for_selection</name>
        <label>Assign Error for selection</label>
        <locationX>542</locationX>
        <locationY>730</locationY>
        <assignmentItems>
            <assignToReference>ErrMsg1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Select Compliment And/Or Complaint</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Message_for_Complaint_Selection</name>
        <label>Assign Error Message for Complaint Selection</label>
        <locationX>796</locationX>
        <locationY>678</locationY>
        <assignmentItems>
            <assignToReference>ErrMsg1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Select Case Reason and Type for Complaint</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_others</name>
        <label>Assign others</label>
        <locationX>1767</locationX>
        <locationY>387</locationY>
        <assignmentItems>
            <assignToReference>vCaseReaCompla</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!vOthers};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Sales_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Others_1</name>
        <label>Assign Others 1</label>
        <locationX>2571</locationX>
        <locationY>482</locationY>
        <assignmentItems>
            <assignToReference>vCaseReasonCompli</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!vOthers1};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_both_Complaint_and_Compliment_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales</name>
        <label>Assign Sales</label>
        <locationX>1297</locationX>
        <locationY>365</locationY>
        <assignmentItems>
            <assignToReference>vCaseReaCompla</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!vSales};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Aftersales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_1</name>
        <label>Assign Sales 1</label>
        <locationX>1903</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>vCaseReasonCompli</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!vSales1};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Aftersales_1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>vAftersales</name>
        <choiceText>Aftersales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aftersales</stringValue>
        </value>
    </choices>
    <choices>
        <name>vAftersales1</name>
        <choiceText>Aftersales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aftersales</stringValue>
        </value>
    </choices>
    <choices>
        <name>vBreakdown</name>
        <choiceText>Breakdown calls</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Breakdown calls</stringValue>
        </value>
    </choices>
    <choices>
        <name>vBreakdown1</name>
        <choiceText>Breakdown calls</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Breakdown calls</stringValue>
        </value>
    </choices>
    <choices>
        <name>vComplaint</name>
        <choiceText>Complaint</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complaint</stringValue>
        </value>
    </choices>
    <choices>
        <name>vCompliment</name>
        <choiceText>Compliment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compliment</stringValue>
        </value>
    </choices>
    <choices>
        <name>vDigital</name>
        <choiceText>Digital Related</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Digital Related</stringValue>
        </value>
    </choices>
    <choices>
        <name>vDigital1</name>
        <choiceText>Digital Related</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Digital Related</stringValue>
        </value>
    </choices>
    <choices>
        <name>vOthers</name>
        <choiceText>Others</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Others</stringValue>
        </value>
    </choices>
    <choices>
        <name>vOthers1</name>
        <choiceText>Others</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Others</stringValue>
        </value>
    </choices>
    <choices>
        <name>vP1</name>
        <choiceText>P1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P1</stringValue>
        </value>
    </choices>
    <choices>
        <name>vP2</name>
        <choiceText>P2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P2</stringValue>
        </value>
    </choices>
    <choices>
        <name>vP3</name>
        <choiceText>P3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P3</stringValue>
        </value>
    </choices>
    <choices>
        <name>vP4</name>
        <choiceText>P4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P4</stringValue>
        </value>
    </choices>
    <choices>
        <name>vSales</name>
        <choiceText>Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>vSales1</name>
        <choiceText>Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales</stringValue>
        </value>
    </choices>
    <constants>
        <name>vMSP1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Case Reason for Complaint</stringValue>
        </value>
    </constants>
    <constants>
        <name>vMSP2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Case Reason for Compliment</stringValue>
        </value>
    </constants>
    <constants>
        <name>vMSP3</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Type of Complaint</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Both_Compliment_and_Complaint_are_not_selected</name>
        <label>Both Compliment and Complaint are not selected</label>
        <locationX>388</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>Is_Complaint</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Compliment_and_or_compliment_not_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Compliment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Complaint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_for_selection</targetReference>
            </connector>
            <label>Compliment and or compliment  not selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Aftersales</name>
        <label>Check for Aftersales</label>
        <locationX>1407</locationX>
        <locationY>195</locationY>
        <defaultConnector>
            <targetReference>Check_for_Digital</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Aftersales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Reason_for_Complaint</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Aftersales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Aftersales</targetReference>
            </connector>
            <label>Is Aftersales</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Aftersales_1</name>
        <label>Check for Aftersales 1</label>
        <locationX>2017</locationX>
        <locationY>237</locationY>
        <defaultConnector>
            <targetReference>Check_for_Digital_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Aftersales_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Reason_for_Compliment</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Aftersales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Aftersales_1</targetReference>
            </connector>
            <label>Is Aftersales 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_both_Complaint_and_Compliment_selected</name>
        <label>Check for both Complaint and Compliment selected</label>
        <locationX>1864</locationX>
        <locationY>811</locationY>
        <defaultConnector>
            <targetReference>Check_for_Compliment_and_Followup_is_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Complaint_and_Compliment_selected_and_followup_is_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Compliment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCaseFUR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Case_Record_for_Complaint_and_Compliment_with_No_Followup</targetReference>
            </connector>
            <label>Check for Complaint and Compliment selected and followup is No</label>
        </rules>
        <rules>
            <name>Check_for_Complaint_and_Compliment_selected_and_Followup_is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Compliment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>YesNoSelVal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Case_Record_with_Followup</targetReference>
            </connector>
            <label>Check for Complaint and Compliment selected and Followup is Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Breakdown_calls</name>
        <label>Check for Breakdown calls</label>
        <locationX>1643</locationX>
        <locationY>193</locationY>
        <defaultConnector>
            <targetReference>Check_for_others</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Breakdown_calls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Reason_for_Complaint</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Breakdown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Breakdown_calls</targetReference>
            </connector>
            <label>Is Breakdown calls</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Breakdown_calls_1</name>
        <label>Check for Breakdown calls 1</label>
        <locationX>2275</locationX>
        <locationY>250</locationY>
        <defaultConnector>
            <targetReference>Check_for_others_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Breakdown_calls_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Reason_for_Compliment</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Breakdown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Breakdown_1</targetReference>
            </connector>
            <label>Is Breakdown calls 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Complaint</name>
        <label>Check for Complaint</label>
        <locationX>1671</locationX>
        <locationY>1124</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complaint_and_Followup_is_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCaseFUR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Case_record_for_Complaint_and_No_Followup</targetReference>
            </connector>
            <label>Complaint and Followup is No</label>
        </rules>
        <rules>
            <name>Complaint_and_Followup_is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCaseFUR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Case_record_for_complaint_and_followup</targetReference>
            </connector>
            <label>Complaint and Followup is Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Compliment_and_Followup_is_No</name>
        <label>Check for Compliment and Followup is No</label>
        <locationX>1455</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Check_for_Complaint</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Compliment_and_Followup_is_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Compliment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCaseFUR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Case_Record</targetReference>
            </connector>
            <label>Compliment and Followup is No</label>
        </rules>
        <rules>
            <name>Compliment_and_Followup_is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Compliment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCaseFUR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>Compliment and Followup is Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Digital</name>
        <label>Check for Digital</label>
        <locationX>1519</locationX>
        <locationY>200</locationY>
        <defaultConnector>
            <targetReference>Check_for_Breakdown_calls</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Digital_Related</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Reason_for_Complaint</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Digital </stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Digital</targetReference>
            </connector>
            <label>Is Digital Related</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Digital_1</name>
        <label>Check for Digital 1</label>
        <locationX>2145</locationX>
        <locationY>240</locationY>
        <defaultConnector>
            <targetReference>Check_for_Breakdown_calls_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Digital_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Reason_for_Compliment</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Digital</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Digital_1</targetReference>
            </connector>
            <label>Is Digital 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_others</name>
        <label>Check for others</label>
        <locationX>1751</locationX>
        <locationY>209</locationY>
        <defaultConnector>
            <targetReference>Check_for_Sales_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Others</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Reason_for_Complaint</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_others</targetReference>
            </connector>
            <label>Is Others</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_others_1</name>
        <label>Check for others 1</label>
        <locationX>2433</locationX>
        <locationY>251</locationY>
        <defaultConnector>
            <targetReference>Check_for_both_Complaint_and_Compliment_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Others_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Reason_for_Compliment</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Others_1</targetReference>
            </connector>
            <label>Is Others 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Sales</name>
        <label>Check for Sales</label>
        <locationX>1274</locationX>
        <locationY>192</locationY>
        <defaultConnector>
            <targetReference>Check_for_Aftersales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Reason_for_Complaint</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales</targetReference>
            </connector>
            <label>Is Sales</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Sales_1</name>
        <label>Check for Sales 1</label>
        <locationX>1896</locationX>
        <locationY>225</locationY>
        <defaultConnector>
            <targetReference>Check_for_Aftersales_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Sales_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Reason_for_Compliment</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_1</targetReference>
            </connector>
            <label>Is Sales 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Complaint</name>
        <label>Is Complaint</label>
        <locationX>635</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>Is_Compliment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>complaint_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Complaint_Case_Reason_and_Type</targetReference>
            </connector>
            <label>complaint selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Compliment</name>
        <label>Is Compliment</label>
        <locationX>908</locationX>
        <locationY>392</locationY>
        <defaultConnector>
            <targetReference>Check_for_Sales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Compliment_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Compliment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Compliment_Selection</targetReference>
            </connector>
            <label>Compliment selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Complaint_Case_Reason_and_Type</name>
        <label>Validate Complaint, Case Reason and Type</label>
        <locationX>630</locationX>
        <locationY>545</locationY>
        <defaultConnector>
            <targetReference>Is_Compliment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Complaint_selected</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>v3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vChoicesLen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_Message_for_Complaint_Selection</targetReference>
            </connector>
            <label>Is Complaint selected?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Compliment_Selection</name>
        <label>Validate Compliment Selection</label>
        <locationX>1147</locationX>
        <locationY>465</locationY>
        <defaultConnector>
            <targetReference>Check_for_Sales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Compliment_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vChoices1Len</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_for_Compliment</targetReference>
            </connector>
            <label>Is Compliment Selected?</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Case_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Case_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vBranch</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Centre__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vCaseBodynPaint</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Body_and_Paint__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vCaseFUR</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Follow_up_Required__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vCaseOrigin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vCasePCCVList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PC_CV__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vChoices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Case_Reason_for_Complaint__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vChoices1</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Case_Reason_for_Compliment__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vPCCV</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PC_CV__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vServiceCentre</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Centre__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>v1</name>
        <dataType>Number</dataType>
        <expression>LEN({!vMSP1Values})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>v2</name>
        <dataType>Number</dataType>
        <expression>LEN({!vMSP2Values})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>v3</name>
        <dataType>Number</dataType>
        <expression>LEN({!vMSP3Values})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>vChoices1Len</name>
        <dataType>Number</dataType>
        <expression>LEN({!Case_Reason_for_Compliment})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>vChoicesLen</name>
        <dataType>Number</dataType>
        <expression>LEN({!Case_Reason_for_Complaint})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>vEntryc</name>
        <dataType>Boolean</dataType>
        <expression>IF (({!YesNoSelVal} = &apos;Yes&apos;) &amp;&amp; ({!Complaint} = True), True,False)</expression>
    </formulas>
    <interviewLabel>Complaint and Compliment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Complaint and Compliment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Case_Record</name>
        <label>Create a Case Record</label>
        <locationX>897</locationX>
        <locationY>1110</locationY>
        <inputAssignments>
            <field>Body_and_Paint__c</field>
            <value>
                <elementReference>vCaseBodynPaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>vRegVehRec.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Reason_for_Compliment__c</field>
            <value>
                <elementReference>vCaseReasonCompli</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint__c</field>
            <value>
                <elementReference>Complaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compliment__c</field>
            <value>
                <elementReference>Compliment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vContId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_up_Required__c</field>
            <value>
                <elementReference>vCaseFUR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Franchise__c</field>
            <value>
                <elementReference>vRegVehRec.Franchise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>vCaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_CV__c</field>
            <value>
                <elementReference>vCasePCCVList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrincipalCaseCompliment__c</field>
            <value>
                <elementReference>Principal_Case_for_Compliment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Vehicle__c</field>
            <value>
                <elementReference>vRegVehRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Centre__c</field>
            <value>
                <elementReference>vBranch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Case_Record_for_Complaint_and_Compliment_with_No_Followup</name>
        <label>Create a Case Record for Complaint and Compliment with No Followup</label>
        <locationX>1186</locationX>
        <locationY>1221</locationY>
        <inputAssignments>
            <field>Body_and_Paint__c</field>
            <value>
                <elementReference>vCaseBodynPaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>vRegVehRec.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Reason_for_Complaint__c</field>
            <value>
                <elementReference>vCaseReaCompla</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Reason_for_Compliment__c</field>
            <value>
                <elementReference>vCaseReasonCompli</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <elementReference>vCaseRec.Case_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint__c</field>
            <value>
                <elementReference>Complaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compliment__c</field>
            <value>
                <elementReference>Compliment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vContId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_up_Required__c</field>
            <value>
                <elementReference>vCaseFUR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Franchise__c</field>
            <value>
                <elementReference>vRegVehRec.Franchise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>vCaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_CV__c</field>
            <value>
                <elementReference>vCasePCCVList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrincipalCaseComplaint__c</field>
            <value>
                <elementReference>Principal_Case_for_Complaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrincipalCaseCompliment__c</field>
            <value>
                <elementReference>Principal_Case_for_Compliment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Vehicle__c</field>
            <value>
                <elementReference>vRegVehRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Centre__c</field>
            <value>
                <elementReference>vBranch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Case_record_for_complaint_and_followup</name>
        <label>Create a Case record for complaint and followup</label>
        <locationX>1926</locationX>
        <locationY>1327</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>Submit_for_Approval_Complaint_and_Followup_is_Yes</targetReference>
        </connector>
        <inputAssignments>
            <field>Body_and_Paint__c</field>
            <value>
                <elementReference>vCaseBodynPaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>vRegVehRec.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Reason_for_Complaint__c</field>
            <value>
                <elementReference>vCaseReaCompla</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <elementReference>vCaseRec.Case_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint__c</field>
            <value>
                <elementReference>Complaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compliment__c</field>
            <value>
                <elementReference>Compliment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vContId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_up_Required__c</field>
            <value>
                <elementReference>vCaseFUR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Franchise__c</field>
            <value>
                <elementReference>vRegVehRec.Franchise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_CV__c</field>
            <value>
                <elementReference>vCasePCCVList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrincipalCaseComplaint__c</field>
            <value>
                <elementReference>Principal_Case_for_Complaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Vehicle__c</field>
            <value>
                <elementReference>vRegVehRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Centre__c</field>
            <value>
                <elementReference>vBranch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Case_record_for_Complaint_and_No_Followup</name>
        <label>Create a Case record for Complaint and No Followup</label>
        <locationX>1313</locationX>
        <locationY>1067</locationY>
        <inputAssignments>
            <field>Body_and_Paint__c</field>
            <value>
                <elementReference>vCaseBodynPaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>vRegVehRec.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Reason_for_Complaint__c</field>
            <value>
                <elementReference>vCaseReaCompla</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <elementReference>vCaseRec.Case_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint__c</field>
            <value>
                <elementReference>Compliment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compliment__c</field>
            <value>
                <elementReference>Compliment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vContId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_up_Required__c</field>
            <value>
                <elementReference>vCaseFUR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Franchise__c</field>
            <value>
                <elementReference>vRegVehRec.Franchise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>vCaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_CV__c</field>
            <value>
                <elementReference>vCasePCCVList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrincipalCaseComplaint__c</field>
            <value>
                <elementReference>Principal_Case_for_Complaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Vehicle__c</field>
            <value>
                <elementReference>vRegVehRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Centre__c</field>
            <value>
                <elementReference>vBranch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Case_Record_with_Followup</name>
        <label>Create a Case Record with Followup</label>
        <locationX>2066</locationX>
        <locationY>1165</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>Submit_for_Approval_Complaint_and_Followup_is_Yes</targetReference>
        </connector>
        <inputAssignments>
            <field>Body_and_Paint__c</field>
            <value>
                <elementReference>vCaseBodynPaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>vRegVehRec.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Reason_for_Complaint__c</field>
            <value>
                <elementReference>vCaseReaCompla</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Reason_for_Compliment__c</field>
            <value>
                <elementReference>vCaseReasonCompli</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <elementReference>vCaseRec.Case_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint__c</field>
            <value>
                <elementReference>Complaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compliment__c</field>
            <value>
                <elementReference>Compliment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vContId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_up_Required__c</field>
            <value>
                <elementReference>vCaseFUR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Franchise__c</field>
            <value>
                <elementReference>vRegVehRec.Franchise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>vCaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_CV__c</field>
            <value>
                <elementReference>vCasePCCVList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrincipalCaseComplaint__c</field>
            <value>
                <elementReference>Principal_Case_for_Complaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrincipalCaseCompliment__c</field>
            <value>
                <elementReference>Principal_Case_for_Compliment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Vehicle__c</field>
            <value>
                <elementReference>vRegVehRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Centre__c</field>
            <value>
                <elementReference>vBranch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>Complaint_and_Compliments</name>
        <label>Complaint and Compliments</label>
        <locationX>179</locationX>
        <locationY>381</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Both_Compliment_and_Complaint_are_not_selected</targetReference>
        </connector>
        <fields>
            <name>Compliment</name>
            <dataType>Boolean</dataType>
            <fieldText>Compliment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Reason_for_Compliment</name>
            <choiceReferences>vSales1</choiceReferences>
            <choiceReferences>vAftersales1</choiceReferences>
            <choiceReferences>vDigital1</choiceReferences>
            <choiceReferences>vBreakdown1</choiceReferences>
            <choiceReferences>vOthers1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Reason for Compliment</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Principal_Case_for_Compliment</name>
            <dataType>Boolean</dataType>
            <fieldText>Principal Case for Compliment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Complaint</name>
            <dataType>Boolean</dataType>
            <fieldText>Complaint</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Reason_for_Complaint</name>
            <choiceReferences>vSales</choiceReferences>
            <choiceReferences>vAftersales</choiceReferences>
            <choiceReferences>vDigital</choiceReferences>
            <choiceReferences>vBreakdown</choiceReferences>
            <choiceReferences>vOthers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Reason for Complaint</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Principal_Case_for_Complaint</name>
            <dataType>Boolean</dataType>
            <fieldText>Principal Case for Complaint</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MSP3Text</name>
            <fieldText>{!vMSP3}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>line3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseType</name>
            <choiceReferences>Case_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Branch</name>
            <choiceReferences>vBranch</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Center / Branch</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PC_CV</name>
            <choiceReferences>vCasePCCVList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PC / CV</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Body_and_Paint</name>
            <choiceReferences>vCaseBodynPaint</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Body and Paint</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Origin</name>
            <choiceReferences>vCaseOrigin</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_Follow_Up_Required</name>
            <choiceReferences>vCaseFUR</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is Follow Up Required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Priority</name>
            <choiceReferences>vP1</choiceReferences>
            <choiceReferences>vP2</choiceReferences>
            <choiceReferences>vP3</choiceReferences>
            <choiceReferences>vP4</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>vP3</defaultSelectedChoiceReference>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>440</locationX>
        <locationY>969</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Complaint_and_Compliments</targetReference>
        </connector>
        <fields>
            <name>vErrMsg</name>
            <fieldText>{!vErrMsgText}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Complaint_and_Compliments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>vErrMsgText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;FONT color=&quot;red&quot;&gt; {!ErrMsg1} &lt;/FONT&gt;</text>
    </textTemplates>
    <variables>
        <name>BodynPaintYN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Yes, No</stringValue>
        </value>
    </variables>
    <variables>
        <name>ErrMsg1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue> Compliment does not require followup.</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vApprName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Service_Cloud_Case_Approval_Process</stringValue>
        </value>
    </variables>
    <variables>
        <name>vBodynPaintSelVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCaseReaCompla</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCaseReasonCompli</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCaseRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vContId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMSP1Values</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vMSP2Values</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vMSP3Values</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOriginList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOriginSel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vPCCVList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Passenger, Commercial</stringValue>
        </value>
    </variables>
    <variables>
        <name>vPCCVSel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRegVehRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Registered_Vehicle__c</objectType>
    </variables>
    <variables>
        <name>YesNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Yes, No</stringValue>
        </value>
    </variables>
    <variables>
        <name>YesNoSelVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
