cncProd/force-app/main/default/flows/Create_New_Used_Car_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Call_UiPath_Queue</name>
        <label>Call UiPath Queue</label>
        <locationX>710</locationX>
        <locationY>1094</locationY>
        <actionName>UiPath__QueueNotificationService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Final_Action</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>templateName</name>
            <value>
                <stringValue>RA_LTA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customVar1Name</name>
            <value>
                <stringValue>Intended_Deregistration_Date__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customVar1Value</name>
            <value>
                <elementReference>formattedDateValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>newQuote.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Clear_Old_Values</name>
        <label>Clear Old Values</label>
        <locationX>578</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>newQuote</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingQuote</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesConsultant.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Used_Car_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message_0</name>
        <label>Set Error Message</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>existingQuoteErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Used_Car_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pending_Quote_Error_Message</name>
        <label>Set Pending Quote Error Message</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pendingErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Used_Car_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_New_Quote_Values</name>
        <label>Update New Quote Values</label>
        <locationX>446</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>newQuote.Sales_Consultant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>salesConsultant.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.Intended_Deregistration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Intended_Deregistration_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.Customer_ID_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_ID_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.Customer_NRIC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_NRIC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.Vehicle_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vehicle_No</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.Mileage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mileage_Input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Existing_Active_Quote</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Final_Action</name>
        <label>Final Action</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Save</defaultConnectorLabel>
        <rules>
            <name>Save_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAVE_NEW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confim_Save_Successs</targetReference>
            </connector>
            <label>Save &amp; New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Existing_Active_Quote</name>
        <label>Found Existing Active Quote?</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Create_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active Quote Found</defaultConnectorLabel>
        <rules>
            <name>Active_Quote_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingQuote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Pending_Quote</targetReference>
            </connector>
            <label>Active Quote Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Pending_Quote</name>
        <label>Is Pending Quote</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Message_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open Quote</defaultConnectorLabel>
        <rules>
            <name>Pending_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingQuote.Vehicle_Make__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>existingQuote.Vehicle_Model__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pending_Quote_Error_Message</targetReference>
            </connector>
            <label>Pending Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordTypeId_is_detected</name>
        <label>RecordTypeId is detected?</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>New_Used_Car_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordTypeId_Manually</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>customerIdTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Customer_ID_Type__c</picklistField>
        <picklistObject>Used_Car_Quote__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>formattedDateValue</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY({!newQuote.Intended_Deregistration_Date__c})),2,&quot;0&quot;) &amp; LPAD(TEXT(MONTH({!newQuote.Intended_Deregistration_Date__c})),2,&quot;0&quot;) &amp; TEXT(YEAR({!newQuote.Intended_Deregistration_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>profileName</name>
        <dataType>String</dataType>
        <expression>IF (
       {!$Profile.Name} = &quot;MB Purchaser&quot;, 
       &quot;MB_Quote&quot;, 
      IF( 
            CONTAINS({!$Profile.Name}, &quot;MB&quot;),
            &quot;MB_Quote&quot;,
             &quot;MF_Quote&quot;)  
 )</expression>
    </formulas>
    <formulas>
        <name>recordTypeName</name>
        <dataType>String</dataType>
        <expression>IF ( {!$Profile.Name} = &quot;MB Purchaser&quot;, &quot;MB_Quote&quot;, IF(  CONTAINS({!$Profile.Name}, &quot;MB&quot;), &quot;MB_Quote&quot;, &quot;MF_Quote&quot;)   )</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Create New Used Car Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Used Car Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Call_UiPath_Queue</targetReference>
        </connector>
        <inputReference>newQuote</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_RecordTypeId_Manually</name>
        <label>Get RecordTypeId Manually</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Used_Car_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Used_Car_Quote__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Search_Existing_Active_Quote</name>
        <label>Search Existing Active Quote</label>
        <locationX>446</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Existing_Active_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vehicle_No__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newQuote.Vehicle_No__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_NRIC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newQuote.Customer_NRIC__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer_ID_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newQuote.Customer_ID_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </filters>
        <object>Used_Car_Quote__c</object>
        <outputReference>existingQuote</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Vehicle_Make__c</queriedFields>
        <queriedFields>Vehicle_Model__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confim_Save_Successs</name>
        <label>Confim Save Successs</label>
        <locationX>578</locationX>
        <locationY>1334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clear_Old_Values</targetReference>
        </connector>
        <fields>
            <name>saveSuccessAndNewScreen</name>
            <fieldText>&lt;p&gt;{!successMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Used_Car_Quote</name>
        <label>New Used Car Quote</label>
        <locationX>446</locationX>
        <locationY>494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_New_Quote_Values</targetReference>
        </connector>
        <fields>
            <name>New_Used_Car_Quote_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Used_Car_Quote_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Error</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 6, 14);&quot;&gt;{!errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Used_Car_Quote_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Used_Car_Quote_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Vehicle_No</name>
                    <dataType>String</dataType>
                    <fieldText>Vehicle No.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Customer_ID_Type</name>
                    <choiceReferences>customerIdTypes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>defaultCustomerIdType</elementReference>
                    </defaultValue>
                    <fieldText>Customer ID Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Customer ID Type&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Customer_NRIC</name>
                    <dataType>String</dataType>
                    <fieldText>Customer NRIC</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Input last 4 characters e.g. 567D&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;You must enter the last 4 characters&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Customer_NRIC}) = 4</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Used_Car_Quote_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Intended_Deregistration_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>today</elementReference>
                    </defaultValue>
                    <fieldText>Intended Deregistration Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 21, 21);&quot;&gt;Intended Deregistration Date cannot be a date in the past&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Intended_Deregistration_Date} &gt;= {!today}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Mileage_Input</name>
                    <dataType>Number</dataType>
                    <fieldText>Mileage (km)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Mileage cannot be negative&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Mileage_Input} &gt;= 0</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>SalesConsultantInput</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Sales_Consultant__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Sales Consultant</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Used_Car_Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>salesConsultant.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>salesConsultant.Name</assignToReference>
                        <name>recordName</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>salesConsultant.Id</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>footer</name>
            <extensionName>c:rap_flowCustomFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideCancelBtn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOption</name>
                <value>
                    <elementReference>selectedOption</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedOption</assignToReference>
                <name>selectedOption</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>842</locationX>
        <locationY>1334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>saveSuccessScreen</name>
            <fieldText>&lt;p&gt;{!successMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>finishScreenFooter</name>
            <extensionName>c:rap_flowCustomFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelLabel</name>
                <value>
                    <stringValue>Close</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCancelBtn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideNewBtn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideSaveBtn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOption</name>
                <value>
                    <elementReference>selectedOption</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RecordTypeId_is_detected</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>existingQuoteErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 24, 24);&quot;&gt;Active quote exist for this vehicle: &lt;/span&gt;&lt;a href=&quot;/{!existingQuote.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!existingQuote.Name}&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 24, 24);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>successMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Quotation submitted. You will receive a notification upon completion.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>defaultCustomerIdType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Singapore NRIC (e.g. S1234567D)</stringValue>
        </value>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Used_Car_Quote__c</objectType>
    </variables>
    <variables>
        <name>newQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Used_Car_Quote__c</objectType>
    </variables>
    <variables>
        <name>pendingErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Please wait while we are processing your earlier request</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>salesConsultant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>selectedOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
