cncProd/force-app/main/default/flows/Digital.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Proceed</name>
        <choiceText>Proceed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proceed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Skip</name>
        <choiceText>Skip</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Skip</stringValue>
        </value>
    </choices>
    <choices>
        <name>vNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>vYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>MSPSelect</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Type of Enquiry or Request</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Verify_Followup</name>
        <label>Verify Followup</label>
        <locationX>214</locationX>
        <locationY>357</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Verify_Followup_is_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Follow_Up_Required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vNo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Case</targetReference>
            </connector>
            <label>Verify Followup is No</label>
        </rules>
        <rules>
            <name>Verify_Followup_is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Follow_Up_Required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Case_for_Followup</targetReference>
            </connector>
            <label>Verify Followup is Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CaseOrigin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Service_Cloud_Values__c</object>
        <outputAssignments>
            <assignToReference>vEnqReqSel</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>v1</name>
        <dataType>Number</dataType>
        <expression>LEN({!vRetunValues})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Digital {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Digital</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Case</name>
        <label>Create a Case</label>
        <locationX>535</locationX>
        <locationY>646</locationY>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>vRegVehRec.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ1Ans__c</field>
            <value>
                <elementReference>Q1AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ2Ans__c</field>
            <value>
                <elementReference>Q2AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ3Ans__c</field>
            <value>
                <elementReference>Q3AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ4Ans__c</field>
            <value>
                <elementReference>Q4AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ5Ans__c</field>
            <value>
                <elementReference>Q5AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ6Ans__c</field>
            <value>
                <elementReference>Q6AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Category__c</field>
            <value>
                <elementReference>vEnqReqSel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <elementReference>vCaseColl.Case_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vContId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_up_Required__c</field>
            <value>
                <elementReference>Is_Follow_Up_Required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Franchise__c</field>
            <value>
                <elementReference>vRegVehRec.Franchise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>CaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>P4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Vehicle__c</field>
            <value>
                <elementReference>vRegVehRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>RemarksIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Case_for_Followup</name>
        <label>Create a Case for Followup</label>
        <locationX>218</locationX>
        <locationY>642</locationY>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>vRegVehRec.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ1Ans__c</field>
            <value>
                <elementReference>Q1AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ2Ans__c</field>
            <value>
                <elementReference>Q2AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ3Ans__c</field>
            <value>
                <elementReference>Q3AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ4Ans__c</field>
            <value>
                <elementReference>Q4AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ5Ans__c</field>
            <value>
                <elementReference>Q5AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAQ6Ans__c</field>
            <value>
                <elementReference>Q6AnsIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Category__c</field>
            <value>
                <elementReference>vEnqReqSel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <elementReference>vCaseColl.Case_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vContId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_up_Required__c</field>
            <value>
                <elementReference>Is_Follow_Up_Required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Franchise__c</field>
            <value>
                <elementReference>vRegVehRec.Franchise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>CaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>P4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Vehicle__c</field>
            <value>
                <elementReference>vRegVehRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>RemarksIO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Follow Up</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>Digital</name>
        <label>Digital</label>
        <locationX>539</locationX>
        <locationY>20</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Verify_Followup</targetReference>
        </connector>
        <fields>
            <name>MSP</name>
            <fieldText>{!MSPSelect}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Origin</name>
            <choiceReferences>CaseOrigin</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_Follow_Up_Required</name>
            <choiceReferences>vYes</choiceReferences>
            <choiceReferences>vNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>vNo</defaultSelectedChoiceReference>
            <fieldText>Is Follow Up Required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>60</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>Authenticate_Caller</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Authenticate_Caller</name>
        <label>Authenticate Caller</label>
        <locationX>400</locationX>
        <locationY>21</locationY>
        <connector>
            <targetReference>Digital</targetReference>
        </connector>
        <flowName>Caller_Authentication</flowName>
        <inputAssignments>
            <name>vAddr1Ip</name>
            <value>
                <elementReference>cAddr1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vAddr2IP</name>
            <value>
                <elementReference>cAddr2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vAddr3IP</name>
            <value>
                <elementReference>cAddr3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vBirthDateIP</name>
            <value>
                <elementReference>cBirthDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vEmailIP</name>
            <value>
                <elementReference>cEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vMobilePhoneIP</name>
            <value>
                <elementReference>cMobile</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>vErrMsg</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;font face=&quot;verdana&quot; color=&quot;red&quot;&gt;Select Type of Enquiry or Request!&lt;/font&gt;</text>
    </textTemplates>
    <variables>
        <name>cAddr1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cAddr2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cAddr3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cBirthDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q1AnsIO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q2AnsIO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q3AnsIO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q4AnsIO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q5AnsIO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q6AnsIO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RemarksIO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCaseColl</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vContId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEnqReqSel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOthers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPassorFailValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRegVehRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Registered_Vehicle__c</objectType>
    </variables>
    <variables>
        <name>vRetunValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
