cncProd/force-app/main/default/flows/GFB_Re_trigger_Survey_SMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>First_Retrigger</name>
        <label>First Retrigger</label>
        <locationX>837</locationX>
        <locationY>1001</locationY>
        <assignmentItems>
            <assignToReference>ReturnedTestDriveRecord.First_SMS_Triggered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnedTestDriveRecord.SMS_Trigger_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Test_Drive_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Second_Retrigger</name>
        <label>Second Retrigger</label>
        <locationX>1012</locationX>
        <locationY>993</locationY>
        <assignmentItems>
            <assignToReference>ReturnedTestDriveRecord.Second_SMS_Triggered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnedTestDriveRecord.SMS_Trigger_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Test_Drive_Record2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Third_Retrigger</name>
        <label>Third Retrigger</label>
        <locationX>1158</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>ReturnedTestDriveRecord.Third_SMS_Triggered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnedTestDriveRecord.SMS_Trigger_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Test_Drive_Record3</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>After_30mins_from_Check_Out</name>
        <label>After 30mins from Check Out?</label>
        <locationX>721</locationX>
        <locationY>527</locationY>
        <defaultConnector>
            <targetReference>Manual_Re_trigger_SMS_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckOutplus30mins</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SMS_Trigger_Count</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Found</name>
        <label>Record Found?</label>
        <locationX>722</locationX>
        <locationY>348</locationY>
        <defaultConnector>
            <targetReference>After_30mins_from_Check_Out</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record found</defaultConnectorLabel>
        <rules>
            <name>No_record_found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ReturnedTestDriveRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Re_trigger_SMS</targetReference>
            </connector>
            <label>No record found</label>
        </rules>
    </decisions>
    <decisions>
        <name>SMS_Trigger_Count</name>
        <label>SMS Trigger Count</label>
        <locationX>837</locationX>
        <locationY>678</locationY>
        <defaultConnectorLabel>Trigger Limit Not Reached</defaultConnectorLabel>
        <rules>
            <name>Trigger_Limit_Reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReturnedTestDriveRecord.First_SMS_Triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReturnedTestDriveRecord.Second_SMS_Triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReturnedTestDriveRecord.Third_SMS_Triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Re_trigger_SMS_Limit_reached</targetReference>
            </connector>
            <label>Trigger Limit Reached</label>
        </rules>
        <rules>
            <name>First_Trigger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReturnedTestDriveRecord.First_SMS_Triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReturnedTestDriveRecord.Second_SMS_Triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReturnedTestDriveRecord.Third_SMS_Triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_Retrigger</targetReference>
            </connector>
            <label>First Trigger</label>
        </rules>
        <rules>
            <name>Second_Trigger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReturnedTestDriveRecord.First_SMS_Triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReturnedTestDriveRecord.Second_SMS_Triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReturnedTestDriveRecord.Third_SMS_Triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Second_Retrigger</targetReference>
            </connector>
            <label>Second Trigger</label>
        </rules>
        <rules>
            <name>Last_Trigger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReturnedTestDriveRecord.First_SMS_Triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReturnedTestDriveRecord.Second_SMS_Triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReturnedTestDriveRecord.Third_SMS_Triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Third_Retrigger</targetReference>
            </connector>
            <label>Last Trigger</label>
        </rules>
    </decisions>
    <formulas>
        <name>CheckOutplus30mins</name>
        <dataType>DateTime</dataType>
        <expression>{!ReturnedTestDriveRecord.Check_Out__c} + (30/1440)</expression>
    </formulas>
    <interviewLabel>GFB Re-trigger Survey SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GFB Re-trigger Survey SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Test_Drive_Record</name>
        <label>Get Test Drive Record</label>
        <locationX>730</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Survey_sent_in_an_earlier_Test_Drive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Send_Survey_SMS__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Test_Drive__c</object>
        <outputReference>ReturnedTestDriveRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Check_Out__c</queriedFields>
        <queriedFields>First_SMS_Triggered__c</queriedFields>
        <queriedFields>Second_SMS_Triggered__c</queriedFields>
        <queriedFields>Third_SMS_Triggered__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Test_Drive_Record</name>
        <label>Update Test Drive Record</label>
        <locationX>838</locationX>
        <locationY>1136</locationY>
        <connector>
            <targetReference>X1st_SMS_Sent</targetReference>
        </connector>
        <inputReference>ReturnedTestDriveRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Test_Drive_Record2</name>
        <label>Update Test Drive Record2</label>
        <locationX>1012</locationX>
        <locationY>1141</locationY>
        <connector>
            <targetReference>X2nd_SMS_Sent</targetReference>
        </connector>
        <inputReference>ReturnedTestDriveRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Test_Drive_Record3</name>
        <label>Update Test Drive Record3</label>
        <locationX>1158</locationX>
        <locationY>1153</locationY>
        <connector>
            <targetReference>X3rd_SMS_Sent</targetReference>
        </connector>
        <inputReference>ReturnedTestDriveRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Cannot_Re_trigger_SMS</name>
        <label>Cannot Re-trigger SMS</label>
        <locationX>936</locationX>
        <locationY>348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>cannotRetriggerSMS</name>
            <extensionName>c:refreshLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Test Drive record does not meet criteria for sending survey SMS.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Cannot re-trigger SMS for Test Drive record</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>dismissible</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Manual_Re_trigger_SMS_Error</name>
        <label>Manual Re-trigger SMS Error</label>
        <locationX>421</locationX>
        <locationY>527</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Retrigger_SMS_Error_Screen</name>
            <extensionName>c:refreshLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Cannot re-trigger SMS within 30mins of Check-Out time.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>dismissible</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Re-trigger Error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Re_trigger_SMS_Limit_reached</name>
        <label>Re-trigger SMS Limit reached</label>
        <locationX>709</locationX>
        <locationY>869</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SMSTriggerLimitReached</name>
            <extensionName>c:refreshLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Re-trigger SMS limit (3) has been reached.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>dismissible</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>SMS Trigger Limit Reached</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>X1st_SMS_Sent</name>
        <label>1st SMS Sent</label>
        <locationX>838</locationX>
        <locationY>1337</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FirstButtonClick</name>
            <extensionName>c:refreshLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>2 SMS re-triggers left!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>1st SMS Triggered</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>dismissible</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>X2nd_SMS_Sent</name>
        <label>2nd SMS Sent</label>
        <locationX>1012</locationX>
        <locationY>1342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SecondButtonClick</name>
            <extensionName>c:refreshLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>1 SMS re-trigger left!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>dismissible</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>2nd SMS Triggered</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>X3rd_SMS_Sent</name>
        <label>3rd SMS Sent</label>
        <locationX>1157</locationX>
        <locationY>1339</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThirdButtonClick</name>
            <extensionName>c:refreshLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>No SMS re-triggers left!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>dismissible</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>3rd SMS Triggered</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>604</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Test_Drive_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the test drive record ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReturnedTestDriveRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Test_Drive__c</objectType>
    </variables>
    <variables>
        <name>TestStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>default</stringValue>
        </value>
    </variables>
</Flow>
