cncProd/force-app/main/default/flows/GFB_Kia_DCSI_Sales_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Populate related Sales Agreement checkbox</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Populate BQ030</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(CONTAINS( LEFT( [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_Before_Visiting_Dealer__c 

+ IF( ISBLANK([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Sales_Consultant__c) , &quot;&quot;, &quot;, &quot; + [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Sales_Consultant__c )

+ IF( ISBLANK([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Test_Drive__c) , &quot;&quot;, &quot;, &quot; + [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Test_Drive__c )

+IF( ISBLANK([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Vehicle_Purchase__c) , &quot;&quot;, &quot;, &quot; + [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Vehicle_Purchase__c)

+IF( ISBLANK([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Vehicle_Delivery__c) , &quot;&quot;, &quot;, &quot; + [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Vehicle_Delivery__c )

+IF( ISBLANK([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_at_Showroom__c) , &quot;&quot;, &quot;, &quot; + [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_at_Showroom__c )

+IF( ISBLANK([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_Others__c) , &quot;&quot;, &quot;, &quot; +  [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_Others__c ) 
, 2) , &quot;, &quot;),  RIGHT( [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_Before_Visiting_Dealer__c 

+ IF( ISBLANK([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Sales_Consultant__c) , &quot;&quot;, &quot;, &quot; + [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Sales_Consultant__c )

+ IF( ISBLANK([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Test_Drive__c) , &quot;&quot;, &quot;, &quot; + [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Test_Drive__c )

+IF( ISBLANK([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Vehicle_Purchase__c) , &quot;&quot;, &quot;, &quot; + [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Vehicle_Purchase__c)

+IF( ISBLANK([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Vehicle_Delivery__c) , &quot;&quot;, &quot;, &quot; + [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Vehicle_Delivery__c )

+IF( ISBLANK([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_at_Showroom__c) , &quot;&quot;, &quot;, &quot; + [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_at_Showroom__c )

+IF( ISBLANK([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_Others__c) , &quot;&quot;, &quot;, &quot; +  [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_Others__c ) 
, LEN([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_Before_Visiting_Dealer__c 

+ IF( ISBLANK([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Sales_Consultant__c) , &quot;&quot;, &quot;, &quot; + [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Sales_Consultant__c )

+ IF( ISBLANK([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Test_Drive__c) , &quot;&quot;, &quot;, &quot; + [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Test_Drive__c )

+IF( ISBLANK([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Vehicle_Purchase__c) , &quot;&quot;, &quot;, &quot; + [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Vehicle_Purchase__c)

+IF( ISBLANK([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Vehicle_Delivery__c) , &quot;&quot;, &quot;, &quot; + [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Vehicle_Delivery__c )

+IF( ISBLANK([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_at_Showroom__c) , &quot;&quot;, &quot;, &quot; + [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_at_Showroom__c )

+IF( ISBLANK([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_Others__c) , &quot;&quot;, &quot;, &quot; +  [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_Others__c ) 
) - 2), [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_Before_Visiting_Dealer__c 

+ IF( ISBLANK([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Sales_Consultant__c) , &quot;&quot;, &quot;, &quot; + [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Sales_Consultant__c )

+ IF( ISBLANK([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Test_Drive__c) , &quot;&quot;, &quot;, &quot; + [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Test_Drive__c )

+IF( ISBLANK([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Vehicle_Purchase__c) , &quot;&quot;, &quot;, &quot; + [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Vehicle_Purchase__c)

+IF( ISBLANK([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Vehicle_Delivery__c) , &quot;&quot;, &quot;, &quot; + [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Vehicle_Delivery__c )

+IF( ISBLANK([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_at_Showroom__c) , &quot;&quot;, &quot;, &quot; + [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_at_Showroom__c )

+IF( ISBLANK([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_Others__c) , &quot;&quot;, &quot;, &quot; +  [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_Others__c ) 
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_3_A1_2484842561</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS( LEFT( {!myVariable_current.BQ030_Issues_Before_Visiting_Dealer__c} 

+ IF( ISBLANK({!myVariable_current.BQ030_Issues_with_Sales_Consultant__c}) , &quot;&quot;, &quot;, &quot; + {!myVariable_current.BQ030_Issues_with_Sales_Consultant__c} )

+ IF( ISBLANK({!myVariable_current.BQ030_Issues_with_Test_Drive__c}) , &quot;&quot;, &quot;, &quot; + {!myVariable_current.BQ030_Issues_with_Test_Drive__c} )

+IF( ISBLANK({!myVariable_current.BQ030_Issues_with_Vehicle_Purchase__c}) , &quot;&quot;, &quot;, &quot; + {!myVariable_current.BQ030_Issues_with_Vehicle_Purchase__c})

+IF( ISBLANK({!myVariable_current.BQ030_Issues_with_Vehicle_Delivery__c}) , &quot;&quot;, &quot;, &quot; + {!myVariable_current.BQ030_Issues_with_Vehicle_Delivery__c} )

+IF( ISBLANK({!myVariable_current.BQ030_Issues_at_Showroom__c}) , &quot;&quot;, &quot;, &quot; + {!myVariable_current.BQ030_Issues_at_Showroom__c} )

+IF( ISBLANK({!myVariable_current.BQ030_Issues_Others__c}) , &quot;&quot;, &quot;, &quot; +  {!myVariable_current.BQ030_Issues_Others__c} ) 
, 2) , &quot;, &quot;),  RIGHT( {!myVariable_current.BQ030_Issues_Before_Visiting_Dealer__c} 

+ IF( ISBLANK({!myVariable_current.BQ030_Issues_with_Sales_Consultant__c}) , &quot;&quot;, &quot;, &quot; + {!myVariable_current.BQ030_Issues_with_Sales_Consultant__c} )

+ IF( ISBLANK({!myVariable_current.BQ030_Issues_with_Test_Drive__c}) , &quot;&quot;, &quot;, &quot; + {!myVariable_current.BQ030_Issues_with_Test_Drive__c} )

+IF( ISBLANK({!myVariable_current.BQ030_Issues_with_Vehicle_Purchase__c}) , &quot;&quot;, &quot;, &quot; + {!myVariable_current.BQ030_Issues_with_Vehicle_Purchase__c})

+IF( ISBLANK({!myVariable_current.BQ030_Issues_with_Vehicle_Delivery__c}) , &quot;&quot;, &quot;, &quot; + {!myVariable_current.BQ030_Issues_with_Vehicle_Delivery__c} )

+IF( ISBLANK({!myVariable_current.BQ030_Issues_at_Showroom__c}) , &quot;&quot;, &quot;, &quot; + {!myVariable_current.BQ030_Issues_at_Showroom__c} )

+IF( ISBLANK({!myVariable_current.BQ030_Issues_Others__c}) , &quot;&quot;, &quot;, &quot; +  {!myVariable_current.BQ030_Issues_Others__c} ) 
, LEN({!myVariable_current.BQ030_Issues_Before_Visiting_Dealer__c} 

+ IF( ISBLANK({!myVariable_current.BQ030_Issues_with_Sales_Consultant__c}) , &quot;&quot;, &quot;, &quot; + {!myVariable_current.BQ030_Issues_with_Sales_Consultant__c} )

+ IF( ISBLANK({!myVariable_current.BQ030_Issues_with_Test_Drive__c}) , &quot;&quot;, &quot;, &quot; + {!myVariable_current.BQ030_Issues_with_Test_Drive__c} )

+IF( ISBLANK({!myVariable_current.BQ030_Issues_with_Vehicle_Purchase__c}) , &quot;&quot;, &quot;, &quot; + {!myVariable_current.BQ030_Issues_with_Vehicle_Purchase__c})

+IF( ISBLANK({!myVariable_current.BQ030_Issues_with_Vehicle_Delivery__c}) , &quot;&quot;, &quot;, &quot; + {!myVariable_current.BQ030_Issues_with_Vehicle_Delivery__c} )

+IF( ISBLANK({!myVariable_current.BQ030_Issues_at_Showroom__c}) , &quot;&quot;, &quot;, &quot; + {!myVariable_current.BQ030_Issues_at_Showroom__c} )

+IF( ISBLANK({!myVariable_current.BQ030_Issues_Others__c}) , &quot;&quot;, &quot;, &quot; +  {!myVariable_current.BQ030_Issues_Others__c} ) 
) - 2), {!myVariable_current.BQ030_Issues_Before_Visiting_Dealer__c} 

+ IF( ISBLANK({!myVariable_current.BQ030_Issues_with_Sales_Consultant__c}) , &quot;&quot;, &quot;, &quot; + {!myVariable_current.BQ030_Issues_with_Sales_Consultant__c} )

+ IF( ISBLANK({!myVariable_current.BQ030_Issues_with_Test_Drive__c}) , &quot;&quot;, &quot;, &quot; + {!myVariable_current.BQ030_Issues_with_Test_Drive__c} )

+IF( ISBLANK({!myVariable_current.BQ030_Issues_with_Vehicle_Purchase__c}) , &quot;&quot;, &quot;, &quot; + {!myVariable_current.BQ030_Issues_with_Vehicle_Purchase__c})

+IF( ISBLANK({!myVariable_current.BQ030_Issues_with_Vehicle_Delivery__c}) , &quot;&quot;, &quot;, &quot; + {!myVariable_current.BQ030_Issues_with_Vehicle_Delivery__c} )

+IF( ISBLANK({!myVariable_current.BQ030_Issues_at_Showroom__c}) , &quot;&quot;, &quot;, &quot; + {!myVariable_current.BQ030_Issues_at_Showroom__c} )

+IF( ISBLANK({!myVariable_current.BQ030_Issues_Others__c}) , &quot;&quot;, &quot;, &quot; +  {!myVariable_current.BQ030_Issues_Others__c} ) 
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT( $Setup.Bypass_Automation_Settings__c.Bypass_Processes__c  )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>NOT( {!$Setup.Bypass_Automation_Settings__c.Bypass_Processes__c}  )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR (

      NOT(ISNULL( [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_at_Showroom__c  )),
      NOT(ISNULL( [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_Before_Visiting_Dealer__c  )),
      NOT(ISNULL([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_Others__c   )),
      NOT(ISNULL( [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Sales_Consultant__c  )),
      NOT(ISNULL([GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Test_Drive__c   )),
      NOT(ISNULL(  [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Vehicle_Purchase__c )),
      NOT(ISNULL( [GFB_Kia_DCSI_Sales_Survey__c].BQ030_Issues_with_Vehicle_Delivery__c  ))

)
&amp;&amp; NOT( $Setup.Bypass_Automation_Settings__c.Bypass_Processes__c  )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>OR (

      NOT(ISNULL( {!myVariable_current.BQ030_Issues_at_Showroom__c}  )),
      NOT(ISNULL( {!myVariable_current.BQ030_Issues_Before_Visiting_Dealer__c}  )),
      NOT(ISNULL({!myVariable_current.BQ030_Issues_Others__c}   )),
      NOT(ISNULL( {!myVariable_current.BQ030_Issues_with_Sales_Consultant__c}  )),
      NOT(ISNULL({!myVariable_current.BQ030_Issues_with_Test_Drive__c}   )),
      NOT(ISNULL(  {!myVariable_current.BQ030_Issues_with_Vehicle_Purchase__c} )),
      NOT(ISNULL( {!myVariable_current.BQ030_Issues_with_Vehicle_Delivery__c}  ))

)
&amp;&amp; NOT( {!$Setup.Bypass_Automation_Settings__c.Bypass_Processes__c}  )</expression>
    </formulas>
    <interviewLabel>GFB_Kia_DCSI_Sales_Survey-12_InterviewLabel</interviewLabel>
    <label>GFB - Kia DCSI Sales Survey</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>GFB_Kia_DCSI_Sales_Survey__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>RecursiveCountVariable</name>
        <value>
            <elementReference>RecursiveCountVariable</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[GFB_Kia_DCSI_Sales_Survey__c].Sales Agreement</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Sales Agreement Checkbox</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Sales_Agreement__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Post Car Collection Survey</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Post_Car_Collection_Survey__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Sales_Agreement__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[GFB_Kia_DCSI_Sales_Survey__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>UpdateBQ030</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>BQ030</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BQ030__c</field>
            <value>
                <elementReference>formula_4_myRule_3_A1_2484842561</elementReference>
            </value>
        </inputAssignments>
        <object>GFB_Kia_DCSI_Sales_Survey__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GFB_Kia_DCSI_Sales_Survey__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GFB_Kia_DCSI_Sales_Survey__c</objectType>
    </variables>
    <variables>
        <name>RecursiveCountVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
