cncProd/force-app/main/default/flows/Invoice_Email_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Invoice_Customer_Email</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Invoice_Customer_Email</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>Invoice__c.Invoice_Customer_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>InvoiceEmail_ProcessbuilderTC</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>RestCall_ForT&amp;C</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>InvoiceEmail_ProcessbuilderTC</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Invoice_Id</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>Invoice_Id</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Test_Invoice_Email</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Invoice_Email</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Invoice__c.Test_Invoice_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Invoice_Email_CCI</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Invoice Email CCI</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Invoice__c.Invoice_Email_CCI</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Invoice_Customer_Email</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Invoice Customer Email</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Invoice__c.Invoice_Customer_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Invoice_Customer_Email_CCI</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Invoice Customer Email CCI</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Invoice__c.Invoice_Customer_Email_CCI</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Rule1</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_pmetdec</targetReference>
            </connector>
            <label>Rule 6</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_pmetdec</targetReference>
            </connector>
            <label>Rule2</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_pmetdec</targetReference>
            </connector>
            <label>Rule3</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_pmetdec</targetReference>
            </connector>
            <label>Rule4</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_pmetdec</targetReference>
            </connector>
            <label>Rule5</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_11_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_11_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_11_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_11_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_3_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_3_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_3_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>500</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_5_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_5_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_5_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>700</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_7_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_7_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_7_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_9_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>900</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_9_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_9_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_9_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Invoice_Email_Process</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

NOT(ISBLANK([Invoice__c].Transaction_ID__c)),
NOT(ISBLANK([Invoice__c].NRIC__c )),
ISPICKVAL([Invoice__c].Transaction_Status__c, &apos;submitted_for_settlement&apos; ),
ISBLANK([Invoice__c].TC_Val__c ),
NOT( $Setup.Bypass_Automation_Settings__c.Bypass_Processes__c  )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(

NOT(ISBLANK({!myVariable_current.Transaction_ID__c})),
NOT(ISBLANK({!myVariable_current.NRIC__c} )),
ISPICKVAL({!myVariable_current.Transaction_Status__c}, &apos;submitted_for_settlement&apos; ),
ISBLANK({!myVariable_current.TC_Val__c} ),
NOT( {!$Setup.Bypass_Automation_Settings__c.Bypass_Processes__c}  )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT(ISBLANK([Invoice__c].Transaction_ID__c )),
ISPICKVAL([Invoice__c].Transaction_Status__c, &apos;submitted_for_settlement&apos; ),
NOT(ISBLANK([Invoice__c].Campaign__c )),
NOT(ISPICKVAL([Invoice__c].Event__c , &apos;E-shop&apos; )),
NOT(ISBLANK([Invoice__c].TC_Val__c)),
[Invoice__c].RecordType.DeveloperName = &apos;Sales_Targeted_Promo_Payment_RT&apos;,
NOT( $Setup.Bypass_Automation_Settings__c.Bypass_Processes__c  )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISBLANK({!myVariable_current.Transaction_ID__c} )),
ISPICKVAL({!myVariable_current.Transaction_Status__c}, &apos;submitted_for_settlement&apos; ),
NOT(ISBLANK({!myVariable_current.Campaign__c} )),
NOT(ISPICKVAL({!myVariable_current.Event__c} , &apos;E-shop&apos; )),
NOT(ISBLANK({!myVariable_current.TC_Val__c})),
{!myVariable_current.RecordType.DeveloperName} = &apos;Sales_Targeted_Promo_Payment_RT&apos;,
NOT( {!$Setup.Bypass_Automation_Settings__c.Bypass_Processes__c}  )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT(ISBLANK([Invoice__c].Transaction_ID__c )),
ISPICKVAL([Invoice__c].Transaction_Status__c, &apos;submitted_for_settlement&apos; ),
NOT(ISBLANK([Invoice__c].Campaign__c )),
NOT(ISPICKVAL([Invoice__c].Event__c , &apos;E-shop&apos; )),
NOT(ISBLANK([Invoice__c].TC_Val__c)),
[Invoice__c].RecordType.DeveloperName = &apos;Sales_Targeted_Promo_Payment_RT&apos;,
NOT( $Setup.Bypass_Automation_Settings__c.Bypass_Processes__c  )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISBLANK({!myVariable_old.Transaction_ID__c} )),
ISPICKVAL({!myVariable_old.Transaction_Status__c}, &apos;submitted_for_settlement&apos; ),
NOT(ISBLANK({!myVariable_old.Campaign__c} )),
NOT(ISPICKVAL({!myVariable_old.Event__c} , &apos;E-shop&apos; )),
NOT(ISBLANK({!myVariable_old.TC_Val__c})),
{!myVariable_old.RecordType.DeveloperName} = &apos;Sales_Targeted_Promo_Payment_RT&apos;,
NOT( {!$Setup.Bypass_Automation_Settings__c.Bypass_Processes__c}  )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

NOT(ISBLANK([Invoice__c].Transaction_ID__c)),
NOT(ISBLANK([Invoice__c].NRIC__c )),
ISPICKVAL([Invoice__c].Transaction_Status__c, &apos;submitted_for_settlement&apos; ),
ISBLANK([Invoice__c].TC_Val__c ),
NOT( $Setup.Bypass_Automation_Settings__c.Bypass_Processes__c  )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(

NOT(ISBLANK({!myVariable_old.Transaction_ID__c})),
NOT(ISBLANK({!myVariable_old.NRIC__c} )),
ISPICKVAL({!myVariable_old.Transaction_Status__c}, &apos;submitted_for_settlement&apos; ),
ISBLANK({!myVariable_old.TC_Val__c} ),
NOT( {!$Setup.Bypass_Automation_Settings__c.Bypass_Processes__c}  )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT(ISBLANK([Invoice__c].Transaction_ID__c )),
ISPICKVAL([Invoice__c].Transaction_Status__c, &apos;submitted_for_settlement&apos; ),
NOT(ISBLANK([Invoice__c].TC_Val__c )),
NOT(ISPICKVAL([Invoice__c].Event__c , &apos;E-shop&apos; )),
NOT(ISBLANK([Invoice__c].Campaign__c )),
NOT(ISPICKVAL([Invoice__c].Campaign__r.Type , &apos;Paid Event&apos; )),
[Invoice__c].Department__c != &apos;CCI&apos;,
ISBLANK([Invoice__c].Customer_Email__c ),
NOT(ISBLANK([Invoice__c].Account__r.PersonEmail )),
[Invoice__c].RecordType.DeveloperName =  &apos;C_C_Payment_RT&apos;,
NOT( $Setup.Bypass_Automation_Settings__c.Bypass_Processes__c  )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISBLANK({!myVariable_current.Transaction_ID__c} )),
ISPICKVAL({!myVariable_current.Transaction_Status__c}, &apos;submitted_for_settlement&apos; ),
NOT(ISBLANK({!myVariable_current.TC_Val__c} )),
NOT(ISPICKVAL({!myVariable_current.Event__c} , &apos;E-shop&apos; )),
NOT(ISBLANK({!myVariable_current.Campaign__c} )),
NOT(ISPICKVAL({!myVariable_current.Campaign__r.Type} , &apos;Paid Event&apos; )),
{!myVariable_current.Department__c} != &apos;CCI&apos;,
ISBLANK({!myVariable_current.Customer_Email__c} ),
NOT(ISBLANK({!myVariable_current.Account__r.PersonEmail} )),
{!myVariable_current.RecordType.DeveloperName} =  &apos;C_C_Payment_RT&apos;,
NOT( {!$Setup.Bypass_Automation_Settings__c.Bypass_Processes__c}  )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT(ISBLANK([Invoice__c].Transaction_ID__c )),
ISPICKVAL([Invoice__c].Transaction_Status__c, &apos;submitted_for_settlement&apos; ),
NOT(ISBLANK([Invoice__c].TC_Val__c )),
NOT(ISPICKVAL([Invoice__c].Event__c , &apos;E-shop&apos; )),
NOT(ISBLANK([Invoice__c].Campaign__c )),
NOT(ISPICKVAL([Invoice__c].Campaign__r.Type , &apos;Paid Event&apos; )),
[Invoice__c].Department__c != &apos;CCI&apos;,
ISBLANK([Invoice__c].Customer_Email__c ),
NOT(ISBLANK([Invoice__c].Account__r.PersonEmail )),
[Invoice__c].RecordType.DeveloperName =  &apos;C_C_Payment_RT&apos;,
NOT( $Setup.Bypass_Automation_Settings__c.Bypass_Processes__c  )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISBLANK({!myVariable_old.Transaction_ID__c} )),
ISPICKVAL({!myVariable_old.Transaction_Status__c}, &apos;submitted_for_settlement&apos; ),
NOT(ISBLANK({!myVariable_old.TC_Val__c} )),
NOT(ISPICKVAL({!myVariable_old.Event__c} , &apos;E-shop&apos; )),
NOT(ISBLANK({!myVariable_old.Campaign__c} )),
NOT(ISPICKVAL({!myVariable_old.Campaign__r.Type} , &apos;Paid Event&apos; )),
{!myVariable_old.Department__c} != &apos;CCI&apos;,
ISBLANK({!myVariable_old.Customer_Email__c} ),
NOT(ISBLANK({!myVariable_old.Account__r.PersonEmail} )),
{!myVariable_old.RecordType.DeveloperName} =  &apos;C_C_Payment_RT&apos;,
NOT( {!$Setup.Bypass_Automation_Settings__c.Bypass_Processes__c}  )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT(ISBLANK([Invoice__c].Transaction_ID__c )),
ISPICKVAL([Invoice__c].Transaction_Status__c, &apos;submitted_for_settlement&apos; ),
NOT(ISBLANK([Invoice__c].TC_Val__c )),
NOT(ISPICKVAL([Invoice__c].Event__c , &apos;E-shop&apos; )),
NOT(ISBLANK([Invoice__c].Campaign__c )),
ISPICKVAL([Invoice__c].Campaign__r.Type , &apos;Promotions&apos; ),
[Invoice__c].Department__c = &apos;CCI&apos;,
NOT(ISBLANK([Invoice__c].Account__r.PersonEmail )),
ISBLANK([Invoice__c].Customer_Email__c ),
[Invoice__c].RecordType.DeveloperName = &apos;C_C_Payment_RT&apos;,
NOT( $Setup.Bypass_Automation_Settings__c.Bypass_Processes__c  )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISBLANK({!myVariable_current.Transaction_ID__c} )),
ISPICKVAL({!myVariable_current.Transaction_Status__c}, &apos;submitted_for_settlement&apos; ),
NOT(ISBLANK({!myVariable_current.TC_Val__c} )),
NOT(ISPICKVAL({!myVariable_current.Event__c} , &apos;E-shop&apos; )),
NOT(ISBLANK({!myVariable_current.Campaign__c} )),
ISPICKVAL({!myVariable_current.Campaign__r.Type} , &apos;Promotions&apos; ),
{!myVariable_current.Department__c} = &apos;CCI&apos;,
NOT(ISBLANK({!myVariable_current.Account__r.PersonEmail} )),
ISBLANK({!myVariable_current.Customer_Email__c} ),
{!myVariable_current.RecordType.DeveloperName} = &apos;C_C_Payment_RT&apos;,
NOT( {!$Setup.Bypass_Automation_Settings__c.Bypass_Processes__c}  )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT(ISBLANK([Invoice__c].Transaction_ID__c )),
ISPICKVAL([Invoice__c].Transaction_Status__c, &apos;submitted_for_settlement&apos; ),
NOT(ISBLANK([Invoice__c].TC_Val__c )),
NOT(ISPICKVAL([Invoice__c].Event__c , &apos;E-shop&apos; )),
NOT(ISBLANK([Invoice__c].Campaign__c )),
ISPICKVAL([Invoice__c].Campaign__r.Type , &apos;Promotions&apos; ),
[Invoice__c].Department__c = &apos;CCI&apos;,
NOT(ISBLANK([Invoice__c].Account__r.PersonEmail )),
ISBLANK([Invoice__c].Customer_Email__c ),
[Invoice__c].RecordType.DeveloperName = &apos;C_C_Payment_RT&apos;,
NOT( $Setup.Bypass_Automation_Settings__c.Bypass_Processes__c  )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISBLANK({!myVariable_old.Transaction_ID__c} )),
ISPICKVAL({!myVariable_old.Transaction_Status__c}, &apos;submitted_for_settlement&apos; ),
NOT(ISBLANK({!myVariable_old.TC_Val__c} )),
NOT(ISPICKVAL({!myVariable_old.Event__c} , &apos;E-shop&apos; )),
NOT(ISBLANK({!myVariable_old.Campaign__c} )),
ISPICKVAL({!myVariable_old.Campaign__r.Type} , &apos;Promotions&apos; ),
{!myVariable_old.Department__c} = &apos;CCI&apos;,
NOT(ISBLANK({!myVariable_old.Account__r.PersonEmail} )),
ISBLANK({!myVariable_old.Customer_Email__c} ),
{!myVariable_old.RecordType.DeveloperName} = &apos;C_C_Payment_RT&apos;,
NOT( {!$Setup.Bypass_Automation_Settings__c.Bypass_Processes__c}  )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT(ISBLANK([Invoice__c].Transaction_ID__c )),
ISPICKVAL([Invoice__c].Transaction_Status__c, &apos;submitted_for_settlement&apos; ),
NOT(ISBLANK([Invoice__c].Campaign__c )),
NOT(ISPICKVAL([Invoice__c].Campaign__r.Type , &apos;Paid Event&apos; )),
NOT(ISPICKVAL([Invoice__c].Event__c , &apos;E-shop&apos; )),
NOT(ISBLANK([Invoice__c].TC_Val__c)),
[Invoice__c].Department__c != &apos;CCI&apos;,
NOT(ISBLANK([Invoice__c].Customer_Email__c )),
[Invoice__c].RecordType.DeveloperName = &apos;C_C_Payment_RT&apos;,
NOT( $Setup.Bypass_Automation_Settings__c.Bypass_Processes__c  )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISBLANK({!myVariable_current.Transaction_ID__c} )),
ISPICKVAL({!myVariable_current.Transaction_Status__c}, &apos;submitted_for_settlement&apos; ),
NOT(ISBLANK({!myVariable_current.Campaign__c} )),
NOT(ISPICKVAL({!myVariable_current.Campaign__r.Type} , &apos;Paid Event&apos; )),
NOT(ISPICKVAL({!myVariable_current.Event__c} , &apos;E-shop&apos; )),
NOT(ISBLANK({!myVariable_current.TC_Val__c})),
{!myVariable_current.Department__c} != &apos;CCI&apos;,
NOT(ISBLANK({!myVariable_current.Customer_Email__c} )),
{!myVariable_current.RecordType.DeveloperName} = &apos;C_C_Payment_RT&apos;,
NOT( {!$Setup.Bypass_Automation_Settings__c.Bypass_Processes__c}  )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT(ISBLANK([Invoice__c].Transaction_ID__c )),
ISPICKVAL([Invoice__c].Transaction_Status__c, &apos;submitted_for_settlement&apos; ),
NOT(ISBLANK([Invoice__c].Campaign__c )),
NOT(ISPICKVAL([Invoice__c].Campaign__r.Type , &apos;Paid Event&apos; )),
NOT(ISPICKVAL([Invoice__c].Event__c , &apos;E-shop&apos; )),
NOT(ISBLANK([Invoice__c].TC_Val__c)),
[Invoice__c].Department__c != &apos;CCI&apos;,
NOT(ISBLANK([Invoice__c].Customer_Email__c )),
[Invoice__c].RecordType.DeveloperName = &apos;C_C_Payment_RT&apos;,
NOT( $Setup.Bypass_Automation_Settings__c.Bypass_Processes__c  )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISBLANK({!myVariable_old.Transaction_ID__c} )),
ISPICKVAL({!myVariable_old.Transaction_Status__c}, &apos;submitted_for_settlement&apos; ),
NOT(ISBLANK({!myVariable_old.Campaign__c} )),
NOT(ISPICKVAL({!myVariable_old.Campaign__r.Type} , &apos;Paid Event&apos; )),
NOT(ISPICKVAL({!myVariable_old.Event__c} , &apos;E-shop&apos; )),
NOT(ISBLANK({!myVariable_old.TC_Val__c})),
{!myVariable_old.Department__c} != &apos;CCI&apos;,
NOT(ISBLANK({!myVariable_old.Customer_Email__c} )),
{!myVariable_old.RecordType.DeveloperName} = &apos;C_C_Payment_RT&apos;,
NOT( {!$Setup.Bypass_Automation_Settings__c.Bypass_Processes__c}  )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT(ISBLANK([Invoice__c].Transaction_ID__c )),
ISPICKVAL([Invoice__c].Transaction_Status__c, &apos;submitted_for_settlement&apos; ),
NOT(ISBLANK([Invoice__c].Campaign__c )),
ISPICKVAL([Invoice__c].Campaign__r.Type , &apos;Promotions&apos; ),
NOT(ISPICKVAL([Invoice__c].Event__c , &apos;E-shop&apos; )),
NOT(ISBLANK([Invoice__c].TC_Val__c)),
[Invoice__c].Department__c = &apos;CCI&apos;,
NOT(ISBLANK([Invoice__c].Customer_Email__c )),
[Invoice__c].RecordType.DeveloperName = &apos;C_C_Payment_RT&apos;,
NOT( $Setup.Bypass_Automation_Settings__c.Bypass_Processes__c  )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISBLANK({!myVariable_current.Transaction_ID__c} )),
ISPICKVAL({!myVariable_current.Transaction_Status__c}, &apos;submitted_for_settlement&apos; ),
NOT(ISBLANK({!myVariable_current.Campaign__c} )),
ISPICKVAL({!myVariable_current.Campaign__r.Type} , &apos;Promotions&apos; ),
NOT(ISPICKVAL({!myVariable_current.Event__c} , &apos;E-shop&apos; )),
NOT(ISBLANK({!myVariable_current.TC_Val__c})),
{!myVariable_current.Department__c} = &apos;CCI&apos;,
NOT(ISBLANK({!myVariable_current.Customer_Email__c} )),
{!myVariable_current.RecordType.DeveloperName} = &apos;C_C_Payment_RT&apos;,
NOT( {!$Setup.Bypass_Automation_Settings__c.Bypass_Processes__c}  )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT(ISBLANK([Invoice__c].Transaction_ID__c )),
ISPICKVAL([Invoice__c].Transaction_Status__c, &apos;submitted_for_settlement&apos; ),
NOT(ISBLANK([Invoice__c].Campaign__c )),
ISPICKVAL([Invoice__c].Campaign__r.Type , &apos;Promotions&apos; ),
NOT(ISPICKVAL([Invoice__c].Event__c , &apos;E-shop&apos; )),
NOT(ISBLANK([Invoice__c].TC_Val__c)),
[Invoice__c].Department__c = &apos;CCI&apos;,
NOT(ISBLANK([Invoice__c].Customer_Email__c )),
[Invoice__c].RecordType.DeveloperName = &apos;C_C_Payment_RT&apos;,
NOT( $Setup.Bypass_Automation_Settings__c.Bypass_Processes__c  )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISBLANK({!myVariable_old.Transaction_ID__c} )),
ISPICKVAL({!myVariable_old.Transaction_Status__c}, &apos;submitted_for_settlement&apos; ),
NOT(ISBLANK({!myVariable_old.Campaign__c} )),
ISPICKVAL({!myVariable_old.Campaign__r.Type} , &apos;Promotions&apos; ),
NOT(ISPICKVAL({!myVariable_old.Event__c} , &apos;E-shop&apos; )),
NOT(ISBLANK({!myVariable_old.TC_Val__c})),
{!myVariable_old.Department__c} = &apos;CCI&apos;,
NOT(ISBLANK({!myVariable_old.Customer_Email__c} )),
{!myVariable_old.RecordType.DeveloperName} = &apos;C_C_Payment_RT&apos;,
NOT( {!$Setup.Bypass_Automation_Settings__c.Bypass_Processes__c}  )
)</expression>
    </formulas>
    <interviewLabel>Invoice_Email_Process-21_InterviewLabel</interviewLabel>
    <label>Invoice_Email_Process_v21</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Invoice__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
</Flow>
