cncProd/force-app/main/default/flows/JBSystemFlow_Sales_Agreement_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj40e59edc2b1a2ab3011bc2609295831b_FireJBTrigger</name>
        <label>SalesforceObj40e59edc2b1a2ab3011bc2609295831b_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;CreatedById&quot;,
  &quot;relationshipName&quot;: &quot;CreatedBy&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;User&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Sales_Agreement__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj40e59edc2b1a2ab3011bc2609295831b</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;CreatedBy&quot;,&quot;dePrefix&quot;:&quot;Sales_Agreement__c:CreatedBy:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Sales_Agreement__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;MobileSA__c&quot;,&quot;emailaddress__c&quot;,&quot;Survey_SMS_Link__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj40e59edc2b1a2ab3011bc2609295831b</name>
        <label>JB_Decision_Null_Check_SalesforceObj40e59edc2b1a2ab3011bc2609295831b</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj40e59edc2b1a2ab3011bc2609295831b_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.CreatedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj40e59edc2b1a2ab3011bc2609295831b_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj40e59edc2b1a2ab3011bc2609295831b_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj40e59edc2b1a2ab3011bc2609295831b_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj40e59edc2b1a2ab3011bc2609295831b_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj40e59edc2b1a2ab3011bc2609295831b_Decision</name>
        <label>JB_SalesforceObj40e59edc2b1a2ab3011bc2609295831b_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj40e59edc2b1a2ab3011bc2609295831b</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.CreatedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Send_Survey_SMS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj40e59edc2b1a2ab3011bc2609295831b_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj40e59edc2b1a2ab3011bc2609295831b</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj40e59edc2b1a2ab3011bc2609295831b_State_change_Decision</name>
        <label>JB_SalesforceObj40e59edc2b1a2ab3011bc2609295831b_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj40e59edc2b1a2ab3011bc2609295831b</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.CreatedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Send_Survey_SMS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj40e59edc2b1a2ab3011bc2609295831b_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj40e59edc2b1a2ab3011bc2609295831b</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Sales_Agreement_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj40e59edc2b1a2ab3011bc2609295831b</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Agreement__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Agreement__c</objectType>
    </variables>
</Flow>
