cncProd/force-app/main/default/flows/JBSystemFlow_Post_Service_Header_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObjd729cbd9a22da5abd14922fe9121bf9a_FireJBTrigger</name>
        <label>SalesforceObjd729cbd9a22da5abd14922fe9121bf9a_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Account__c&quot;,
  &quot;relationshipName&quot;: &quot;Account__r&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Account&quot;,
  &quot;fieldName&quot;: &quot;PersonContactId&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Post_Service_Header__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjd729cbd9a22da5abd14922fe9121bf9a</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account__r&quot;,&quot;dePrefix&quot;:&quot;Post_Service_Header__c:Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;PersonContactId&quot;,&quot;PersonMobilePhone&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Post_Service_Header__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;GFB_Post_Service_URL__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjdef25f4bccc5987fe4c4c658fdeca250_FireJBTrigger</name>
        <label>SalesforceObjdef25f4bccc5987fe4c4c658fdeca250_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd729cbd9a22da5abd14922fe9121bf9a</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd729cbd9a22da5abd14922fe9121bf9a</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Account__c&quot;,&quot;relationshipName&quot;:&quot;Account__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Post_Service_Header__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjdef25f4bccc5987fe4c4c658fdeca250</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account__r&quot;,&quot;dePrefix&quot;:&quot;Post_Service_Header__c:Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;PersonContactId&quot;,&quot;PersonMobilePhone&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Post_Service_Header__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;GFB_Post_Service_URL__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjd729cbd9a22da5abd14922fe9121bf9a</name>
        <label>JB_Decision_Null_Check_SalesforceObjd729cbd9a22da5abd14922fe9121bf9a</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjd729cbd9a22da5abd14922fe9121bf9a_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObjd729cbd9a22da5abd14922fe9121bf9a_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjd729cbd9a22da5abd14922fe9121bf9a_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjd729cbd9a22da5abd14922fe9121bf9a_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjd729cbd9a22da5abd14922fe9121bf9a_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjdef25f4bccc5987fe4c4c658fdeca250</name>
        <label>JB_Decision_Null_Check_SalesforceObjdef25f4bccc5987fe4c4c658fdeca250</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd729cbd9a22da5abd14922fe9121bf9a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjdef25f4bccc5987fe4c4c658fdeca250_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjd729cbd9a22da5abd14922fe9121bf9a</targetReference>
            </connector>
            <label>JB_SalesforceObjdef25f4bccc5987fe4c4c658fdeca250_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjdef25f4bccc5987fe4c4c658fdeca250_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjdef25f4bccc5987fe4c4c658fdeca250_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjdef25f4bccc5987fe4c4c658fdeca250_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjd729cbd9a22da5abd14922fe9121bf9a_Decision</name>
        <label>JB_SalesforceObjd729cbd9a22da5abd14922fe9121bf9a_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjd729cbd9a22da5abd14922fe9121bf9a</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Send_Second_SMS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjd729cbd9a22da5abd14922fe9121bf9a_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjd729cbd9a22da5abd14922fe9121bf9a</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjd729cbd9a22da5abd14922fe9121bf9a_State_change_Decision</name>
        <label>JB_SalesforceObjd729cbd9a22da5abd14922fe9121bf9a_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjd729cbd9a22da5abd14922fe9121bf9a</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Send_Second_SMS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjd729cbd9a22da5abd14922fe9121bf9a_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjd729cbd9a22da5abd14922fe9121bf9a</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjdef25f4bccc5987fe4c4c658fdeca250_Decision</name>
        <label>JB_SalesforceObjdef25f4bccc5987fe4c4c658fdeca250_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd729cbd9a22da5abd14922fe9121bf9a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjdef25f4bccc5987fe4c4c658fdeca250</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Send_First_SMS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjdef25f4bccc5987fe4c4c658fdeca250_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjdef25f4bccc5987fe4c4c658fdeca250</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjdef25f4bccc5987fe4c4c658fdeca250_State_change_Decision</name>
        <label>JB_SalesforceObjdef25f4bccc5987fe4c4c658fdeca250_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd729cbd9a22da5abd14922fe9121bf9a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjdef25f4bccc5987fe4c4c658fdeca250</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Send_First_SMS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjdef25f4bccc5987fe4c4c658fdeca250_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjdef25f4bccc5987fe4c4c658fdeca250</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Post_Service_Header_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjdef25f4bccc5987fe4c4c658fdeca250</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Post_Service_Header__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Post_Service_Header__c</objectType>
    </variables>
</Flow>
