cncProd/force-app/main/default/flows/JBSystemFlow_Service_Appointment_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj24970048303fdc4ce268d3e01a60fcf4_FireJBTrigger</name>
        <label>SalesforceObj24970048303fdc4ce268d3e01a60fcf4_FireJBTrigger</label>
        <locationX>402</locationX>
        <locationY>330</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjafbccfb146d67abdc3179a4cc683d0cf</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjafbccfb146d67abdc3179a4cc683d0cf</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;OwnerId&quot;,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;isPolymorphic&quot;:true,&quot;referenceObjectName&quot;:&quot;User&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Service_Appointment__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj24970048303fdc4ce268d3e01a60fcf4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;Name_to_be_Address__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:Owner:User:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;RecordType&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;RecordType&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:RecordType:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;DeveloperName&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Registered_Vehicle__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Registered_Vehicle__r&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:Registered_Vehicle__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Brand__c&quot;,&quot;Branch__c&quot;,&quot;Registration_Number__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Action__c&quot;,&quot;Mileage__c&quot;,&quot;Return_To__c&quot;,&quot;Booking_ID__c&quot;,&quot;Service_Code__c&quot;,&quot;Pick_up_Time__c&quot;,&quot;Pick_up_From__c&quot;,&quot;PKD_Indicator__c&quot;,&quot;Customer_Remarks__c&quot;,&quot;Car_Registration_No__c&quot;,&quot;Service_Centre_Location__c&quot;,&quot;Service_Appointment_Date_Time__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj38307d28ab63bd036593e854e11a3a10_FireJBTrigger</name>
        <label>SalesforceObj38307d28ab63bd036593e854e11a3a10_FireJBTrigger</label>
        <locationX>402</locationX>
        <locationY>330</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9e90c874e9fde00ab7ee103f733d3790</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9e90c874e9fde00ab7ee103f733d3790</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;OwnerId&quot;,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;isPolymorphic&quot;:true,&quot;referenceObjectName&quot;:&quot;User&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Service_Appointment__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj38307d28ab63bd036593e854e11a3a10</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:Owner:User:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Registered_Vehicle__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Registered_Vehicle__r&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:Registered_Vehicle__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Brand__c&quot;,&quot;Branch__c&quot;,&quot;Registration_Number__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Brand__c&quot;,&quot;Action__c&quot;,&quot;Mileage__c&quot;,&quot;Return_To__c&quot;,&quot;Booking_ID__c&quot;,&quot;Service_Code__c&quot;,&quot;Pick_up_Time__c&quot;,&quot;Pick_up_From__c&quot;,&quot;Is_Non_Owner__c&quot;,&quot;PKD_Indicator__c&quot;,&quot;Non_Owner_Name__c&quot;,&quot;Non_Owner_Email__c&quot;,&quot;Customer_Remarks__c&quot;,&quot;Registered_Vehicle__c&quot;,&quot;Car_Registration_No__c&quot;,&quot;Service_Centre_Location__c&quot;,&quot;Service_Appointment_Date_Time__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj774be7d0652df1eea6756a79787869b4_FireJBTrigger</name>
        <label>SalesforceObj774be7d0652df1eea6756a79787869b4_FireJBTrigger</label>
        <locationX>402</locationX>
        <locationY>330</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjeae762a0207d95f6e187ee02ffa37883</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjeae762a0207d95f6e187ee02ffa37883</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Service_Appointment__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj774be7d0652df1eea6756a79787869b4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Name_to_be_Address__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;RecordType&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;RecordType&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:RecordType:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;DeveloperName&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Registered_Vehicle__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Registered_Vehicle__r&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:Registered_Vehicle__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Brand__c&quot;,&quot;Registration_Number__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Action__c&quot;,&quot;Mileage__c&quot;,&quot;QRCodeURL__c&quot;,&quot;Return_To__c&quot;,&quot;Booking_ID__c&quot;,&quot;Pick_up_From__c&quot;,&quot;Pick_up_Time__c&quot;,&quot;Service_Code__c&quot;,&quot;PKD_Indicator__c&quot;,&quot;Customer_Remarks__c&quot;,&quot;Car_Registration_No__c&quot;,&quot;System_don_t_fire_MC__c&quot;,&quot;Alternate_Email_Address__c&quot;,&quot;Service_Centre_Location__c&quot;,&quot;Service_Appointment_Date_Time__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj84a4aa8b00f0364de38a286ba237f12f_FireJBTrigger</name>
        <label>SalesforceObj84a4aa8b00f0364de38a286ba237f12f_FireJBTrigger</label>
        <locationX>402</locationX>
        <locationY>330</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;OwnerId&quot;,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;isPolymorphic&quot;:true,&quot;referenceObjectName&quot;:&quot;User&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Service_Appointment__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj84a4aa8b00f0364de38a286ba237f12f</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:Owner:User:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Registered_Vehicle__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Registered_Vehicle__r&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:Registered_Vehicle__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Brand__c&quot;,&quot;Branch__c&quot;,&quot;Registration_Number__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Brand__c&quot;,&quot;Action__c&quot;,&quot;Mileage__c&quot;,&quot;Return_To__c&quot;,&quot;Booking_ID__c&quot;,&quot;Service_Code__c&quot;,&quot;Pick_up_Time__c&quot;,&quot;Pick_up_From__c&quot;,&quot;Is_Non_Owner__c&quot;,&quot;PKD_Indicator__c&quot;,&quot;Non_Owner_Name__c&quot;,&quot;Non_Owner_Email__c&quot;,&quot;Customer_Remarks__c&quot;,&quot;Registered_Vehicle__c&quot;,&quot;Car_Registration_No__c&quot;,&quot;Service_Centre_Location__c&quot;,&quot;Service_Appointment_Date_Time__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj86787994a66c7627c38a13de7217f7d2_FireJBTrigger</name>
        <label>SalesforceObj86787994a66c7627c38a13de7217f7d2_FireJBTrigger</label>
        <locationX>402</locationX>
        <locationY>330</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj84a4aa8b00f0364de38a286ba237f12f</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj84a4aa8b00f0364de38a286ba237f12f</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;OwnerId&quot;,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;isPolymorphic&quot;:true,&quot;referenceObjectName&quot;:&quot;User&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Service_Appointment__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj86787994a66c7627c38a13de7217f7d2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:Owner:User:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Registered_Vehicle__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Registered_Vehicle__r&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:Registered_Vehicle__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Brand__c&quot;,&quot;Branch__c&quot;,&quot;Registration_Number__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Brand__c&quot;,&quot;Action__c&quot;,&quot;Mileage__c&quot;,&quot;Booking_ID__c&quot;,&quot;Is_Non_Owner__c&quot;,&quot;Service_Code__c&quot;,&quot;Non_Owner_Name__c&quot;,&quot;Non_Owner_Email__c&quot;,&quot;Customer_Remarks__c&quot;,&quot;Registered_Vehicle__c&quot;,&quot;Car_Registration_No__c&quot;,&quot;Service_Centre_Location__c&quot;,&quot;Service_Appointment_Date_Time__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj9e90c874e9fde00ab7ee103f733d3790_FireJBTrigger</name>
        <label>SalesforceObj9e90c874e9fde00ab7ee103f733d3790_FireJBTrigger</label>
        <locationX>402</locationX>
        <locationY>330</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj24970048303fdc4ce268d3e01a60fcf4</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj24970048303fdc4ce268d3e01a60fcf4</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;OwnerId&quot;,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;isPolymorphic&quot;:true,&quot;referenceObjectName&quot;:&quot;User&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Service_Appointment__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj9e90c874e9fde00ab7ee103f733d3790</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:Owner:User:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Registered_Vehicle__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Registered_Vehicle__r&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:Registered_Vehicle__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Brand__c&quot;,&quot;Branch__c&quot;,&quot;Registration_Number__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Brand__c&quot;,&quot;Action__c&quot;,&quot;Mileage__c&quot;,&quot;Return_To__c&quot;,&quot;Booking_ID__c&quot;,&quot;Pick_up_Time__c&quot;,&quot;Pick_up_From__c&quot;,&quot;Service_Code__c&quot;,&quot;Is_Non_Owner__c&quot;,&quot;PKD_Indicator__c&quot;,&quot;Non_Owner_Name__c&quot;,&quot;Non_Owner_Email__c&quot;,&quot;Customer_Remarks__c&quot;,&quot;Registered_Vehicle__c&quot;,&quot;Car_Registration_No__c&quot;,&quot;Service_Centre_Location__c&quot;,&quot;Service_Appointment_Date_Time__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjafbccfb146d67abdc3179a4cc683d0cf_FireJBTrigger</name>
        <label>SalesforceObjafbccfb146d67abdc3179a4cc683d0cf_FireJBTrigger</label>
        <locationX>402</locationX>
        <locationY>330</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj774be7d0652df1eea6756a79787869b4</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj774be7d0652df1eea6756a79787869b4</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Service_Appointment__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjafbccfb146d67abdc3179a4cc683d0cf</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Name_to_be_Address__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;RecordType&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;RecordType&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:RecordType:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;DeveloperName&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Registered_Vehicle__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Registered_Vehicle__r&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:Registered_Vehicle__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Brand__c&quot;,&quot;Registration_Number__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Action__c&quot;,&quot;Mileage__c&quot;,&quot;QRCodeURL__c&quot;,&quot;Return_To__c&quot;,&quot;Booking_ID__c&quot;,&quot;Service_Code__c&quot;,&quot;Pick_up_Time__c&quot;,&quot;Pick_up_From__c&quot;,&quot;PKD_Indicator__c&quot;,&quot;Customer_Remarks__c&quot;,&quot;Car_Registration_No__c&quot;,&quot;Alternate_Email_Address__c&quot;,&quot;Service_Centre_Location__c&quot;,&quot;Service_Appointment_Date_Time__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjeae762a0207d95f6e187ee02ffa37883_FireJBTrigger</name>
        <label>SalesforceObjeae762a0207d95f6e187ee02ffa37883_FireJBTrigger</label>
        <locationX>402</locationX>
        <locationY>330</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj86787994a66c7627c38a13de7217f7d2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj86787994a66c7627c38a13de7217f7d2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Service_Appointment__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjeae762a0207d95f6e187ee02ffa37883</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Name_to_be_Address__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;RecordType&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;RecordType&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:RecordType:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;DeveloperName&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Registered_Vehicle__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Registered_Vehicle__r&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:Registered_Vehicle__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Brand__c&quot;,&quot;Registration_Number__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Service_Appointment__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Action__c&quot;,&quot;Mileage__c&quot;,&quot;QRCodeURL__c&quot;,&quot;Return_To__c&quot;,&quot;Booking_ID__c&quot;,&quot;Service_Code__c&quot;,&quot;Pick_up_Time__c&quot;,&quot;Pick_up_From__c&quot;,&quot;PKD_Indicator__c&quot;,&quot;Customer_Remarks__c&quot;,&quot;Car_Registration_No__c&quot;,&quot;Alternate_Email_Address__c&quot;,&quot;Service_Centre_Location__c&quot;,&quot;Service_Appointment_Date_Time__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj24970048303fdc4ce268d3e01a60fcf4</name>
        <label>JB_Decision_Null_Check_SalesforceObj24970048303fdc4ce268d3e01a60fcf4</label>
        <locationX>50</locationX>
        <locationY>699</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjafbccfb146d67abdc3179a4cc683d0cf</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj24970048303fdc4ce268d3e01a60fcf4_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>Owner_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Owner_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjafbccfb146d67abdc3179a4cc683d0cf</targetReference>
            </connector>
            <label>JB_SalesforceObj24970048303fdc4ce268d3e01a60fcf4_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj24970048303fdc4ce268d3e01a60fcf4_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj24970048303fdc4ce268d3e01a60fcf4_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj24970048303fdc4ce268d3e01a60fcf4_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj38307d28ab63bd036593e854e11a3a10</name>
        <label>JB_Decision_Null_Check_SalesforceObj38307d28ab63bd036593e854e11a3a10</label>
        <locationX>260</locationX>
        <locationY>831</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9e90c874e9fde00ab7ee103f733d3790</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj38307d28ab63bd036593e854e11a3a10_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>Owner_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Owner_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj9e90c874e9fde00ab7ee103f733d3790</targetReference>
            </connector>
            <label>JB_SalesforceObj38307d28ab63bd036593e854e11a3a10_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj38307d28ab63bd036593e854e11a3a10_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj38307d28ab63bd036593e854e11a3a10_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj38307d28ab63bd036593e854e11a3a10_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj774be7d0652df1eea6756a79787869b4</name>
        <label>JB_Decision_Null_Check_SalesforceObj774be7d0652df1eea6756a79787869b4</label>
        <locationX>620</locationX>
        <locationY>699</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjeae762a0207d95f6e187ee02ffa37883</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj774be7d0652df1eea6756a79787869b4_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjeae762a0207d95f6e187ee02ffa37883</targetReference>
            </connector>
            <label>JB_SalesforceObj774be7d0652df1eea6756a79787869b4_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj774be7d0652df1eea6756a79787869b4_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj774be7d0652df1eea6756a79787869b4_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj774be7d0652df1eea6756a79787869b4_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj84a4aa8b00f0364de38a286ba237f12f</name>
        <label>JB_Decision_Null_Check_SalesforceObj84a4aa8b00f0364de38a286ba237f12f</label>
        <locationX>845</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj84a4aa8b00f0364de38a286ba237f12f_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>Owner_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Owner_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj84a4aa8b00f0364de38a286ba237f12f_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj84a4aa8b00f0364de38a286ba237f12f_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj84a4aa8b00f0364de38a286ba237f12f_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj84a4aa8b00f0364de38a286ba237f12f_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj86787994a66c7627c38a13de7217f7d2</name>
        <label>JB_Decision_Null_Check_SalesforceObj86787994a66c7627c38a13de7217f7d2</label>
        <locationX>870</locationX>
        <locationY>340</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj84a4aa8b00f0364de38a286ba237f12f</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj86787994a66c7627c38a13de7217f7d2_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>Owner_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Owner_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj84a4aa8b00f0364de38a286ba237f12f</targetReference>
            </connector>
            <label>JB_SalesforceObj86787994a66c7627c38a13de7217f7d2_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj86787994a66c7627c38a13de7217f7d2_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj86787994a66c7627c38a13de7217f7d2_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj86787994a66c7627c38a13de7217f7d2_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj9e90c874e9fde00ab7ee103f733d3790</name>
        <label>JB_Decision_Null_Check_SalesforceObj9e90c874e9fde00ab7ee103f733d3790</label>
        <locationX>752</locationX>
        <locationY>168</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj24970048303fdc4ce268d3e01a60fcf4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj9e90c874e9fde00ab7ee103f733d3790_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>Owner_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Owner_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj24970048303fdc4ce268d3e01a60fcf4</targetReference>
            </connector>
            <label>JB_SalesforceObj9e90c874e9fde00ab7ee103f733d3790_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj9e90c874e9fde00ab7ee103f733d3790_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj9e90c874e9fde00ab7ee103f733d3790_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj9e90c874e9fde00ab7ee103f733d3790_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjafbccfb146d67abdc3179a4cc683d0cf</name>
        <label>JB_Decision_Null_Check_SalesforceObjafbccfb146d67abdc3179a4cc683d0cf</label>
        <locationX>608</locationX>
        <locationY>83</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj774be7d0652df1eea6756a79787869b4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjafbccfb146d67abdc3179a4cc683d0cf_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj774be7d0652df1eea6756a79787869b4</targetReference>
            </connector>
            <label>JB_SalesforceObjafbccfb146d67abdc3179a4cc683d0cf_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjafbccfb146d67abdc3179a4cc683d0cf_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjafbccfb146d67abdc3179a4cc683d0cf_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjafbccfb146d67abdc3179a4cc683d0cf_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjeae762a0207d95f6e187ee02ffa37883</name>
        <label>JB_Decision_Null_Check_SalesforceObjeae762a0207d95f6e187ee02ffa37883</label>
        <locationX>378</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj86787994a66c7627c38a13de7217f7d2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjeae762a0207d95f6e187ee02ffa37883_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj86787994a66c7627c38a13de7217f7d2</targetReference>
            </connector>
            <label>JB_SalesforceObjeae762a0207d95f6e187ee02ffa37883_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjeae762a0207d95f6e187ee02ffa37883_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjeae762a0207d95f6e187ee02ffa37883_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjeae762a0207d95f6e187ee02ffa37883_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj24970048303fdc4ce268d3e01a60fcf4_Decision</name>
        <label>JB_SalesforceObj24970048303fdc4ce268d3e01a60fcf4_Decision</label>
        <locationX>172</locationX>
        <locationY>80</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjafbccfb146d67abdc3179a4cc683d0cf</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj24970048303fdc4ce268d3e01a60fcf4</name>
            <conditionLogic>( (1 AND  ( ( (2 AND 3)  AND 4)  AND  (5 OR 6) ) )  And  (7 AND 8) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Do_not_send_notification_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Non_Owner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0122x000000Gr0gAAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj24970048303fdc4ce268d3e01a60fcf4_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj24970048303fdc4ce268d3e01a60fcf4</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj24970048303fdc4ce268d3e01a60fcf4_State_change_Decision</name>
        <label>JB_SalesforceObj24970048303fdc4ce268d3e01a60fcf4_State_change_Decision</label>
        <locationX>52</locationX>
        <locationY>243</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjafbccfb146d67abdc3179a4cc683d0cf</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj24970048303fdc4ce268d3e01a60fcf4</name>
            <conditionLogic>NOT  (1 AND  ( ( (2 AND 3)  AND 4)  AND  (5 OR 6) ) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Do_not_send_notification_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Non_Owner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj24970048303fdc4ce268d3e01a60fcf4_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj24970048303fdc4ce268d3e01a60fcf4</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj38307d28ab63bd036593e854e11a3a10_Decision</name>
        <label>JB_SalesforceObj38307d28ab63bd036593e854e11a3a10_Decision</label>
        <locationX>70</locationX>
        <locationY>488</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9e90c874e9fde00ab7ee103f733d3790</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj38307d28ab63bd036593e854e11a3a10</name>
            <conditionLogic>( (1 AND 2)  And  (3 AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Do_not_send_notification_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0122x000000Gr0gAAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj38307d28ab63bd036593e854e11a3a10_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj38307d28ab63bd036593e854e11a3a10</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj774be7d0652df1eea6756a79787869b4_Decision</name>
        <label>JB_SalesforceObj774be7d0652df1eea6756a79787869b4_Decision</label>
        <locationX>255</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjeae762a0207d95f6e187ee02ffa37883</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj774be7d0652df1eea6756a79787869b4</name>
            <conditionLogic>( (1 AND  (2 AND  (3 OR 4) ) )  And  (5 AND 6) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Do_not_send_notification_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0122x000000Gr0fAAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj774be7d0652df1eea6756a79787869b4_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj774be7d0652df1eea6756a79787869b4</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj774be7d0652df1eea6756a79787869b4_State_change_Decision</name>
        <label>JB_SalesforceObj774be7d0652df1eea6756a79787869b4_State_change_Decision</label>
        <locationX>510</locationX>
        <locationY>139</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjeae762a0207d95f6e187ee02ffa37883</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj774be7d0652df1eea6756a79787869b4</name>
            <conditionLogic>NOT  (1 AND  (2 AND  (3 OR 4) ) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Do_not_send_notification_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj774be7d0652df1eea6756a79787869b4_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj774be7d0652df1eea6756a79787869b4</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj84a4aa8b00f0364de38a286ba237f12f_Decision</name>
        <label>JB_SalesforceObj84a4aa8b00f0364de38a286ba237f12f_Decision</label>
        <locationX>373</locationX>
        <locationY>133</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj84a4aa8b00f0364de38a286ba237f12f</name>
            <conditionLogic>( ( (1 AND 2)  AND 3)  And  (4 AND 5) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Do_not_send_notification_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0122x000000Gr0gAAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj84a4aa8b00f0364de38a286ba237f12f_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj84a4aa8b00f0364de38a286ba237f12f</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj86787994a66c7627c38a13de7217f7d2_Decision</name>
        <label>JB_SalesforceObj86787994a66c7627c38a13de7217f7d2_Decision</label>
        <locationX>195</locationX>
        <locationY>223</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj84a4aa8b00f0364de38a286ba237f12f</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj86787994a66c7627c38a13de7217f7d2</name>
            <conditionLogic>( (1 AND  (2 AND  (3 OR 4) ) )  And  (5 AND 6) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Do_not_send_notification_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0122x000000Gr0gAAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj86787994a66c7627c38a13de7217f7d2_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj86787994a66c7627c38a13de7217f7d2</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj86787994a66c7627c38a13de7217f7d2_State_change_Decision</name>
        <label>JB_SalesforceObj86787994a66c7627c38a13de7217f7d2_State_change_Decision</label>
        <locationX>176</locationX>
        <locationY>393</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj84a4aa8b00f0364de38a286ba237f12f</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj86787994a66c7627c38a13de7217f7d2</name>
            <conditionLogic>NOT  (1 AND  (2 AND  (3 OR 4) ) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Do_not_send_notification_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj86787994a66c7627c38a13de7217f7d2_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj86787994a66c7627c38a13de7217f7d2</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj9e90c874e9fde00ab7ee103f733d3790_Decision</name>
        <label>JB_SalesforceObj9e90c874e9fde00ab7ee103f733d3790_Decision</label>
        <locationX>292</locationX>
        <locationY>548</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj24970048303fdc4ce268d3e01a60fcf4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj9e90c874e9fde00ab7ee103f733d3790</name>
            <conditionLogic>( (1 AND  ( ( (2 AND 3)  AND 4)  AND  (5 OR 6) ) )  And  (7 AND 8) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Non_Owner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Contact_Non_Owner_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Do_not_send_notification_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0122x000000Gr0gAAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj9e90c874e9fde00ab7ee103f733d3790_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj9e90c874e9fde00ab7ee103f733d3790</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj9e90c874e9fde00ab7ee103f733d3790_State_change_Decision</name>
        <label>JB_SalesforceObj9e90c874e9fde00ab7ee103f733d3790_State_change_Decision</label>
        <locationX>518</locationX>
        <locationY>580</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj24970048303fdc4ce268d3e01a60fcf4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj9e90c874e9fde00ab7ee103f733d3790</name>
            <conditionLogic>NOT  (1 AND  ( ( (2 AND 3)  AND 4)  AND  (5 OR 6) ) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Non_Owner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Contact_Non_Owner_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Do_not_send_notification_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj9e90c874e9fde00ab7ee103f733d3790_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj9e90c874e9fde00ab7ee103f733d3790</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjafbccfb146d67abdc3179a4cc683d0cf_Decision</name>
        <label>JB_SalesforceObjafbccfb146d67abdc3179a4cc683d0cf_Decision</label>
        <locationX>726</locationX>
        <locationY>485</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj774be7d0652df1eea6756a79787869b4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjafbccfb146d67abdc3179a4cc683d0cf</name>
            <conditionLogic>( (1 AND  (2 AND  ( (3 OR 4)  OR 5) ) )  And  (6 AND 7) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Do_not_send_notification_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0122x000000Gr0fAAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjafbccfb146d67abdc3179a4cc683d0cf_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjafbccfb146d67abdc3179a4cc683d0cf</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjafbccfb146d67abdc3179a4cc683d0cf_State_change_Decision</name>
        <label>JB_SalesforceObjafbccfb146d67abdc3179a4cc683d0cf_State_change_Decision</label>
        <locationX>748</locationX>
        <locationY>318</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj774be7d0652df1eea6756a79787869b4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjafbccfb146d67abdc3179a4cc683d0cf</name>
            <conditionLogic>NOT  (1 AND  (2 AND  ( (3 OR 4)  OR 5) ) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Do_not_send_notification_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjafbccfb146d67abdc3179a4cc683d0cf_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjafbccfb146d67abdc3179a4cc683d0cf</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjeae762a0207d95f6e187ee02ffa37883_Decision</name>
        <label>JB_SalesforceObjeae762a0207d95f6e187ee02ffa37883_Decision</label>
        <locationX>616</locationX>
        <locationY>214</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj86787994a66c7627c38a13de7217f7d2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjeae762a0207d95f6e187ee02ffa37883</name>
            <conditionLogic>( (1 AND 2)  And  (3 AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Do_not_send_notification_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0122x000000Gr0fAAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjeae762a0207d95f6e187ee02ffa37883_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjeae762a0207d95f6e187ee02ffa37883</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Service_Appointment_c</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Owner_User_lookup</name>
        <label>Owner_User_lookup</label>
        <locationX>402</locationX>
        <locationY>424</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj38307d28ab63bd036593e854e11a3a10</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>new_object.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>Owner_User</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>380</locationY>
        <connector>
            <targetReference>Owner_User_lookup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Appointment__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Appointment__c</objectType>
    </variables>
    <variables>
        <name>Owner_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
