cncProd/force-app/main/default/flows/JBSystemFlow_Invoice_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObjde79b971309431cda9122f5e83a922d7_FireJBTrigger</name>
        <label>SalesforceObjde79b971309431cda9122f5e83a922d7_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Invoice__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjde79b971309431cda9122f5e83a922d7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Invoice__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;Full_Name__c&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Invoice__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Person_Account_Profiling__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Person_Account_Profiling__r&quot;,&quot;dePrefix&quot;:&quot;Invoice__c:Person_Account_Profiling__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email__c&quot;,&quot;First_Name__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Vehicle_Stock_Reservation__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Used_Car_Stock_Reservation__r&quot;,&quot;dePrefix&quot;:&quot;Invoice__c:Used_Car_Stock_Reservation__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Location__c&quot;,&quot;Deposit_Paid__c&quot;,&quot;Salesman_Name__c&quot;,&quot;Reservation_Id__c&quot;,&quot;Salesman_Mobile__c&quot;,&quot;Appointment_Date_Time__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Used_Car_Vehicle_Stock__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Used_Car_Vehicle_Stock__r&quot;,&quot;dePrefix&quot;:&quot;Invoice__c:Used_Car_Vehicle_Stock__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Make__c&quot;,&quot;Model__c&quot;,&quot;Mileage__c&quot;,&quot;Listing_Price__c&quot;,&quot;Registration_Date__c&quot;,&quot;Used_Car_Vehicle_Stock_Imagine_URL__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjde79b971309431cda9122f5e83a922d7</name>
        <label>JB_Decision_Null_Check_SalesforceObjde79b971309431cda9122f5e83a922d7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjde79b971309431cda9122f5e83a922d7_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObjde79b971309431cda9122f5e83a922d7_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjde79b971309431cda9122f5e83a922d7_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjde79b971309431cda9122f5e83a922d7_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjde79b971309431cda9122f5e83a922d7_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjde79b971309431cda9122f5e83a922d7_Decision</name>
        <label>JB_SalesforceObjde79b971309431cda9122f5e83a922d7_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjde79b971309431cda9122f5e83a922d7</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0122x000000I7WaAAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjde79b971309431cda9122f5e83a922d7_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjde79b971309431cda9122f5e83a922d7</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Invoice_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjde79b971309431cda9122f5e83a922d7</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
</Flow>
