cncProd/force-app/main/default/flows/JBSystemFlow_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj5758834b679892f920ff3d6fdcdac418_FireJBTrigger</name>
        <label>SalesforceObj5758834b679892f920ff3d6fdcdac418_FireJBTrigger</label>
        <locationX>58</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;ContactId&quot;,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj5758834b679892f920ff3d6fdcdac418</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Case:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;OwnerId&quot;,&quot;Location__c&quot;,&quot;SMS_Status__c&quot;,&quot;Customer_Name__c&quot;,&quot;Appointment_Date__c&quot;,&quot;Appointment_Time__c&quot;,&quot;Location_Full_Name__c&quot;,&quot;SMS_Sent_Date_Time__c&quot;,&quot;SCRS_PKD_Pickup_Location__c&quot;,&quot;SCRS_PKD_Return_Location__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;dePrefix&quot;:&quot;Case:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;MobilePhone&quot;,&quot;Branch_Code__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;et4ae5__HasOptedOutOfMobile__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Registered_Vehicle__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Registered_Vehicle__r&quot;,&quot;dePrefix&quot;:&quot;Case:Registered_Vehicle__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Bypass_Flow</name>
        <label>Bypass Flow?</label>
        <locationX>639</locationX>
        <locationY>225</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Run_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bypassFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj5758834b679892f920ff3d6fdcdac418</targetReference>
            </connector>
            <label>Run Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj5758834b679892f920ff3d6fdcdac418</name>
        <label>JB_Decision_Null_Check_SalesforceObj5758834b679892f920ff3d6fdcdac418</label>
        <locationX>377</locationX>
        <locationY>215</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj5758834b679892f920ff3d6fdcdac418_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj5758834b679892f920ff3d6fdcdac418_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj5758834b679892f920ff3d6fdcdac418_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj5758834b679892f920ff3d6fdcdac418_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj5758834b679892f920ff3d6fdcdac418_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj5758834b679892f920ff3d6fdcdac418_Decision</name>
        <label>JB_SalesforceObj5758834b679892f920ff3d6fdcdac418_Decision</label>
        <locationX>50</locationX>
        <locationY>165</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj5758834b679892f920ff3d6fdcdac418</name>
            <conditionLogic>( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120K000001M0MjQAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Case_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booking List</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00G2x000000dtKrEAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj5758834b679892f920ff3d6fdcdac418_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj5758834b679892f920ff3d6fdcdac418</label>
        </rules>
    </decisions>
    <formulas>
        <name>bypassFlow</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Bypass_Automation_Settings__c.Bypass_Flows__c}</expression>
    </formulas>
    <label>JBSystemFlow_Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>911</locationX>
        <locationY>205</locationY>
        <connector>
            <targetReference>Bypass_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
