cncProd/force-app/main/default/flows/JBSystemFlow_Registered_Vehicle_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj043a0637a13261bba1c03f2937805a48_FireJBTrigger</name>
        <label>SalesforceObj043a0637a13261bba1c03f2937805a48_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Registered_Vehicle__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj043a0637a13261bba1c03f2937805a48</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Registered_Vehicle__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Name_to_be_Address__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Registered_Vehicle__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Branch__c&quot;,&quot;Reg_plus_5days__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj51e3e0e807370081b8a6e1a49fb784f8_FireJBTrigger</name>
        <label>SalesforceObj51e3e0e807370081b8a6e1a49fb784f8_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj76850adf3a43f3c8df25f4f081a733ab</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj76850adf3a43f3c8df25f4f081a733ab</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Registered_Vehicle__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj51e3e0e807370081b8a6e1a49fb784f8</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Registered_Vehicle__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Name_to_be_Address__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Registered_Vehicle__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Branch__c&quot;,&quot;Reg_plus_5days__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74_FireJBTrigger</name>
        <label>SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Contact__c&quot;,
  &quot;relationshipName&quot;: &quot;Contact__r&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Registered_Vehicle__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Registered_Vehicle__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Name_to_be_Address__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Registered_Vehicle__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Branch__c&quot;,&quot;Reg_plus_5days__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj76850adf3a43f3c8df25f4f081a733ab_FireJBTrigger</name>
        <label>SalesforceObj76850adf3a43f3c8df25f4f081a733ab_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj043a0637a13261bba1c03f2937805a48</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj043a0637a13261bba1c03f2937805a48</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Registered_Vehicle__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj76850adf3a43f3c8df25f4f081a733ab</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100010303</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Registered_Vehicle__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Name_to_be_Address__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Registered_Vehicle__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Branch__c&quot;,&quot;Reg_plus_5days__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj043a0637a13261bba1c03f2937805a48</name>
        <label>JB_Decision_Null_Check_SalesforceObj043a0637a13261bba1c03f2937805a48</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj043a0637a13261bba1c03f2937805a48_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74</targetReference>
            </connector>
            <label>JB_SalesforceObj043a0637a13261bba1c03f2937805a48_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj043a0637a13261bba1c03f2937805a48_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj043a0637a13261bba1c03f2937805a48_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj043a0637a13261bba1c03f2937805a48_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj51e3e0e807370081b8a6e1a49fb784f8</name>
        <label>JB_Decision_Null_Check_SalesforceObj51e3e0e807370081b8a6e1a49fb784f8</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj76850adf3a43f3c8df25f4f081a733ab</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj51e3e0e807370081b8a6e1a49fb784f8_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj76850adf3a43f3c8df25f4f081a733ab</targetReference>
            </connector>
            <label>JB_SalesforceObj51e3e0e807370081b8a6e1a49fb784f8_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj51e3e0e807370081b8a6e1a49fb784f8_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj51e3e0e807370081b8a6e1a49fb784f8_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj51e3e0e807370081b8a6e1a49fb784f8_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74</name>
        <label>JB_Decision_Null_Check_SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj76850adf3a43f3c8df25f4f081a733ab</name>
        <label>JB_Decision_Null_Check_SalesforceObj76850adf3a43f3c8df25f4f081a733ab</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj043a0637a13261bba1c03f2937805a48</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj76850adf3a43f3c8df25f4f081a733ab_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj043a0637a13261bba1c03f2937805a48</targetReference>
            </connector>
            <label>JB_SalesforceObj76850adf3a43f3c8df25f4f081a733ab_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj76850adf3a43f3c8df25f4f081a733ab_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj76850adf3a43f3c8df25f4f081a733ab_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj76850adf3a43f3c8df25f4f081a733ab_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj043a0637a13261bba1c03f2937805a48_Decision</name>
        <label>JB_SalesforceObj043a0637a13261bba1c03f2937805a48_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj043a0637a13261bba1c03f2937805a48</name>
            <conditionLogic>( (1 AND 2)  AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Reg_plus_5days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj043a0637a13261bba1c03f2937805a48_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj043a0637a13261bba1c03f2937805a48</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj043a0637a13261bba1c03f2937805a48_State_change_Decision</name>
        <label>JB_SalesforceObj043a0637a13261bba1c03f2937805a48_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj043a0637a13261bba1c03f2937805a48</name>
            <conditionLogic>NOT  ( (1 AND 2)  AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Reg_plus_5days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj043a0637a13261bba1c03f2937805a48_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj043a0637a13261bba1c03f2937805a48</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj51e3e0e807370081b8a6e1a49fb784f8_Decision</name>
        <label>JB_SalesforceObj51e3e0e807370081b8a6e1a49fb784f8_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj76850adf3a43f3c8df25f4f081a733ab</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj51e3e0e807370081b8a6e1a49fb784f8</name>
            <conditionLogic>( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Reg_plus_5days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Do_not_send_Edm_Ref__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Variant_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj51e3e0e807370081b8a6e1a49fb784f8_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj51e3e0e807370081b8a6e1a49fb784f8</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj51e3e0e807370081b8a6e1a49fb784f8_State_change_Decision</name>
        <label>JB_SalesforceObj51e3e0e807370081b8a6e1a49fb784f8_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj76850adf3a43f3c8df25f4f081a733ab</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj51e3e0e807370081b8a6e1a49fb784f8</name>
            <conditionLogic>NOT  ( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Reg_plus_5days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Do_not_send_Edm_Ref__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Variant_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj51e3e0e807370081b8a6e1a49fb784f8_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj51e3e0e807370081b8a6e1a49fb784f8</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74_Decision</name>
        <label>JB_SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74</name>
            <conditionLogic>(1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Reg_plus_5days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74_State_change_Decision</name>
        <label>JB_SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74</name>
            <conditionLogic>NOT  (1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Reg_plus_5days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj6c0b6761e9eec0d80d8f3ef547c9fe74</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj76850adf3a43f3c8df25f4f081a733ab_Decision</name>
        <label>JB_SalesforceObj76850adf3a43f3c8df25f4f081a733ab_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj043a0637a13261bba1c03f2937805a48</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj76850adf3a43f3c8df25f4f081a733ab</name>
            <conditionLogic>( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Reg_plus_5days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Do_not_send_Edm_Ref__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Variant_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>DS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj76850adf3a43f3c8df25f4f081a733ab_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj76850adf3a43f3c8df25f4f081a733ab</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj76850adf3a43f3c8df25f4f081a733ab_State_change_Decision</name>
        <label>JB_SalesforceObj76850adf3a43f3c8df25f4f081a733ab_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj043a0637a13261bba1c03f2937805a48</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj76850adf3a43f3c8df25f4f081a733ab</name>
            <conditionLogic>NOT  ( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Reg_plus_5days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Do_not_send_Edm_Ref__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Variant_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>DS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj76850adf3a43f3c8df25f4f081a733ab_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj76850adf3a43f3c8df25f4f081a733ab</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Registered_Vehicle_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj51e3e0e807370081b8a6e1a49fb784f8</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Registered_Vehicle__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Registered_Vehicle__c</objectType>
    </variables>
</Flow>
