cncProd/force-app/main/default/flows/Maybank_Submit_Loan_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_Maybank_API_Callout</name>
        <label>Invoke Maybank API Callout</label>
        <locationX>949</locationX>
        <locationY>396</locationY>
        <actionName>Maybank_SubmitLoanApplication</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>API_Call_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>amendmentIndicator</name>
            <value>
                <elementReference>amdIndicatorFlow</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesAgreementNo</name>
            <value>
                <elementReference>SalesAgreementRecord.SOH_SONO__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesAgrementId</name>
            <value>
                <elementReference>SalesAgreementRecord.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>API_Gateway_ReturnedCode</assignToReference>
            <name>api_returned_code</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>API_Gateway_ErrMsg</assignToReference>
            <name>error_message</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>AmdIndicator = Y.
Updated after the callout is sucessful</description>
        <name>AmdIndicator_Y</name>
        <label>AmdIndicator = Y</label>
        <locationX>1109</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>amdIndicatorFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoke_Maybank_API_Callout</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SA_File_Found</name>
        <label>SA File Found</label>
        <locationX>319</locationX>
        <locationY>769</locationY>
        <assignmentItems>
            <assignToReference>isFileFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_SA_File</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Proceed</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stop</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <decisions>
        <name>API_Call_Success</name>
        <label>API Call Success ?</label>
        <locationX>942</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Failure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>API_Gateway_ReturnedCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>S</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submitted_Loan_Appl</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mandatory_Field</name>
        <label>Check Mandatory Field</label>
        <locationX>50</locationX>
        <locationY>253</locationY>
        <defaultConnector>
            <targetReference>MandatoryScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan_Application.DealerID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan_Application.Sales_Agreement_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan_Application.Customer_NRIC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan_Application.Customer_Full_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan_Application.Customer_Mobile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan_Application.VehicleMake__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan_Application.Vehicle_Model__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan_Application.VehicleType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan_Application.OMVG20K__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan_Application.Amount_To_Finance__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan_Application.FinTenure__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan_Application.DealerUsrID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan_Application.DealerEmpNo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan_Application.AmtIndicator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan_Application.Interest_Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesAgreementRecord</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirm_Amendment</name>
        <label>Confirm Amendment ?</label>
        <locationX>1100</locationX>
        <locationY>586</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Proceed</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AmdIndicator_Y</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Loan_Submitted</name>
        <label>Is Loan Submitted ?</label>
        <locationX>748</locationX>
        <locationY>584</locationY>
        <defaultConnector>
            <targetReference>LoanSubmittedScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>X1st_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan_Application.LOS_WAA_reference_number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan_Application.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submission_Screen</targetReference>
            </connector>
            <label>1st Submission</label>
        </rules>
        <rules>
            <name>X2nd_Submission</name>
            <conditionLogic>1  AND ( 2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>Loan_Application.LOS_WAA_reference_number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan_Application.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan_Application.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amendment_Screen</targetReference>
            </connector>
            <label>2nd Submission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Sales_Agreement_Approved</name>
        <label>Is Sales Agreement Approved ?</label>
        <locationX>405</locationX>
        <locationY>389</locationY>
        <defaultConnector>
            <targetReference>SAnotApproveScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesAgreementRecord.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsFileFound_true</name>
        <label>IsFileFound = true?</label>
        <locationX>618</locationX>
        <locationY>577</locationY>
        <defaultConnector>
            <targetReference>SAAttachmentNotFoundScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isFileFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Loan_Submitted</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_File_Exists</name>
        <label>SA File Exists</label>
        <locationX>210</locationX>
        <locationY>581</locationY>
        <defaultConnector>
            <targetReference>Check_SA_File</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_SA_File.ContentDocument.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SalesAgreementRecord.SOH_SONO__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_SA_File.ContentDocument.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sales Agreement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isFileFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA_File_Found</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Submit Loan Application</description>
    <interviewLabel>Maybank - Submit Loan Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Maybank - Submit Loan Application</label>
    <loops>
        <name>Check_SA_File</name>
        <label>Check_SA_File</label>
        <locationX>436</locationX>
        <locationY>570</locationY>
        <collectionReference>Content_Document_Link</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SA_File_Exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IsFileFound_true</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Content_Document_Link</name>
        <label>Content Document Link</label>
        <locationX>567</locationX>
        <locationY>392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_SA_File</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesAgreementRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Loan Application</description>
        <name>Loan_Application</name>
        <label>Loan Application</label>
        <locationX>59</locationX>
        <locationY>117</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Mandatory_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Sales Agreement Object</description>
        <name>SalesAgreementRecord</name>
        <label>SalesAgreementRecord</label>
        <locationX>415</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Document_Link</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan_Application.Sales_Agreement__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SOH_SONO__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Stock_Reservation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SOH_SONO__c</queriedFields>
        <queriedFields>Stock_Reservation__c</queriedFields>
        <queriedFields>ApprovalStatus__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Amendment_Indicator</name>
        <label>Amendment Indicator</label>
        <locationX>1242</locationX>
        <locationY>407</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AmtIndicator__c</field>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </inputAssignments>
        <object>Loan_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update submitted Loan Application :
SubDateTime, Status, AmtIndicator</description>
        <name>Submitted_Loan_Appl</name>
        <label>Submitted Loan Appl</label>
        <locationX>1106</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AmtIndicator__c</field>
            <value>
                <elementReference>amdIndicatorFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending Bank Updates</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Loan_Application__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Amendment_Screen</name>
        <label>Amendment</label>
        <locationX>1119</locationX>
        <locationY>699</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirm_Amendment</targetReference>
        </connector>
        <fields>
            <name>AmendMsg</name>
            <fieldText>&lt;p&gt;The Loan Application &lt;a href=&quot;/{!Loan_Application.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Loan_Application.Name}&lt;/a&gt; already has been submitted and the current status is {!Loan_Application.Status_Label__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationRadio</name>
            <choiceReferences>Proceed</choiceReferences>
            <choiceReferences>Stop</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you confirm want to amend the application ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Failure</name>
        <label>Failure</label>
        <locationX>761</locationX>
        <locationY>255</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FailureMessage</name>
            <fieldText>&lt;p&gt;Error(s) occurred. &lt;/p&gt;&lt;p&gt;Please contact your admin.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Error Details : &lt;/b&gt;&lt;/p&gt;&lt;p&gt;Flow Error Message : &lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;API Response Error Message : &lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!API_Gateway_ErrMsg}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LoanSubmittedScreen</name>
        <label>LoanSubmittedScreen</label>
        <locationX>753</locationX>
        <locationY>761</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LoanSubmittedMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The Loan Application &lt;/span&gt;&lt;a href=&quot;/{Loan_Application.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Loan_Application.Name}&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; already has been submitted and the current status is {!Loan_Application.Status_Label__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Amendment is ONLY allowed when the application is :&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Approved&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Preparation&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MandatoryScreen</name>
        <label>MandatoryScreen</label>
        <locationX>59</locationX>
        <locationY>397</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MandatoryMsg</name>
            <fieldText>&lt;p&gt;Please fill up the required information before submission&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SAAttachmentNotFoundScreen</name>
        <label>SAAttachmentNotFoundScreen</label>
        <locationX>623</locationX>
        <locationY>763</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SAAttachmentNotFoundMsg</name>
            <fieldText>&lt;p&gt;Sales Agreement &lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SalesAgreementRecord.SOH_SONO__c} &lt;/b&gt;Attachment not found.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SAnotApproveScreen</name>
        <label>SAnotApproveScreen</label>
        <locationX>251</locationX>
        <locationY>392</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SAnotApproveMsg</name>
            <fieldText>&lt;p&gt;Sales Agreement &lt;b&gt;{!SalesAgreementRecord.SOH_SONO__c}&lt;/b&gt; has not yet been Approved.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submission_Screen</name>
        <label>Submission</label>
        <locationX>1006</locationX>
        <locationY>748</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Invoke_Maybank_API_Callout</targetReference>
        </connector>
        <fields>
            <name>ConfirmationMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(240, 0, 0); font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Note : Please click on &quot;Next&quot; only after verify the information !!!﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LoanHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Loan Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LoanDetail</name>
            <extensionName>c:recordDetailFlowScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Loan_Application__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Loan_Application.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Sales_Agreement_No__c, DOSalAgmt__c, Amount_To_Finance__c, FinTenure__c, Interest_Rate__c, DealerID__c, DealerUsrID__c, DealerEmpNo__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressUnderline</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>View</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CustomerHeader</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Customer Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CustomerDetail</name>
            <extensionName>c:recordDetailFlowScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Loan_Application__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Loan_Application.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Customer_Full_Name__c, Customer_NRIC__c, Customer_Mobile__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressUnderline</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>View</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnsize</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>VehicleHeader</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Vehicle Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VehicleDetail</name>
            <extensionName>c:recordDetailFlowScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>View</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Loan_Application.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Loan_Application__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressUnderline</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowNavigationOnCancelDirection</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Chassiss_No__c,PurchasePrice__c,Engine_No__c,OMV__c,Vehicle_Model__c,OMVG20K__c,VehicleMake__c,VehicleType__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>1230</locationX>
        <locationY>252</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMsg2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(4, 0, 255); background-color: rgb(255, 255, 255);&quot;&gt;Loan Application is submitted successfully.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>289</locationX>
        <locationY>99</locationY>
        <connector>
            <targetReference>Loan_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>amdIndicatorFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>N</stringValue>
        </value>
    </variables>
    <variables>
        <name>API_Gateway_ErrMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>API_Gateway_ReturnedCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isFileFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Sales Agreement Record Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCancel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YesOrNo</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
