cncProd/force-app/main/default/flows/Maybank_Submit_Supporting_Document_Auto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_Supporting_Documents</name>
        <label>Submit Supporting Documents</label>
        <locationX>509</locationX>
        <locationY>140</locationY>
        <actionName>Maybank_UpdateSupportingDocument</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Supporting_Document</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fileRequirementsName</name>
            <value>
                <stringValue>Sales_Tax_Invoice;Cover_Note;Acknowledgement_Page;Sales_Agreement</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesAgreementNo</name>
            <value>
                <elementReference>$Record__Prior.SOH_SONO__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesAgrementId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>API_Gateway_ReturnedCode</assignToReference>
            <name>api_returned_code</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>API_Gateway_ErrMsg</assignToReference>
            <name>error_message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>fileDocumentCount</assignToReference>
            <name>fileCount</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Run_Flow</name>
        <label>Run Flow?</label>
        <locationX>110</locationX>
        <locationY>294</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bypassFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Supporting_Documents</targetReference>
            </connector>
            <label>Run</label>
        </rules>
    </decisions>
    <formulas>
        <name>bypassFlow</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Bypass_Automation_Settings__c.Bypass_Flows__c}</expression>
    </formulas>
    <interviewLabel>Maybank - Submit Supporting Document (Auto) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Maybank - Submit Supporting Document (Auto)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update supporting document flag</description>
        <name>Update_Supporting_Document</name>
        <label>Update Supporting Document</label>
        <locationX>915</locationX>
        <locationY>193</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bank_support_document__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Sales_Agreement__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Run_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Car Loan</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Registration</stringValue>
            </value>
        </filters>
        <filters>
            <field>DocStatusSalesTaxInvoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DocStatusAcknowledgementPage__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DocStatusCoverNote__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Bank_support_document__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Sales_Agreement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>API_Gateway_ErrMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>API_Gateway_ReturnedCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>fileDocumentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
