cncProd/force-app/main/default/flows/MB_Loan_Maintenance_Vehicle_Request_Check_in_out.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Populate_Check_In</name>
        <label>Populate Check-In</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Get_Vehicle_Request.Check_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckinDatetime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Vehicle_Request.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Check_In_Time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Courtersy_Vehicle.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Courtersy_Vehicle.Is_Present__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Courtesy_Vehicle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_and_Check_out_time_0</name>
        <label>Update Status and Check-out time</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Get_Vehicle_Request.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Vehicle_Request.Check_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckinDatetime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_current_request_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isCheckout</name>
        <label>isCheckout?</label>
        <locationX>726</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Populate_Check_In</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_out</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vehicle_Request.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queued</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Vehicle_Request.Test_Drive_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Vehicle_Request.Test_Drive_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_Id</targetReference>
            </connector>
            <label>Check-out</label>
        </rules>
    </decisions>
    <decisions>
        <name>isSETurn_0</name>
        <label>isSETurn?</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Error_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SE_turn_to_check_out_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vehicle_Request.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_latest_queued_request.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_and_Check_out_time_0</targetReference>
            </connector>
            <label>SE turn to check-out</label>
        </rules>
    </decisions>
    <decisions>
        <name>Latest_request_exists</name>
        <label>Latest request exists?</label>
        <locationX>644</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Status_and_Check_out_time_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_latest_queued_request</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isSETurn_0</targetReference>
            </connector>
            <label>Request exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ongoing_Request_Exists</name>
        <label>Ongoing Request Exists?</label>
        <locationX>347</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Get_latest_queued_request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_Exists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_latest_ongoing_request</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_0_0_0</targetReference>
            </connector>
            <label>Request Exists</label>
        </rules>
    </decisions>
    <formulas>
        <name>CheckinDatetime</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE( TEXT(YEAR(TODAY())) + &quot;-&quot; + TEXT(MONTH(TODAY())) + &quot;-&quot; + TEXT(DAY(TODAY())) + &quot; 00:00:00&quot;)</expression>
    </formulas>
    <interviewLabel>MB Loan/Maintenance Vehicle Request Check-in/out {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MB Loan/Maintenance Vehicle Request Check-in/out</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Courtersy_Vehicle</name>
        <label>Get Courtersy Vehicle</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vehicle_Request.Courtesy_Vehicle__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Courtesy_Vehicle__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_latest_ongoing_request</name>
        <label>Get latest ongoing request</label>
        <locationX>347</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ongoing_Request_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Courtesy_Vehicle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vehicle_Request.Courtesy_Vehicle__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Branch_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CCI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Franchise_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MBP</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicle_Request__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_latest_queued_request</name>
        <label>Get latest queued request</label>
        <locationX>644</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Latest_request_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Courtesy_Vehicle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vehicle_Request.Courtesy_Vehicle__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </filters>
        <filters>
            <field>Branch_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CCI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Franchise_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MBP</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicle_Request__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>347</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_latest_ongoing_request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vehicle_Request__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MB_Test_Drive_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle_Request</name>
        <label>Get Vehicle Request</label>
        <locationX>726</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isCheckout</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicle_Request__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Check_In_Mileage__c</queriedFields>
        <queriedFields>Check_In__c</queriedFields>
        <queriedFields>Courtesy_Vehicle__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Check_Out__c</queriedFields>
        <queriedFields>Test_Drive_Type__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Check_In_Time</name>
        <label>Update Check-In Time</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Courtersy_Vehicle</targetReference>
        </connector>
        <inputReference>Get_Vehicle_Request</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Courtesy_Vehicle</name>
        <label>Update Courtesy Vehicle</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>Get_Courtersy_Vehicle</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_current_request_0</name>
        <label>Update current request</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Success_0_0</targetReference>
        </connector>
        <inputReference>Get_Vehicle_Request</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_0_0</name>
        <label>Error</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Show_Error_0_0</name>
            <extensionName>c:refreshLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>You can not check-out. Please wait until your turn to check-out!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Error!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>dismissible</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_0_0_0</name>
        <label>Error</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Show_Error_1</name>
            <extensionName>c:refreshLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>This vehicle is currently being checked-out by another Sales Rep. Please try again later!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Error!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>dismissible</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Show_Success_Message</name>
            <extensionName>c:refreshLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>The vehicle has been successfully checked-in!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Success!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>dismissible</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_0_0</name>
        <label>Success</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Show_Success_Message_0_0</name>
            <extensionName>c:refreshLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>The vehicle has been successfully checked-out!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Success!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>dismissible</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>600</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vehicle_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
