cncProd/force-app/main/default/flows/New_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>BreakdownandRSA</name>
        <choiceText>Breakdown and Roadside Assistance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Breakdown and Roadside Assistance</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChangeRequest</name>
        <choiceText>Change Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Complaint</name>
        <choiceText>Complaint</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complaint</stringValue>
        </value>
    </choices>
    <choices>
        <name>ComplaintandCompliment</name>
        <choiceText>Complaint and Compliment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complaint and Compliment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Compliment</name>
        <choiceText>Compliment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compliment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Digital</name>
        <choiceText>Digital</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Digital</stringValue>
        </value>
    </choices>
    <choices>
        <name>EnquiryandRequest</name>
        <choiceText>Enquiry and Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Enquiry and Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ownership</name>
        <choiceText>Change of Ownership</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change of Ownership</stringValue>
        </value>
    </choices>
    <choices>
        <name>Particulars</name>
        <choiceText>Change of Particulars</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change of Particulars</stringValue>
        </value>
    </choices>
    <choices>
        <name>Promotions</name>
        <choiceText>Promotions/Campaigns</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Promotions</stringValue>
        </value>
    </choices>
    <choices>
        <name>RecallBookings</name>
        <choiceText>Recall Bookings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recall Bookings</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServicingandGrooming</name>
        <choiceText>Servicing and Grooming</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Servicing and Grooming</stringValue>
        </value>
    </choices>
    <choices>
        <name>Surveys</name>
        <choiceText>Surveys</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Surveys</stringValue>
        </value>
    </choices>
    <choices>
        <name>VehicleRegistrationNumber</name>
        <choiceText>Change of Vehicle Registration Number</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change of Vehicle Registration Number</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Run_Sub_Flows</name>
        <label>Run Sub Flows</label>
        <locationX>988</locationX>
        <locationY>367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Servicing_and_Grooming</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ServicingandGrooming</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Servicing_and_Grooming</targetReference>
            </connector>
            <label>Servicing and Grooming</label>
        </rules>
        <rules>
            <name>Recall_Bookings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecallBookings</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Recall_Booking</targetReference>
            </connector>
            <label>Recall Bookings</label>
        </rules>
        <rules>
            <name>Enquiry_and_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EnquiryandRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Enquiry_and_Request</targetReference>
            </connector>
            <label>Enquiry and Request</label>
        </rules>
        <rules>
            <name>Complaints</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Complaint</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Complaints</targetReference>
            </connector>
            <label>Complaints</label>
        </rules>
        <rules>
            <name>Breakdown_and_Roadside_Assistance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BreakdownandRSA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Breakdown_and_RSA</targetReference>
            </connector>
            <label>Breakdown and Roadside Assistance</label>
        </rules>
        <rules>
            <name>Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Surveys</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Survey</targetReference>
            </connector>
            <label>Survey</label>
        </rules>
        <rules>
            <name>Compliments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Compliment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Compliment</targetReference>
            </connector>
            <label>Compliments</label>
        </rules>
        <rules>
            <name>DigitalRelated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Digital</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Digital_Related</targetReference>
            </connector>
            <label>Digital</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Selected_Choice</name>
        <label>Verify Selected Choice</label>
        <locationX>669</locationX>
        <locationY>197</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type_for_Change_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Verify_Choice_Except_for_Change_Request</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Choose</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ServicingandGrooming</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Choose</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecallBookings</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Choose</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Surveys</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Choose</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EnquiryandRequest</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Choose</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Complaint</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Choose</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Compliment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Choose</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Digital</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_ID</targetReference>
            </connector>
            <label>Verify Choice Except for Change Request</label>
        </rules>
        <rules>
            <name>For_Promotions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Promotions</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_ID_for_Promotions</targetReference>
            </connector>
            <label>For Promotions</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>vBrand</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Brand__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vCaseReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>New Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact_Info</name>
        <label>Get Contact Info</label>
        <locationX>1196</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Run_Sub_Flows</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vehRegRec.Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>vContRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name_with_Salutation__c</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Birthdate</queriedFields>
        <queriedFields>Address_Line_1__c</queriedFields>
        <queriedFields>Address_Line_2__c</queriedFields>
        <queriedFields>Address_Line_3__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_for_Change_Request</name>
        <label>Get Record Type for Change Request</label>
        <locationX>429</locationX>
        <locationY>425</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Run_Change_Request_Ownership_Particulars_Vehicle_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change Request (Ownership, Particulars, Vehicle Registration Number)</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_ID</name>
        <label>Get Record Type ID</label>
        <locationX>904</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vehicle_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vRecTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_ID_for_Promotions</name>
        <label>Get Record Type ID for Promotions</label>
        <locationX>632</locationX>
        <locationY>631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Run_Promotions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Promotions/Campaigns</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle_Info</name>
        <label>Get Vehicle Info</label>
        <locationX>1058</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Registered_Vehicle__c</object>
        <outputReference>vehRegRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Autoline_Franchise_Code__c</queriedFields>
        <queriedFields>Branch__c</queriedFields>
        <queriedFields>Franchise__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Select_Choice</name>
        <label>Select Choice</label>
        <locationX>547</locationX>
        <locationY>62</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Verify_Selected_Choice</targetReference>
        </connector>
        <fields>
            <name>Choose</name>
            <choiceReferences>ServicingandGrooming</choiceReferences>
            <choiceReferences>RecallBookings</choiceReferences>
            <choiceReferences>ChangeRequest</choiceReferences>
            <choiceReferences>Complaint</choiceReferences>
            <choiceReferences>Compliment</choiceReferences>
            <choiceReferences>EnquiryandRequest</choiceReferences>
            <choiceReferences>Surveys</choiceReferences>
            <choiceReferences>Promotions</choiceReferences>
            <choiceReferences>Digital</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>207</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Select_Choice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Digital_Related</name>
        <label>Run Digital</label>
        <locationX>1039</locationX>
        <locationY>687</locationY>
        <flowName>Digital</flowName>
        <inputAssignments>
            <name>cAddr1</name>
            <value>
                <elementReference>vContRec.Address_Line_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cAddr2</name>
            <value>
                <elementReference>vContRec.Address_Line_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cAddr3</name>
            <value>
                <elementReference>vContRec.Address_Line_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cBirthDate</name>
            <value>
                <elementReference>vContRec.Birthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cEmail</name>
            <value>
                <elementReference>vContRec.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cMobile</name>
            <value>
                <elementReference>vContRec.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vContId</name>
            <value>
                <elementReference>vContRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRecordTypeID</name>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRegVehRec</name>
            <value>
                <elementReference>vehRegRec</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Breakdown_and_RSA</name>
        <label>Run Breakdown and RSA</label>
        <locationX>1498</locationX>
        <locationY>229</locationY>
        <flowName>Breakdown_and_RSA</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vContRec</name>
            <value>
                <elementReference>vContRec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRecType</name>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRegRec</name>
            <value>
                <elementReference>vehRegRec</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Change_Request_Ownership_Particulars_Vehicle_Number</name>
        <label>Run Change Request - Ownership/Particulars/Vehicle Number</label>
        <locationX>210</locationX>
        <locationY>426</locationY>
        <flowName>Change_Request_Ownership_Particulars_Vehicle_Number</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRecordTypeId</name>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vRecordTypeID</assignToReference>
            <name>vRecordTypeId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Run_Complaints</name>
        <label>Run Complaints</label>
        <locationX>810</locationX>
        <locationY>677</locationY>
        <flowName>Complaint</flowName>
        <inputAssignments>
            <name>vContId</name>
            <value>
                <elementReference>vContRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRecordTypeID</name>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRegVehRec</name>
            <value>
                <elementReference>vehRegRec</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Compliment</name>
        <label>Run Compliment</label>
        <locationX>961</locationX>
        <locationY>687</locationY>
        <flowName>Compliment</flowName>
        <inputAssignments>
            <name>vContId</name>
            <value>
                <elementReference>vContRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRecordTypeID</name>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRegVehRec</name>
            <value>
                <elementReference>vehRegRec</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Enquiry_and_Request</name>
        <label>Run Enquiry and Request</label>
        <locationX>1144</locationX>
        <locationY>675</locationY>
        <flowName>Enquiry_and_Request</flowName>
        <inputAssignments>
            <name>cAddr1</name>
            <value>
                <elementReference>vContRec.Address_Line_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cAddr2</name>
            <value>
                <elementReference>vContRec.Address_Line_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cAddr3</name>
            <value>
                <elementReference>vContRec.Address_Line_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cBirthDate</name>
            <value>
                <elementReference>vContRec.Birthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cEmail</name>
            <value>
                <elementReference>vContRec.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cMobile</name>
            <value>
                <elementReference>vContRec.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vContId</name>
            <value>
                <elementReference>vContRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRecordTypeID</name>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRegVehRec</name>
            <value>
                <elementReference>vehRegRec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRetunValues</name>
            <value>
                <elementReference>EnquiryandRequest</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Promotions</name>
        <label>Run Promotions</label>
        <locationX>444</locationX>
        <locationY>636</locationY>
        <flowName>Promotions</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRecordTypeId</name>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Recall_Booking</name>
        <label>Run Recall Booking</label>
        <locationX>1242</locationX>
        <locationY>677</locationY>
        <flowName>Recall_Booking</flowName>
        <inputAssignments>
            <name>vContId</name>
            <value>
                <elementReference>vContRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRecordTypeID</name>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRecTypeName</name>
            <value>
                <elementReference>vRecTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRegVehRec</name>
            <value>
                <elementReference>vehRegRec</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Servicing_and_Grooming</name>
        <label>Run Servicing and Grooming</label>
        <locationX>1514</locationX>
        <locationY>506</locationY>
        <flowName>Servicing_and_Grooming</flowName>
        <inputAssignments>
            <name>cAddr1</name>
            <value>
                <elementReference>vContRec.Address_Line_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cAddr2</name>
            <value>
                <elementReference>vContRec.Address_Line_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cAddr3</name>
            <value>
                <elementReference>vContRec.Address_Line_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cBirthDate</name>
            <value>
                <elementReference>vContRec.Birthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cEmail</name>
            <value>
                <elementReference>vContRec.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cMobile</name>
            <value>
                <elementReference>vContRec.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vContId</name>
            <value>
                <elementReference>vContRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRecordTypeID</name>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRecTypeName</name>
            <value>
                <elementReference>vRecTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vVehRegRec</name>
            <value>
                <elementReference>vehRegRec</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Survey</name>
        <label>Run Survey</label>
        <locationX>1521</locationX>
        <locationY>371</locationY>
        <flowName>Survey_Main_Screen</flowName>
        <inputAssignments>
            <name>vContId</name>
            <value>
                <elementReference>vContRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRecordTypeId</name>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRegVehRec</name>
            <value>
                <elementReference>vehRegRec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>vErrMsg</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;FONT color=&quot;red&quot;&gt; Please select Registered Vehicle before selection of the New Case Choice. &lt;/FONT&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vContRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>vCustName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCustPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vehRegRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Registered_Vehicle__c</objectType>
    </variables>
    <variables>
        <name>vOptionLabels</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Bookings (Service/Recall), Change Request (Ownership/Particulars/Vehicle Registration Number), Feedback (Complaints/Compliments), Others (Enquiries), Surveys</stringValue>
        </value>
    </variables>
    <variables>
        <name>vOptValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Bookings (Service, Recall), Change Request (Ownership, Particulars, Vehicle Registration Number), Feedback (Complaints, Compliments), Others (Enquiries), Surveys</stringValue>
        </value>
    </variables>
    <variables>
        <name>vRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRecTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSelValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSurveyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Sales CSI, Sales CLI, Aftersales CSI, Aftersales SFU</stringValue>
        </value>
    </variables>
    <variables>
        <name>vVehRegNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
