cncProd/force-app/main/default/flows/Sales_CSI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_SMS</name>
        <label>Send SMS</label>
        <locationX>1077</locationX>
        <locationY>119</locationY>
        <actionName>SendSMSFromServiceCloud</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>Keyword</name>
            <value>
                <elementReference>SMSMCKeyword</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mobileNumber</name>
            <value>
                <elementReference>Mobile_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMS_Body</name>
            <value>
                <elementReference>SMS_Text_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SubscriberKey</name>
            <value>
                <elementReference>Mobile_Number</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Mobile_No_from_Case_for_SMS</name>
        <label>Assign Mobile No from Case for SMS</label>
        <locationX>881</locationX>
        <locationY>42</locationY>
        <assignmentItems>
            <assignToReference>SMSMobileNo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vMobileNo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_SMS_Sales_CSI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mobile_Number_for_SMS</name>
        <label>Assign Mobile Number for SMS</label>
        <locationX>1041</locationX>
        <locationY>368</locationY>
        <assignmentItems>
            <assignToReference>SMSMobileNo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovContact.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_SMS_Sales_CSI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Verify_Case_ID_New_or_Existing</name>
        <label>Verify Case ID New or Existing</label>
        <locationX>302</locationX>
        <locationY>223</locationY>
        <defaultConnector>
            <targetReference>Fetch_Record_from_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Verify_Case_Id_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCaseIDVal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0s</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vehicle_Info</targetReference>
            </connector>
            <label>Verify Case Id Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_case_Id_value_again</name>
        <label>Verify case Id value again</label>
        <locationX>860</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_case_id_value_is_a0s</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCaseIDVal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0s</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Case_Record</targetReference>
            </connector>
            <label>Is case id value is a0s</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>vSurveyStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Survey_Status__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>SMSMCKeyword</name>
        <dataType>String</dataType>
        <expression>{!$Setup.global_var__c.Service_Cloud_SMS_MC_Key__c}</expression>
    </formulas>
    <formulas>
        <name>vCaseIdLen</name>
        <dataType>Number</dataType>
        <expression>LEN({!var_CaseId})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>vCaseIDVal</name>
        <dataType>String</dataType>
        <expression>MID({!var_CaseId},1,3)</expression>
    </formulas>
    <formulas>
        <name>vMobileNo</name>
        <dataType>String</dataType>
        <expression>&apos;65&apos; + {!sovCase.Phone005__c}</expression>
    </formulas>
    <interviewLabel>Sales CSI  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales CSI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Case_Record</name>
        <label>Create a Case Record</label>
        <locationX>866</locationX>
        <locationY>368</locationY>
        <connector>
            <targetReference>Assign_Mobile_Number_for_SMS</targetReference>
        </connector>
        <inputAssignments>
            <field>Aftersales_Remarks__c</field>
            <value>
                <elementReference>Aftersales_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>vRegVehRec.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Car_Registration_Number__c</field>
            <value>
                <elementReference>vRegVehRec.Registration_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>sovContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>sovContact.Name_with_Salutation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Franchise__c</field>
            <value>
                <elementReference>vRegVehRec.Franchise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Remarks__c</field>
            <value>
                <elementReference>Other_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>P4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Remarks__c</field>
            <value>
                <elementReference>Sales_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Status__c</field>
            <value>
                <elementReference>vSurveyStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Type__c</field>
            <value>
                <elementReference>vSurveyChoice</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Customer_Name</name>
        <label>Fetch Customer Name</label>
        <locationX>521</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vehicle_Info_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovCase.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sovContact</outputReference>
        <queriedFields>Name_with_Salutation__c</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Record_from_Case</name>
        <label>Fetch Record from Case</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Customer_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sovCase</outputReference>
        <queriedFields>Registered_Vehicle__c</queriedFields>
        <queriedFields>Aftersales_Remarks__c</queriedFields>
        <queriedFields>Sales_Remarks__c</queriedFields>
        <queriedFields>Other_Remarks__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Phone005__c</queriedFields>
        <queriedFields>Customer_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Info</name>
        <label>Get Contact Info</label>
        <locationX>601</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sales_CSI_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRegVehRec.Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sovContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name_with_Salutation__c</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle_Info</name>
        <label>Get Vehicle Info</label>
        <locationX>465</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Registered_Vehicle__c</object>
        <outputReference>vRegVehRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Franchise__c</queriedFields>
        <queriedFields>Branch__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle_Info_Case</name>
        <label>Get Vehicle Info (Case)</label>
        <locationX>651</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sales_CSI_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovCase.Registered_Vehicle__c</elementReference>
            </value>
        </filters>
        <object>Registered_Vehicle__c</object>
        <outputReference>vRegVehRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Franchise__c</queriedFields>
        <queriedFields>Branch__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>798</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Assign_Mobile_No_from_Case_for_SMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Aftersales_Remarks__c</field>
            <value>
                <elementReference>Aftersales_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>vRegVehRec.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Franchise__c</field>
            <value>
                <elementReference>vRegVehRec.Franchise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Remarks__c</field>
            <value>
                <elementReference>Other_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Remarks__c</field>
            <value>
                <elementReference>Sales_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Status__c</field>
            <value>
                <elementReference>vSurveyStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Sales_CSI_Survey</name>
        <label>Sales CSI Survey</label>
        <locationX>747</locationX>
        <locationY>205</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Verify_case_Id_value_again</targetReference>
        </connector>
        <fields>
            <name>Text1</name>
            <fieldText>This is a courtesy call to welcome you to the world of Mercedes Benz for your vehicle</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Vehicle_Registration_No</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vRegVehRec.Registration_Number__c</elementReference>
            </defaultValue>
            <fieldText>Vehicle Registration No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Text2</name>
            <fieldText>We like to hear your driving experience as to date, is everything fine?

We would also like to share with you your next serving appointment date is (                    ) Date/15,000km mileage (whichever comes first) and 1st tyre rotation will be at 5000km mileage.


You can kindly call us at our hotline @6206 1818 to make an appointment or you can download the MBApp to the booking.

Any Feedback: (Free Text)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sales_Remarks</name>
            <defaultValue>
                <stringValue>{!sovCase.Sales_Remarks__c}</stringValue>
            </defaultValue>
            <fieldText>Sales Remarks</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blank1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Aftersales_Remarks</name>
            <defaultValue>
                <stringValue>{!sovCase.Aftersales_Remarks__c}</stringValue>
            </defaultValue>
            <fieldText>Aftersales Remarks</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blank2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Other_Remarks</name>
            <defaultValue>
                <stringValue>{!sovCase.Other_Remarks__c}</stringValue>
            </defaultValue>
            <fieldText>Other Remarks</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ConclusionText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Conclusion:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Thank you so much for your time and have a good day.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If there is any feedback given: On behalf of Cycle &amp;amp; Carriage I would like to thank you for sharing this with us. Happy mortoring.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;For Sales issue if needed, please send email to &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Mei Yee and Cc Junn Chia&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If any Aftersales issue, can propose to make an appointment to go any of the 3 Service Centre required.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Survey_Status</name>
            <choiceReferences>vSurveyStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Survey Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_SMS_Sales_CSI</name>
        <label>Send SMS - Sales CSI</label>
        <locationX>977</locationX>
        <locationY>42</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_SMS</targetReference>
        </connector>
        <fields>
            <name>Mobile_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SMSMobileNo</elementReference>
            </defaultValue>
            <fieldText>Mobile Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SMS_Text_Message</name>
            <defaultValue>
                <stringValue>{!vCSITemplate}</stringValue>
            </defaultValue>
            <fieldText>SMS Text Message</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Verify_Case_ID_New_or_Existing</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>vCSITemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dear {!sovCase.Customer_Name__c}, welcome to the world of Mercedes-Benz! Service Booking is now easier with the new myMB app. Simply download from the App Store (http://apple.co/2nC0rnq) or Google Play Store (http://bit.ly/2nihvLF) to manage your Mercedes-Benz service booking anytime, anywhere!</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SMSMobileNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sovCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sovContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vKeyword</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>MTM6Nzg6MA</stringValue>
        </value>
    </variables>
    <variables>
        <name>vRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRegVehRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Registered_Vehicle__c</objectType>
    </variables>
    <variables>
        <name>vSurveyChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
