cncProd/force-app/main/default/flows/Send_Test_Drive_Check_In_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>649</locationX>
        <locationY>374</locationY>
        <actionName>SendTestDriveCheckInReminderEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>testDriveIdAndRecipientIds</name>
            <value>
                <elementReference>TestDriveIdAndRecipientIds</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Consultant_To_Recipients_Collection</name>
        <label>Add Consultant To Recipients Collection</label>
        <locationX>861</locationX>
        <locationY>165</locationY>
        <assignmentItems>
            <assignToReference>TestDriveIdAndRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Manager_Role_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Test_Drive_Id_to_the_Parameters</name>
        <label>Add Test Drive Id to the Parameters</label>
        <locationX>704</locationX>
        <locationY>166</locationY>
        <assignmentItems>
            <assignToReference>TestDriveIdAndRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Consultant_To_Recipients_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_UserId_To_RecipientIds_Collection</name>
        <label>Add UserId To RecipientIds Collection</label>
        <locationX>1210</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>TestDriveIdAndRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sales_Managers_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Managers_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Has test drive checked in yet?</description>
        <name>Is_Test_Drive_Checked_In</name>
        <label>Is Test Drive Checked In?</label>
        <locationX>558</locationX>
        <locationY>168</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Test_Drive_Id_to_the_Parameters</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Send Email remind that test-drive record that exceed 60 mins based since the check out time</description>
    <interviewLabel>Send Test Drive Check In Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Test Drive Check In Reminder</label>
    <loops>
        <name>Sales_Managers_Loop</name>
        <label>Sales Managers Loop</label>
        <locationX>996</locationX>
        <locationY>372</locationY>
        <collectionReference>SalesManagers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_UserId_To_RecipientIds_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Manager_Role_Id</name>
        <label>Get Manager Role Id</label>
        <locationX>995</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Manager_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ManagerRoleDeveloperName</elementReference>
            </value>
        </filters>
        <object>UserRole</object>
        <outputAssignments>
            <assignToReference>SalesMangerRoleId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Manager_Users</name>
        <label>Get Manager Users</label>
        <locationX>1124</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sales_Managers_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesMangerRoleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>SalesManagers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <start>
        <locationX>48</locationX>
        <locationY>76</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Out</stringValue>
            </value>
        </filters>
        <object>Test_Drive__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Run_45_Minutes_After_Test_Drive_Is_Checked_Out</name>
            <connector>
                <targetReference>Is_Test_Drive_Checked_In</targetReference>
            </connector>
            <label>Run 60 Minutes After Test Drive Is Checked Out</label>
            <offsetNumber>60</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Check_Out__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentDatetime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>FranchiseCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$User.Franchise_Code__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>ManagerRoleDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!FranchiseCode}_Sales_Manager</stringValue>
        </value>
    </variables>
    <variables>
        <name>SalesManagers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SalesMangerRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>[0]: Test Drive Id
[1]: Sales Consultant Id
[...]: Sales Manager IDs</description>
        <name>TestDriveIdAndRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
