cncProd/force-app/main/default/flows/Send_SMS_for_Appt_Confirmation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_SMS_for_Appt_Confirmation</name>
        <label>Send SMS for Appt Confirmation</label>
        <locationX>555</locationX>
        <locationY>107</locationY>
        <actionName>SendSMSFromServiceCloud</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Log_a_Call_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Keyword</name>
            <value>
                <elementReference>SMSMCKeyword</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mobileNumber</name>
            <value>
                <elementReference>Mobile_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMS_Body</name>
            <value>
                <elementReference>SMS_Text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SubscriberKey</name>
            <value>
                <elementReference>Mobile_Number</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <formulas>
        <name>SMSMCKeyword</name>
        <dataType>String</dataType>
        <expression>{!$Setup.global_var__c.Service_Cloud_SMS_MC_Key__c}</expression>
    </formulas>
    <formulas>
        <name>vMobileNo</name>
        <dataType>String</dataType>
        <expression>&apos;65&apos;+{!vCaseRec.CLBL_Mobile_No__c}</expression>
    </formulas>
    <interviewLabel>Send SMS for Appt Confirmation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send SMS for Appt Confirmation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Log_a_Call_Record</name>
        <label>Create Log a Call Record</label>
        <locationX>550</locationX>
        <locationY>236</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SMS_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_SMS__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Service Appt Confirmation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToPhoneNo__c</field>
            <value>
                <elementReference>Mobile_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>vCaseRec.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record_Details</name>
        <label>Get Case Record Details</label>
        <locationX>124</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vehicle_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>vCaseRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CLBL_Mobile_No__c</queriedFields>
        <queriedFields>Registered_Vehicle__c</queriedFields>
        <queriedFields>Customer_Name__c</queriedFields>
        <queriedFields>SCRS_PKD_Pickup_Location__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle_Details</name>
        <label>Get Vehicle Details</label>
        <locationX>252</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_SMS_PKD_SCR_Appointment_to_confirm_address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseRec.Registered_Vehicle__c</elementReference>
            </value>
        </filters>
        <object>Registered_Vehicle__c</object>
        <outputAssignments>
            <assignToReference>vRegNo</assignToReference>
            <field>Registration_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Send_SMS_PKD_SCR_Appointment_to_confirm_address</name>
        <label>Send SMS -PKD SCR Appointment to confirm address</label>
        <locationX>410</locationX>
        <locationY>107</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_SMS_for_Appt_Confirmation</targetReference>
        </connector>
        <fields>
            <name>Mobile_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vMobileNo</elementReference>
            </defaultValue>
            <fieldText>Mobile Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SMS_Text</name>
            <defaultValue>
                <stringValue>{!vPKDSCRTemplate}</stringValue>
            </defaultValue>
            <fieldText>SMS Text</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Case_Record_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>vPKDSCRTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!vCaseRec.Customer_Name__c}, your Star Collection service appointment for your vehicle no:{!vRegNo} pick up at {!vCaseRec.SCRS_PKD_Pickup_Location__c} has been confirmed. For any queries pls contact us at 62981818.Thank you.</text>
    </textTemplates>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCaseRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vKeyword</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>MTM6Nzg6MA</stringValue>
        </value>
    </variables>
    <variables>
        <name>vRegNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
