cncProd/force-app/main/default/flows/Survey_Main_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>KIASFU</name>
        <choiceText>KIA SFU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>KIA SFU</stringValue>
        </value>
    </choices>
    <choices>
        <name>SalesCLI</name>
        <choiceText>MB Sales CLI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MB Sales CLI</stringValue>
        </value>
    </choices>
    <choices>
        <name>SalesCSI</name>
        <choiceText>MB Sales CSI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MB Sales CSI</stringValue>
        </value>
    </choices>
    <choices>
        <name>vSFU</name>
        <choiceText>MB SFU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MB SFU</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Record_Type_and_Show_Survey_Screen</name>
        <label>Check Selection</label>
        <locationX>407</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_CSI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SalesCSI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Sales_CSI</targetReference>
            </connector>
            <label>Sales CSI</label>
        </rules>
        <rules>
            <name>Sales_CLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SalesCLI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Sales_CLI</targetReference>
            </connector>
            <label>Sales CLI</label>
        </rules>
        <rules>
            <name>SFU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vSFU</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_SFU</targetReference>
            </connector>
            <label>SFU</label>
        </rules>
        <rules>
            <name>For_KIA_SFU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>KIASFU</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KIA_SFU</targetReference>
            </connector>
            <label>For KIA SFU</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>vSurveyStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Survey_Status__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>vRecID3</name>
        <dataType>String</dataType>
        <expression>MID({!recordId},1,3)</expression>
    </formulas>
    <interviewLabel>Survey Main Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey Main Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Record</name>
        <label>Create Record</label>
        <locationX>188</locationX>
        <locationY>359</locationY>
        <inputAssignments>
            <field>Car_Registration_Number__c</field>
            <value>
                <elementReference>vRegVehRec.Registration_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vContId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Status__c</field>
            <value>
                <elementReference>vSurveyStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Type__c</field>
            <value>
                <stringValue>KIA SFU</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>KIA_SFU</name>
        <label>KIA SFU</label>
        <locationX>188</locationX>
        <locationY>220</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Record</targetReference>
        </connector>
        <fields>
            <name>Survey_Status</name>
            <choiceReferences>vSurveyStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Survey Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Survey_Main</name>
        <label>Survey Main</label>
        <locationX>192</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Record_Type_and_Show_Survey_Screen</targetReference>
        </connector>
        <fields>
            <name>vGreetingText</name>
            <fieldText>{!SurveyGreetingText}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select</name>
            <choiceReferences>vSFU</choiceReferences>
            <choiceReferences>SalesCLI</choiceReferences>
            <choiceReferences>SalesCSI</choiceReferences>
            <choiceReferences>KIASFU</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Note</name>
            <fieldText>{!vNotes}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Survey_Main</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Run_Sales_CLI</name>
        <label>Run Sales CLI</label>
        <locationX>704</locationX>
        <locationY>48</locationY>
        <flowName>Sales_CLI</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_CaseId</name>
            <value>
                <elementReference>vRecID3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRecordTypeId</name>
            <value>
                <elementReference>vRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vSurveyChoice</name>
            <value>
                <elementReference>Select</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Sales_CSI</name>
        <label>Run Sales CSI</label>
        <locationX>626</locationX>
        <locationY>205</locationY>
        <flowName>Sales_CSI</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_CaseId</name>
            <value>
                <elementReference>vRecID3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRecordTypeID</name>
            <value>
                <elementReference>vRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vSurveyChoice</name>
            <value>
                <elementReference>Select</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_SFU</name>
        <label>Run SFU</label>
        <locationX>435</locationX>
        <locationY>294</locationY>
        <flowName>SFU_Survey</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_CaseId</name>
            <value>
                <elementReference>vRecID3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRecordTypeId</name>
            <value>
                <elementReference>vRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vSurveyChoice</name>
            <value>
                <elementReference>Select</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>SurveyGreetingText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b&gt; Good Morning/Afternoon Mr/Ms (Customer’s surname) &lt;/b&gt;
I am “Name of Caller” from Cycle &amp; Carriage Mercedes-Benz. Today, I would like to conduct a
&lt;font color=&quot;blue&quot;&gt;&lt;u&gt;(Service Follow-Up Call / Sales Follow up call / Sales customer satisfaction index call)&lt;/u&gt;&lt;/font&gt;, to get 
your feedback in order to serve you better.
Is this a good time to speak to you?</text>
    </textTemplates>
    <textTemplates>
        <name>vNotes</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;font color=&quot;red&quot;&gt; Notes: Sales Follow Up Call is Sales CLI,
            Sales Customer Satisfaction Index is Sales CSI &lt;/font&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vContId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRegVehRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Registered_Vehicle__c</objectType>
    </variables>
</Flow>
